
  /* Header */
  .header {
    background-color: rgba(39, 2, 73, 0.788);
  }

  /* Sidebar */
  .sidebar {
    background-color: rgba(39, 2, 73, 0.788);
  }

  /* Main content */
  .container__content {
    background-image: url("https://images2.alphacoders.com/985/985070.jpg");
    background-position: center;
    background-size: cover;
  }

  .catalogue__filters-container{
    background: none;
    background-color: #420e589c;
    color: rgb(208, 157, 221);
    text-shadow: 1px 1px #61436e;
    border: solid 1px rgb(153, 10, 236);
  }

  .game-item{
    background-color: #420e58d8;
    border: solid 1px rgb(153, 10, 236);
  }

  .game-item:hover{
    background-color: #8915bbd8;
    transform: scale(1.02);
  }

  .game-card{
    border: solid 1px rgb(153, 10, 236);
  }

  .game-card:hover{
    transform: scale(1.02);
  }

  .hero{
    border: solid 1px rgb(153, 10, 236);
  }

  .hero:hover{
    transform: scale(1.02);
    transition: 300ms;
  }

  .settings__content{
    background: none;
    background-color: #420e589c;
    color: white;
  }

  .user-stats__box, .recent-games__box{
    background-color: #350b47dc;
    border: solid 2px rgb(0, 0, 0);
  }


  .download-group__item{
    background-color: #420e58d8;
    border: solid 1px rgb(153, 10, 236);
  }

  .download-group__item:hover{
    transform: scale(1.02);
  }

  .profile-content__section{
    color: white;
    text-shadow: 1px 1px #61436e;
  }

  .profile-hero__user-information{
    background: none;
    background-color: #420e5886;
  }

  /* Bottom panel */
  .bottom-panel {}


  /* Button */
  .button {
    background-color: rgba(143, 94, 189, 0.788);
    color: white;
  }

