
  /*
    Chibi furina dancing.
  */

  /* Header */
  .header {backdrop-filter: blur(8px);}

  /* Sidebar */
  .sidebar {}

  /* Main content */
  .container__content {backdrop-filter: blur(8px);}

  /* Bottom panel */
  .bottom-panel {backdrop-filter: blur(8px);}

  /* Toast */
  .toast {backdrop-filter: blur(8px);}

  /* Button */
  .button {}

body {
    margin: 0;
    color: #f0efef;
    font-family: helvetica;

  }


  #root {
    background: #242957
      url("https://media1.tenor.com/m/HqbYNgwMvc4AAAAd/furina-furina-de-fontaine.gif")
      no-repeat center center;
    background-size: cover;
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(36, 41, 87, 0.40) !important;
    backdrop-filter: blur(8px);

    }

  .container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(36, 41, 87, 0.40);
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(36, 41, 87, 0.40) !important;
  }


  .title-bar {
    background-color: #242957;
  }


  .home__content {
    background-color: rgba(36, 41, 87, 0.40);
    backdrop-filter: blur(8px);
  }

  .bottom-panel {
    background-color: rgba(36, 41, 87, 0.40);
  }
