#root {
    background: url(https://live.staticflickr.com/65535/54332389336_d0ffc2b7cf_b.jpg)
      #000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.sidebar,
.header,
.bottom-panel {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.home__content,
.container__content{
     background: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(8px);
  }

body {
    color: #9e9e9e;
  }
  
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(8px);
  }
  
.container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.settings-download-sources__item,
.download-group__item,
.game-item {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }