/* 
Black Myth: Wukong 
by bito_21
*/

body {
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-image: url('https://cdn.discordapp.com/attachments/1299472648941600781/1341526043756073051/Captura_de_tela_2025-01-30_182206.png?ex=67b650fd&is=67b4ff7d&hm=59fb0fef5e5f117f294558256bb1fe34b6639348a4b1bf70aadf60253627c237&');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(0.5px);
}

#root {
    background-repeat: no-repeat;
    background-size: cover;
}

.title-bar::after {
    content: "Black Myth: Wukong #bito_21";
    color: #ffffff;
    font-size: 14px;
    font-weight: 140;
    letter-spacing: 1px;
    display: inline;
    margin-top: 0.5px;
    margin-left: 7px;
}

.title-bar {
    background: rgba(255, 46, 98, 0);
    backdrop-filter: blur(10px);
}

.bottom-panel {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 46, 98, 0);
}

.home__content,
.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0);
}


.main-content,
.page-background {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 10px;
    padding: 10px;
}

.sidebar {
    border-radius: 0 10px 10px 0;
    background: rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    backdrop-filter: blur(12px);
}

.sidebar__menu-item-button {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.0911);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

.sidebar__menu-item-button:hover {
    background: rgba(0, 0, 0, 0);
    transform: scale(1.025);
}

.button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(8px);
}

.button:hover {
    background: rgba(0, 0, 0, 0);
    transform: translateY(-3px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5991);
}

.button:active {
    transform: scale(1.25);
}

.header {
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
}

.container__content {
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    backdrop-filter: blur(12px);
}

.game-item{
    background-color: rgba(0, 0, 0, 0.3911);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    padding: 8px;
}

.profile-avatar {
    border: 3px solid rgba(0, 0, 0, 0.3911);
    backdrop-filter: blur(10px);
}



.checkbox-field__checkbox {
    background-color: rgba(0, 0, 0, 0.411);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5911);
}

.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.settings-download-sources__item {
    background-color: rgba(0, 0, 0, 0.3911);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.download-group__item {
    background-color: rgba(0, 0, 0, 0.3911);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}
.select-field__option:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    opacity: 1;
}
.settings__content {
    background: none;
    background-size: cover;
    background-position: bottom;
}
.settings-download-sources__item,
.theme-card {
    background-color: #00000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    padding: 10px;

}
.game-details__container{
    backdrop-filter: blur(1px);
}
.sidebar-profile__friends-button{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5911);
}
.select-field__option{
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.settings__content{
    backdrop-filter: blur(1px);
}
.modal__header,
.toast,
.dropdown-menu__group,
.modal__content{
    background-color: #0000007a;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.911);
}

.header__search{
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid rgba(0, 0, 0, 0.4911);
}
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.gallery-slider__container{
    background-color: #02000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.911);
    border-radius: 3px 0 0 0;

}
.description-header{
    background: none;
    background-color: #00000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0.911);
    border-radius: 15px 0 0 0;
}
.sidebar-section__button{
    background: none;
    background-color: #00000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    border-radius: 0 15px 0 0;
}
.content-sidebar{
    background: none;
    background-color: #00000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0.911);
    border-radius: 0 0 15px 0;
}
.game-details__description-content{
    background: none;
    background-color: #00000000;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    border-radius: 15px 0 0 15px;
}
