/*
  Here you can edit CSS for your theme and apply it on Hydra.
  There are a few classes already in place, you can use them to style the launcher.

  If you want to learn more about how to run Hydra in dev mode (which will allow you to inspect the DOM and view the classes)
  or how to publish your theme in the theme store, you can check the docs:
  https://docs.hydralauncher.gg/

  Happy hacking!
*/

/* Background */
body {
  background: url('https://static.vecteezy.com/system/resources/previews/001/267/102/non_2x/japanese-theme-seamless-pattern-with-a-kitsune-mask-vector.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Header */
.header {
  background: rgba(32, 32, 32, 0.685);
  border-bottom: 3px solid rgba(223, 28, 28, 0.8);
  backdrop-filter: blur(5px);
}

/* Sidebar */
.sidebar {
  background: rgba(32, 32, 32, 0.685);
  backdrop-filter: blur(5px);
}

/* Main content */
.container__content {
  background: rgba(0, 0, 0, 0.363);
  border-radius: 1px;
}

body {
  color: #c5c5c5;
}

.text-field-container__textfield--dark,
.text-field-container__textfield--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(15, 15, 15, 0.377) !important;
  backdrop-filter: blur(3px);
}

.container__content .button--outline {
  background-color: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur (5px);
}
/* Bottom panel */
.bottom-panel {
  background: rgba(5, 5, 5, 0.651);
  border-top: 3px solid rgba(224, 33, 33, 0.8);
  backdrop-filter: blur(10px);
}

/* Toast */
.toast {
  background: rgba(17, 17, 17, 0.486);
  backdrop-filter: blur(2px);
}

/* Button */
.button {
  background: rgb(190, 30, 30);
  backdrop-filter: blur(2px);
}
.button:hover {
  background: rgb(143, 49, 49);
}
