/*    Create by @oGotiko   
      Discord: ogotiko
      Theme: Polaxy
      V1
*/

:root {
  --cyberpunk-primary: #ffffff; 
  --cyberpunk-secondary: #ffffff; 
  --cyberpunk-background: #ffffff8f; 
  --cyberpunk-text: #ffffff; 
  --cyberpunk-accent: #ec3d3d; 
  --cyberpunk-border: rgb(150, 79, 79); 
  background: url('https://www.shutterstock.com/shutterstock/videos/28363624/thumb/1.jpg?ip=x480') no-repeat center center fixed;
  background-size: cover;
}


.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    container-name: app-container;
    container-type: inline-size;
    margin: 20px;
    background-color: #2a0b5c00;
}

.header__title {
    transition: all ease 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ccacff;
    font-size: 25px;
    width: 100%;
}

.header__section {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    overflow: hidden;
}

/* Cyberpunk Background */
.container__content {
  margin: 50px;
  border-radius: 10px;
  padding: 10px;
  
}

.title-bar {
  text-align: center;
}

.title-bar::after {
  content: "V2: theme by: @oGotiko - PURPLESOFT";
  font-size: 12px;
  font-weight: 700;
  color: #ac6dff;
  letter-spacing: 5px;
 text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate, blink 10s infinite ease-in-out;
  display: block;
  text-align: right;
  margin-right: 25px;
  position: relative;
  right: -950px;
}



/* Cyberpunk Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  background-color: #5e1afd23;
}

::-webkit-scrollbar-track {
  background-color: #5e1afd71;
}

::-webkit-scrollbar-thumb {
  background-color: #570fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #44288523;
}

.button--outline {
  color: #ffffff;
}



/* Cyberpunk Buttons */
.button {
  background-color: #702af38a;
  color: #ffffff;
  border-radius: 60px;
}



.button--primary:hover {
  background-color: #1b03424d;
}



.button--outline:hover {
  background-color: rgb(100, 36, 248);
  scale: 1.05;
}

.button--dark {
  background-color: #6e0acc56;
  color: #ffffff;
}

.button--danger {
  background-color: #ff000093;
  color: #ffffff;
}

/* Cyberpunk Header */
.header {
  background-color: #100c20b4;
  padding: 20px;
  border-radius: 50px;



}

.header__back-button {
    color: #dcbbfd;
    cursor: pointer;
    -webkit-app-region: no-drag;
    position: absolute;
    transition: transform ease 0.2s;
    animation-duration: 0.2s;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    opacity: 5;
    pointer-events: none;
    animation-name: slide-out;
    scale: 1.5;
}

/* Cyberpunk Sidebar */
.sidebar {
  background-color:#0b0111a8;
  border-right: solid 1px var(--cyberpunk-border);
  margin: 20px;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

.sidebar:hover {
  transform: scale(1.02);
}

.sidebar__menu-item:hover {
  background-color: #5211cc59;
}

.sidebar__menu-item {
    transition: all ease 0.1s;
    cursor: pointer;
    display: flex;
    color: #cdadff;
    border-radius: 50px;

}


.sidebar-section__button {
    height: 72px;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    background-color: #0b0314;
    color: #c0c1c7;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
}


.sidebar__menu-item--active {
  background-color: rgba(144, 26, 255, 0.863);
}


.stats__section {
    display: flex;
    gap: 16px;
    padding: 16px;
    justify-content: space-between;
    transition: max-height ease 0.5s;
    overflow: hidden;
    background-color: #220635;
}

/* Cyberpunk Game Card */

.game-card:hover .game-card__cover {
  transform: scale(1.10);
}

.game-card:hover .game-card__content {
  transform: translateY(0px);
}

.hero-panel {
    width: 100%;
    height: 5px;
    min-height: 72px;
    padding: 12px 154px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.2s;
    overflow: hidden;
    top: 0;
    z-index: 0;
}

.button--outline {
  background-color: #000000;
  border: none;
}

.description-header {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 72px;
}


.hero:hover .hero__media {
  transform: scale(1.02);
}

/* Cyberpunk Modal */
.modal {
  background-color: var(--cyberpunk-background);
}

.modal__close-button:hover {
  opacity: 0.75;
}

/* Cyberpunk Toast */
.toast {
  background-color: #13032798;
  border-radius: 40px;

}

.toast__progress::-webkit-progress-value {
  background-color: var(--cyberpunk-primary);
}

.toast__close-button:hover {
  color: var(--cyberpunk-primary);
}

/* Cyberpunk Checkbox */
.checkbox-field__checkbox {
  background-color: #4603ffa1;
}

.checkbox-field__checkbox:hover:not(:has(input:disabled)) {
  border-color: var(--cyberpunk-primary);
}

/* Cyberpunk Select Field */
.select-field {
  border: none;
}

.select-field:hover {
  border-color: #000000;
}

.select-field--focused {
  border-color: #000000;
}

.select-field__option {
  background-color: #4a22ff79;
  color: #ffffff;
}

/* Cyberpunk Text Field */

.text-field-container__text-field:hover {
  border-color: var(--cyberpunk-primary);
}

.text-field-container__text-field--focused {
  border-color: var(--cyberpunk-primary);
}

/* Cyberpunk Badge */
.badge {
  color: rgb(255, 255, 255);
  background-color: #41068f;
  padding: 8px;
  margin: 5px;
}


.title-bar {
  background-color: hsla(249, 69%, 35%, 0.412);
  color: #893fff;
}

.title-bar__cloud-text {
  background: linear-gradient(270deg, var(--cyberpunk-primary) 50%, var(--cyberpunk-accent) 100%);
  background-clip: text;
  color: transparent;
}

.settings__content {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}

.sidebar__menu {
    list-style: none;
    padding: 8px;
    gap: 5px;
    flex-direction: column;
    overflow: hidden;
    background-color: #8e5cc71e;
    border-radius: 20px;
    
}


.sidebar__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 36px;
    gap: 12px;
    width: 100%;
    overflow: auto;
    color: #ffcaff71;
}

.sidebar-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #2b0f7548;
}



.container__content {
    background: #0000004d;
}

.bottom-panel {
    width: 100%;
    background-color: #4407a763;
    padding: 10px 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: all ease 0.2s;
    justify-content: space-between;
    position: relative;
    margin: 10px;
    z-index: 3;
}

.bottom-panel__downloads-button {
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}

.game-item {
  background-color: #fa262611;
  border: none;
}

.gallery-slider__container {
    padding: 24px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #200c668f;
    border: none;
}

.game-details__description {
    user-select: text;
    line-height: 22px;
    font-size: 15px;
    padding: 14px 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000e1;
    border: none;
}

.description-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110524c7;
    height: 90px;
    border: none;
}

.game-details__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 1;
    border: none;
}

.game-details__hero-content {
    padding:px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
}


.list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px;
    background-color: #0d042e;
    border: none;
}

* {
  border: none !important;
}

.how-long-to-beat__categories-list {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #0d042e;
}

.requirement__details {
    padding: 16px;
    line-height: 22px;
    font-size: 12px;
    background-color: #060335;
}

.game-details__description-content {
    width: 100%;
    height: 100%;
    background-color: #32075a;
}

.game-card__backdrop {
    background: linear-gradient(0deg, rgba(117, 53, 122, 0.486) 50%, transparent 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex;
    flex-direction: column;
    position: relative;

    
}

.home__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 120px;
    flex: 1;
    border-radius: 50px;
    overflow-y: auto;
}

.content-sidebar {
    background-color: #6c07f017;
    width: 100%;
    height: 100%;
}

.text-field-container__text-field-input {
    background-color: #26096993;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: default;
    font-family: inherit;
    text-overflow: ellipsis;
    padding: 8px;
    border-radius: 150px;
}

.text-field-container__text-field--dark {
    background-color: #5f3bff33;
    color: #00000098;
    border-radius: 150px;
}

.sidebar-profile__button {
    display: flex;
    cursor: pointer;
    transition: all ease 0.1s;
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #6d0aee85;

}

.sidebar-profile__button:hover {
    background-color: #661bdf59;
}

.sidebar-profile__friends-button {
    color: #c0c1c7;
    cursor: pointer;
    border-radius: 20%;
    width: 60px;
    min-width: 40px;
    min-height: 40px;
    height: 10px;
    background-color: #8416eb;
    position: relative;
    transition: all ease 0.3s;
}

.sidebar-profile__friends-button:hover {
    background-color: #cc00ff52;
}

.catalogue__filters-container {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    background-color: rgba(23, 7, 41, 0.288);
    border-radius: 30px;
    padding: 16px;
    align-self: flex-start;
}

.settings-download-sources__item {
    display: flex;
    flex-direction: column;
    background-color: #352f2f11;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    transition: all ease 0.2s;
}

.game-item {
    background-color: #351f4757;
    width: 100%;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    gap: 12px;
    transition: all ease 0.2s;
}

.game-item__genres {
    color: #ecdbff;
    font-size: 13px;
    text-align: left;
    margin-bottom: 4px;
}


.settings__content {
    background-color: #521ea71f;
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.user-stats__box {
    background-color: #00000098;
    border-radius: 50px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    padding: 30px;
}

.recent-games__box {
    background-color: #00000098;
    border-radius: 50px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    padding: 30px;
}

.header__search {
    background-color: #4123ca4f;
    border-radius: 50px;
    padding: 10px;
    margin: 25;
    position: relative;
}

.sidebar__menu-item-button {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 150px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    padding: 9px 8px;
}

.home__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    transition: all ease 0.2s;
}

.catalogue__games-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-radius: 50px;
  
}

.catalogue {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 50px;
    scroll-behavior: smooth;
}


.game-card__title-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1px;
    margin: 1px;
    color: #ffffff;
    background-color: #23073567;
    border-radius: 50px;
}


.game-card__specifics-item {
    gap: 2px;
    display: flex;
    color: #ffffff;
    font-size: 14px;
    align-items: flex-end;
    background-color: #00000049;
    border-radius: 50px;
}

.filter-section__orb {
    width: 20px;
    height: 20px;
    border-radius: 45%;
}

.theme-card {
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    gap: 4px;
    transition: background-color 0.2s ease;
    padding: 16px;
    position: relative;
}

.theme-card__header__title {
    font-size: 13px;
    font-weight: 800;
    color: #bc93ff;
    text-transform: capitalize;
}

.profile-hero__user-information {
    display: flex;
    padding: 56px 24px;
    align-items: center;
    gap: 18px;
    background-color: #9e0cff15;
}

.profile-hero__hero-panel {
    width: 100%;
    height: 82px;
    min-height: 72px;
    padding: 16px 24px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    background: linear-gradient(135deg, rgb(0, 0, 0), rgba(145, 9, 224, 0.5));
}

.modal__content {
    height: 100%;
    overflow: auto;
    padding: 24px 16px;
    background-color: #0c0524;
}

.modal__header {
    display: flex;
    gap: 8px;
    padding: 16px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    justify-content: space-between;
    align-items: center;
    background-color: #0d051a;
}

.hero-panel__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    transition: all ease 0.2s;
    background-color: #0a0a0a98;
}

.download-group__right-content {
    display: flex;
    padding: 16px;
    flex: 1;
    gap: 8px;
   background-color: #28074ee1;
}

.download-group__title {
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    text-align: left;
    font-size: 26px;
    display: block;
}