
body {
  margin: 0;
  color: #bec6c9;
  font-family: Arial, sans-serif;

}


#root {
  background: #000202bb
    url("https://i.imgur.com/1pbm3A8.jpeg")
    no-repeat center center;
  background-size: cover;
  }


.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent !important; 
}


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {

  background-color: rgba(16, 61, 59, 0.25) !important;
  backdrop-filter: blur(6px);

  }

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 230, 0, 0.308);
}


.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(173, 161, 53, 0.25) !important;
}


.title-bar {
  background-color: #02101456;
}


.home__content {
  background-color: rgba(173, 161, 53, 0.25);
  backdrop-filter: blur(4px);
}

.bottom-panel {
  background-color: rgba(173, 161, 53, 0.25);
}