/* 
  Tema: Paranoic
  Versão: BETA ETERNO V2 KKKKK
  Descrição: what????.
  Autor: Esther Discord: @sterlarbr
  Data de criação: 17/02/2025
  Última modificação: 18/02/2025
  Se você for usar (copiar) alguma parte do código, por favor, dê os devidos créditos. DUVIDO QUE ALGUEM VÁ QUERER KKKKKKKKKKKKKKKKK
*/

* {
  animation: disappear-reappear 12s infinite;
}

body {
  animation: crazy-color 6s infinite;
}


.header, .sidebar, .title-bar, .bottom-panel, .toast, .text-field-container__text-field--dark, 
.text-field-container__text-field--primary, .header__search, .game-item, .settings__content, 
.catalogue__filters-container, .friends-box__box, .user-stats__box, .recent-games__box, 
.modal__header, .modal__content, .repacks-modal__repacks button, .download-group__item, 
.game-details__description-container, .content-sidebar, .sidebar-section__button,.sidebar-profile, .sidebar-profile__button, .sidebar-profile__button-content, 
.profile-avatar, .sidebar-profile__button-information, .sidebar-profile__button-title, 
.sidebar-profile__friends-button, .theme-card__header, .theme-card__header__title, 
.modal, .modal__header-title, .modal__close-button, .modal__close-button-icon, .repacks-modal__filter-container, .text-field-container__text-field, 
.text-field-container__text-field-input, .repacks-modal__repack-title, 
.repacks-modal__repack-info, .download-group__cover, .download-group__cover-backdrop, 
.download-group__cover-image, .download-group__right-content, .download-group__title-wrapper, 
.download-group__details, .download-group__details-with-article, .download-group__menu-button, 
.game-details__cloud-sync-button, .hero-panel__content, .hero-panel-actions__action, 
.game-details__description, .gallery-slider__media, .gallery-slider__preview-button, .requirement__button, .requirement__button--primary, 
.requirement__button--outline, .bb_ul, .bb_ul li, .list__item-image--locked, .list__item p, 
.link, .subscription-required-button, .sidebar-section__chevron, 
.sidebar-section__chevron--open, .sidebar-section,.container__content, .home__content, .hero, .hero__backdrop, .hero__media, .hero__content, 
.hero__description, .home__header, .home__buttons-list, .header header--is-windows,
.home__title, .home__title-icon, .home__cards, .game-card, .game-card__backdrop, 
.game-card__cover, .game-card__content, .game-card__title-container, .game-card__shop-icon, 
.game-card__title, .game-card__download-options, .badge, .game-card__specifics, .container,
.game-card__specifics-item, .game-card__no-download-label {
  animation: crazy-color 6s infinite !important;
}

.container__content {
  background-color: green !important;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #8e44ad, 0 0 10px #8e44ad, 0 0 15px #8e44ad, 0 0 20px #3498db, 0 0 30px #3498db;
  }
  100% {
    text-shadow: 0 0 10px #8e44ad, 0 0 20px #8e44ad, 0 0 30px #8e44ad, 0 0 40px #3498db, 0 0 50px #3498db;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  14.29% {  
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  85.71% {  
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear-reappear {
  0%, 50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes paranoid-color {
  0% {
    background-color: #8e44ad;
  }
  50% {
    background-color: #3498db;
  }
  100% {
    background-color: #8e44ad;
  }
}

@keyframes crazy-color {
  0% {
    background-color: #8e44ad;
  }
  20% {
    background-color: #3498db;
  }
  40% {
    background-color: #e74c3c;
  }
  60% {
    background-color: #f1c40f;
  }
  80% {
    background-color: #2ecc71;
  }
  100% {
    background-color: #8e44ad;
  }
}

@keyframes change-text {
  0% {
    content: "9!@!#qSKAVSPM#";
  }
  25% {
    content: "XyZ!@#123";
  }
  50% {
    content: "ABC!@#789";
  }
  75% {
    content: "LMN!@#456";
  }
  100% {
    content: "9!@!#qSKAVSPM#";
  }
}

.paranoid {
  animation: crazy-color 6s infinite;
}

.title-bar h4 {
  visibility: hidden;
}

.title-bar::before {
  content: "Hydra Paranoic";
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #8e44ad, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate;
  display: block;
  text-align: left;
}

.title-bar::after {
  content: "Twitter: @onlysterbr";
  font-size: 8px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #8e44ad, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate, blink 70s infinite ease-in-out;
  display: block;
  text-align: left;
  margin-right: 11%;
}

.sidebar__menu-item-button span {
  visibility: hidden;
}

.sidebar__menu-item-button::before {
  content: "9!@!#qSKAVSPM#";
  font-size: 12px;
  color: #fff;
  display: block;
  animation: change-text 2s infinite;
}

.bottom-panel__version-button small[data-featurebase-changelog="true"] {
    display: none;
}

.bottom-panel::after {
    content: "Twitter: @onlysterbr / Discord: sterlarbr";
    display: block;
    text-align: center;
    font-size: 14px;
}
