/* SHADOW HYDRA THEME
By Prefeitura 
*/

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

#root > body, main, span,div {
  font-family: "Sour Gummy", sans-serif;

}

#root {
    background: url(https://images.hdqwalls.com/download/shadow-sonic-the-hedgehog-3-4s-1920x1080.jpg) #0D0D0D;
    background-position: center;
    background-repeat: no-repeat;
}

/* COR DA FONTE MAIS CLARA */
.game-item__genres,
.header__section--left,
.badge,
body {
    color: #ffffffd5;
}

/* BACKGROUND TRANSPARENTE */
.header--is-windows,
.sidebar,
.header,
.bottom-panel, 
.title-bar {
    background-color: rgba(0, 0, 0, 0.342); 
    backdrop-filter: blur(4px);
}

/* BORDAS */
.sidebar {
    border-right: 2px solid #ae292952;
}
.title-bar {
    border-bottom: 2px solid #ae292952;
}
.bottom-panel {
    border-top: 2px solid #ae292952;
}
.header--is-windows {
    border-bottom: 2px solid #ae292952;
}

/* TITULO DO HYDRA */
h4 {
    display: none;
}
.title-bar::after {
    content: "shadow hydra";
    font-family: "Rock Salt", cursive;
    font-size: 15px;
    text-transform: uppercase;
    color: #F90006;
    letter-spacing: 5px;
    border-radius: 20px;
    display: inline-block;
    filter: contrast(1.5) brightness(1.2);
    text-shadow: 
        3px 3px 0px #000000,  
        -1px -1px 0px #F90006, 
        0 0 20px #791919ad,   
        0 0 10px #482B5F,  
        0 0 20px #da1818,  
        0 0 40px #4F2A59,  
        0 0 10px #4F2A59;
}

/* BOTTOM */
.bottom-panel__version-button,
.bottom-panel__downloads-button{
    color: #FFFF00;
    border-bottom: none !important;
    transition: all ease 0.2s;
}
.bottom-panel__version-button:hover,
.bottom-panel__downloads-button:hover{
    color: #ffff00a4;
    transform: scale(0.99);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, 0.253);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(253, 9, 9, 0.527);  
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(253, 9, 9, 0.212);
}
.rc-virtual-list-scrollbar-vertical {
    background: rgba(0, 0, 0, 0.253)!important;
}
.rc-virtual-list-scrollbar-thumb {
    background-color: rgba(253, 9, 9, 0.527) !important; 
  
}
.rc-virtual-list-scrollbar-thumb:hover {
    background-color: rgba(253, 9, 9, 0.212)!important;
}

/* BARRA DE BUSCA PRINCIPAL */
.header__search {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(4px);
    border: 3px solid #6a1d1ada;
}
.header__search:hover {
    border-color: #F90006;
}
.header__search--focused {
    border-color: #F90006;
}
.header__search-input::placeholder {
    color: #f0f0f05e;
}
.header__action-button:hover,
.header__action-button {
    color: #852D21;
}

/* BOTÕES PRINCIPAIS */
.button {
    background: rgba(0, 0, 0, 0.616);
    color: #ffffff;
    border: 3px solid #6a1d1ada;
    border-radius: 15px;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.350);
    transform: scale(1.05);
    border-color: #F90006;
}
.button--primary {
    background-color: rgba(0, 0, 0, 0.350);
    border-color: #F90006;
}
.download-group__menu-button:hover {
    background-color: rgba(0, 0, 0, 0.349);
}

/* BARRA DE NAVEGACAO */
.sidebar-profile__button {
    border-radius: 15px;
    transition: all ease 0.3s;
}
.sidebar-profile__button:hover {
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.836) 30%, transparent 100%);
    transform: scale(0.95);
}
.octicon-people {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=22393&format=png&color=f90006); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
    transition: all ease 0.3s;
}
.octicon-people:hover {
    transform: scale(0.95);
}
.sidebar-profile__friends-button-badge{
    background-color: #260080;
}
.sidebar-profile__friends-button {
    background-color: transparent;
    transition: all ease 0.3s;
}
.sidebar-profile__friends-button:hover {
    background: rgba(0, 0, 0, 0.468);
    transform: scale(0.95);
}
.sidebar__menu-item {
    transition: all ease 0.3s;
    padding: 4px;
}
.sidebar__menu-item--active {
    background: rgba(0, 0, 0, 0.658);
    border-radius: 15px;
}
.sidebar__menu-item:hover {
    background: rgba(0, 0, 0, 0.468);
    border-radius: 15px;
    transform: scale(0.95);
}
.sidebar__menu-item:active {
    transform: scale(1);
}
.octicon-home {
    color:#FFFF00;
}
.octicon-apps {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=37813&format=png&color=f90006); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
}
.octicon-download {
    color: #701cdf;
}
.octicon-gear {
    color: #AE4F29;
}
.text-field-container__text-field.text-field-container__text-field--dark{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(4px);
    border: 3px solid #6a1d1ada;
}
.text-field-container__text-field.text-field-container__text-field--dark.text-field-container__text-field--focused:hover,
.text-field-container__text-field.text-field-container__text-field--dark.text-field-container__text-field--focused{
    border: 3px solid #6a1d1ada;
}
.sidebar-profile__button--information,
.sidebar__section-title,
.text-field-container__text-field-input::placeholder {
    color: #ffffff;
}
.octicon-person{
    color: #F90006;
}

/* PERFIL */
.react-tooltip{
    background: #f9000475!important;
    border-radius: 15px!important;
}
.profile-hero__user-information{
    margin-top: 20px;
}
.profile-hero__display-name {
    color: #ffffff;
}
.profile-hero__hero-panel {
    border-top: none;
    box-shadow: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.profile-hero__content-box {
    border-radius: 15px;
}
.profile-hero__background-image {
    border-radius: 15px;
}
.profile-hero__avatar-button {
    border-radius: 15px;
    width: 90px;
    height: 90px;
    min-height: 90px;
    transition: all ease 0.2s;
}
.profile-hero__avatar-button:hover {
    transform: scale(1.05);
}
.octicon-pencil {
    color: #ffaa00;
}
.profile-avatar {
    border-radius: 15px;
}
.edit-profile-modal__avatar-overlay {
    border-radius: 15px;
}
.edit-profile-modal__avatar-container {
    border-radius: 15px;
}
.user-library-game__wrapper {
    border-radius: 15px;
}
.user-library-game__playtime {
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 100px;
    border: 3px solid #6a1d1ada;
}
.user-library-game__achievements-progress::-webkit-progress-value {
    background-color: #791919d7; 
}
.friends-box__box,
.user-stats__box,
.recent-games__box {
    background-color: rgba(0, 0, 0, 0.514); 
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
}
.user-stats__section-header, 
.recent-games__section-header,  
.friends-box__section-header {
    font-size: 10.5px;
}
.user-stats__list-title {
    color: #ffffff;
}
.user-stats__list-item {
    transition: all ease 0.3s;
}
.user-stats__list-item:hover {
    background: none;
    border-radius: 15px;
    transform: scale(1.03);
}
.user-stats__link {
    text-decoration: none !important;
    color: #FFFF00;
    transition: all ease 0.2s;
}
.user-stats__link:hover{
    color: #ffff00a4;
}
.user-stats__link--warning:hover{
    color: #ffff00a4;
}
.user-stats__link--warning {
    color: #FFFF00;
}
.octicon-trophy {
    color: #FFFF00;
}
.recent-games__list {
    gap: 2px;
}
.recent-games__list-item {
    border-radius: 15px;
    transition: all ease 0.3s;
}
.recent-games__list-item:hover {
    background: none;
    transform: scale(1.03);
}
.friends-box__friend-name {
    color: #ffffff;
}
.friends-box__list-item {
    transition: all ease 0.3s;
}
.friends-box__list-item:hover {
    border-radius: 15px;
    transform: scale(1.03);
    background: none;
}
.octicon-clock {
    color: #340275;
}
.octicon-check-circle-fill {
    color: #8EDF5F;
}
.octicon-x-circle-fill {
    color: #F90006;
}
.octicon-blocked {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=hVQFAf6VVJnt&format=png&color=F25081); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
    transition: all ease 0.3s;
}

.octicon-sign-out{
    color: #E71129;
}

/* INICIO */
.container__content {
    background: rgba(0, 0, 0, 0.062); 
}
.home__content {
    backdrop-filter: blur(3px);
    gap: 10px;
}
.hero__media {
    transition: all ease 0.2s;
}
.hero__media:hover {
    transform: scale(1.03s);
}
.hero {
    border-radius: 15px;
    border: 4px solid #6a1d1ada;
    height: 500px;
    min-height: 500px;
}
@media screen and (max-width: 1600px) {
    .hero {
        border-radius: 15px;
        border: 4px solid #6a1d1ada;
        height: 400px;
        min-height: 400px;
    }
}
.home__icon-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 24px;
    height: 56px;
    background-image: url(https://img.icons8.com/?size=100&id=houGsYyNpCbu&format=png&color=000000);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.home__title-icon {
    position: relative;
    width: 32px;
}
.home__stars-icon,
.home__flame-icon {
    display: none !important;
}
.home__title-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://img.icons8.com/?size=100&id=houGsYyNpCbu&format=png&color=000000); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.game-card {
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
}
.game-card:hover {
    border: 3px solid #F90006;
}
.game-card__backdrop {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.747) 25%, transparent 100%);
}
.game-card__backdrop:hover {
    background: linear-gradient(29deg, rgba(0, 0, 0, 0.945) 25%, transparent 100%);
}

/* CATALOGO */
.catalogue__filters-container,
.header__back-button {
    color: #f0f0f0;
}
.game-item {
    transition: all ease 0.2s;
    width: 100%;
    gap: 0px;
    justify-content: flex-start;
    flex-direction: column;
    border: 3px solid #6a1d1ada;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.534) 25%, transparent 100%);
    backdrop-filter: blur(3px);
    border-radius: 15px;
}
.game-item:hover {
    transform: scale(1.03);
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.945) 25%, transparent 100%);
    border: 3px solid #F90006;
}
.badge {
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
    padding: 5px 10px;
    background-color: #00000065;
}
.game-item__cover {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1400px) and (max-width: 1920px) {
    .game-item__cover {
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
    }
}
.catalogue__games-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 5px;
    row-gap: 5px;
    grid-template-rows: 300px 300px 300px 300px 300px;
}
.game-item__details {
    padding: 20px;
    text-align: left;
}
.catalogue {
    gap: 0px;
    flex-direction: column;
}
.catalogue__pagination-container {
    gap: 10%;
    display: flex;
    align-items: flex-start;
}
.catalogue__result-count {
    flex-direction: row;
    font-size: 13px;
    color: white;
}
.pagination__button {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.582);
}
.pagination__button:hover {
    background-color: rgba(0, 0, 0, 0.856);
    border: 3px solid #F90006;
}
.pagination__button.button--primary {
    background-color: rgba(0, 0, 0, 0.582);
    border: 3px solid #F90006;
}
.pagination__button.button--primary:hover {
    background-color: rgba(0, 0, 0, 0.856);
    border: 3px solid #F90006;
}
.catalogue__filters-container {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border: 3px solid #6a1d1ada;
}
.checkbox-field__checkbox {
    transition: all ease 0.2s;
    background: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(8px);
    border: 2px solid #6a1d1ada;
    color: #FFFF00;
}
.checkbox-field__checkbox.checked {
    border: 2px solid #F90006 !important;
}
.checkbox-field__checkbox:hover {
    transform: scale(0.93);
    color: #ffff00a4;
    border: 2px solid #6a1d1ada !important;
}
.filter-section__title {
    font-size: 17px;
    color: white;
}
.filter-item {
    border-radius: 15px;
    border: 3px solid #F90006;
    margin: 5px;
    background-color: #000000;
    color: white;
}
.filter-section__clear-button {
    color: #FFFF00;
}
.catalogue__filters-list {
    gap: 0px;
}

/* DOWNLOAD */
.download-group__item {
    border-radius: 15px;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.918) 25%, transparent 100%);
    backdrop-filter: blur(4px);
    border: 3px solid #6a1d1ada;
}
.download-group__title {
    transition: all ease 0.2s;
    color: #FFFF00;
    text-decoration: none !important;
}
.download-group__title:hover {
    color: #ffff00a4;
    transform: scale(0.99);
}
.dropdown-menu__item {
    color: white;
    transition: all ease 0.2s;
    border-radius: 15px;
}
.dropdown-menu__item:hover {
    color: rgba(255, 255, 255, 0.623);
    background: none;
    transform: scale(1.03);
}
.dropdown-menu__content {
    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(3px);
    border: 3px solid #6a1d1ada;
    border-radius: 15px;
}
.octicon-link {
    color: #192f86;
}
.octicon-file-directory {
    color: #d8b103;
}
.octicon-three-bars {
    color: rgb(255, 255, 255);
}
.octicon-play {
    color: #6AA136;
}
.octicon-columns {
    color: #43a5e6;
}
.octicon-question{
    color: #43a5e6;
}
.download-group__cover {
    border-right: none;
}
.download-group__header-divider {
    background-color: #ae292952;
}
.octicon-arrow-down{
    color:#FFD700 ;
}
.downloads__arrow-icon{
    color: #FFD700;
}
/* PAGINA DE JOGO */
.game-details__cloud-sync-button{
    border-radius: 15px;
    border: 2px solid #6a1d1ada;
}
.game-details__cloud-sync-button:hover{
    border-color: #F90006;
    transform: scale(1.03);
}
.hero-panel{
    border-bottom: solid 1px #ae292952!important;
}
.description-header{
    color: white;
    background-color: transparent;
}
.game-details__description-container{
    background: rgba(0, 0, 0, 0.534); 
    backdrop-filter: blur(3px);
}
.gallery-slider__preview-image,
.gallery-slider__preview-button--active,
.gallery-slider__preview-button,
.gallery-slider__media,
.gallery-slider__animation-container{
    border-radius: 15px;
}
.content-sidebar{
    background-color: transparent;
    border-left: solid 1px #ae292952!important;
}
.sidebar-section__button{
    background: rgba(0, 0, 0, 0.096); 
    backdrop-filter: blur(4px);
    color: white;  
}
.sidebar-section__button:hover{ 
    background: linear-gradient(29deg, rgb(0, 0, 0) 35%, transparent 100%);
} 
.subscription-required-button{
    color: #FFFF00;
    text-decoration: none!important;
    transition: all ease 0.2s;
}
.subscription-required-button:hover{
    color: #ffff00a4;
    transform: scale(0.99);
}
.list__item{
    color: white;
    transition: all ease 0.2s;
}
.list__item:hover{
    border-radius: 15px;
    transform: scale(1.03);
    background-color:rgba(0, 0, 0, 0.685);
}
.link{
    color: white;
    text-decoration: none!important;
    transition: all ease 0.2s;
}
.link:hover{
    transform: scale(0.99);
    color: rgba(255, 255, 255, 0.418);
}

.how-long-to-beat__category-label{
    color: white;
}
.how-long-to-beat__category{
    margin-top: -6px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur (4px);
    border: 3px solid #6a1d1ada;
    transition: all ease 0.2s;
}
.how-long-to-beat__category:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}
.how-long-to-beat__categories-list{
    gap: 9px;
}
.requirement__details{
    color: white;
}
.requirement__button-container{
    gap: 10px;
    margin: 10px;
    width: 90%;
}
.requirement__button{
    border-color:  #6a1d1ada;
}
.requirement__button:disabled{
    background-color: rgba(0, 0, 0, 0.575);
}
.octicon-plus-circle{
  display: inline-block;
  background-image: url(https://img.icons8.com/?size=100&id=102544&format=png&color=000000); 
  background-size: cover;
  background-repeat: no-repeat;
  fill: transparent !important; 
  color: transparent !important; 
}
.octicon-chevron-left{
    color:#FFD700;
}
.octicon-chevron-right{
    color:#FFD700;
}
.octicon-heart-fill{
    color: #F90006;
}

/* CONQUISTAS */
.achievement-panel {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    backdrop-filter: blur(4px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #6a1d1ada;
}
.achievements__item {
    background: linear-gradient(29deg, rgb(0, 0, 0) 35%, transparent 100%);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    color: white;
    transition: all ease 0.2s;
}
.achievements__item:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease-in-out;
    background-color: #000000ce;
}
.achievements__list {
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    gap: 5px;
}
.achievements__item-hidden-icon,
.achievements__item-points-value,
.achievement-panel__link,
.achievement-panel__link--warning {
    color: #FFFF00;
    text-decoration: none !important;
    transition: all ease 0.2s;
}
.achievements__item-hidden-icon:hover,
.achievements__item-points-value:hover,
.achievement-panel__link:hover,
.achievement-panel__link--warning:hover {
    color: #ffff00a4;
}

/* AJUSTES */
.settings__content {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    color: white;
    border: 3px solid #6a1d1ada;
}
.text-field-container__text-field {
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #6a1d1ada;
    background-color: #00000071;
}
.text-field-container__text-field:hover {
    border-color: #F90006;
}
.select-field--primary {
    border: 3px solid #6a1d1ada;
    background-color: #00000071;
}
.select-field--primary:hover {
    border-color: #F90006;
}
.select-field__option {
    background-color: #000000fa;
    padding: 3px;
    border-radius: 0px;
}
.button.button--primary.settings-general__common-redist-button {
    background: rgba(0, 0, 0, 0.616);
    color: #ffffff;
    border: 3px solid #6a1d1ada;
    border-radius: 15px;
}
.button.button--primary.settings-general__common-redist-button:hover {
    background-color: rgba(0, 0, 0, 0.350);
    transform: scale(1.05);
    border-color: #F90006;
}
.settings-download-sources__item {
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    padding: 30px;
}
.octicon-desktop-download {
    color: #525a66;
}
.link.settings-real-debrid__create-account,
.link.settings-torbox__create-account,
.settings-download-sources__navigate-button {
    color: #FFFF00;
    text-decoration: none !important;
    transition: all ease 0.2s;
}
.link.settings-real-debrid__create-account:hover,
.link.settings-torbox__create-account:hover,
.settings-download-sources__navigate-button:hover {
    color: #ffff00a4;
}
.theme-card {
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
}
.theme-card__header__title {
    color: white;
}
.theme-card__author__name{
    color: #FFFF00;
    text-decoration: none !important;
    transition: all ease 0.2s;
}
.theme-card__author__name:hover{
     color: #ffff00a4;
}
.select-field__label {
    color: white;
}
.octicon-cloud{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=80&id=RcBBZX2XlWJV&format=png);
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important;
    color: transparent !important; 
}
.octicon-mail {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=48&id=P7UIlhbpWzZm&format=png); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
}
.octicon-key{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=80&id=8YYCBRn7uGCl&format=png); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important;
}
.octicon-globe{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=9bFauyyx9YO4&format=png&color=000000); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important;
}
.octicon-trash{
    color: #FF3333;
}
.octicon-sync{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=21100&format=png&color=000000); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important;
}
.octicon-no-entry{
    color: #350010;
}
 /* Language Selector Override */
 



/* MODAL DE AMIGOS*/
.modal{
    border-radius: 15px;
    border: 3px solid #6a1d1ada;
    background: linear-gradient(29deg, rgba(0, 0, 0, 0.733) 5%, transparent 100%);
    color: white;
}
.modal__header{
    background: linear-gradient(49deg, rgba(0, 0, 0, 0.726) 5%, transparent 100%);
    border-bottom: 3px solid #6a1d1ada;
}
.modal__close-button-icon{
    color: #F90006;
}
.modal__close-button-icon:hover{
    color:#f90004c4; 
}
.user-friend-modal__friend-code-button{
    color: #FFD700;
}
.user-friend-modal__friend-code-button:hover{
    color: #ffd900af;
}
.button.button--primary.user-friend-modal-add-friend__button{
    border: 3px solid #6a1d1ada;
}
.button.button--primary.user-friend-modal-add-friend__button:hover{
    border: 3px solid #F90006;
}
.user-friend-item__container{
    background: linear-gradient(29deg, rgb(0, 0, 0) 25%, transparent 100%);
    border-radius: 12px;
    color: white;
    transition: all ease 0.2s;
}
.user-friend-item__container:hover{
    transform: scale(0.99);
    transition: transform 0.1s ease-in-out;
    background-color: #000000b6;
}
.octicon-check-circle{
    color: #6aa1369f;
}
.octicon-check-circle:hover{
    color: #8add3b;
}
.octicon.octicon-x-circle{
    color:#6a1d1ada;
}
.octicon.octicon-x-circle:hover{
    color:#F90006;
}
.report-profile__button{
    color: #FFFF00;
    text-decoration: none !important;
    transition: all ease 0.2s;
}
.report-profile__button:hover{
    color:#ffd900af;
    transform: scale(0.99);
}
.user-friend-item__accept-button:hover{
    color: #8EDF5F;
}
.user-friend-item__cancel-button:hover{
    color: #8e0408;
}
.octicon-person-add{
    color: #8EDF5F;
}

/*MODAL EDITE PERFIL*/
.button.button--primary.edit-profile-modal__submit{
    border: 3px solid #6a1d1ada;
}
.button.button--primary.edit-profile-modal__submit:hover{
    border: 3px solid #F90006;
}
.button.button--primary.edit-profile-modal__submit:disabled{
    background: linear-gradient(29deg, rgb(0, 0, 0) 25%, transparent 100%);
}
.text-field-container__text-field.text-field-container__text-field--primary.text-field-container__text-field--focused{
    border: 3px solid #F90006;
}
.toast{
    border-radius: 15px;
    background: linear-gradient(109deg, rgba(0, 0, 0, 0.932) 35%, transparent 100%);
    border: 3px solid #F90006;
}
.toast__progress::-webkit-progress-value{
    background:#791919 ;
}
.toast__progress::-webkit-progress-bar {
    background: linear-gradient(350deg, rgba(0, 0, 0, 0.719) 5%, transparent 100%)
}
.toast__close-button{
    color: #F90006;
}
.toast__close-button:hover{
    color:#f90004c4; 
}

/*MODAL PAGINA DE GAMES */
.repacks-modal__repack-button{
    border-radius: 15px;
}
.repacks-modal__repack-title{
    color: white;
}
.repacks-modal__repack-info{
    color: white;
}
.octicon-file{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=3e0VGst16Oy4&format=png&color=000000); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
}
.download-settings-modal__downloader-icon{
    color: #8EDF5F;
}

/* UPTADE */
.auto-update-sub-header{
    border-bottom: 1px solid #FFD700;
   background-color: #00000086;
}
.auto-update-sub-header__new-version-button{
    color: #FFFF00;
    text-decoration: none !important;
    transition: all ease 0.2s;
}
.auto-update-sub-header__new-version-button:hover{
    color:#ffd900af;
    transform: scale(0.99);
}
.auto-update-sub-header__new-version-icon{
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=2xBD40ZC5Ct2&format=png&color=40C057); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
}