body {
    color: #ffffff;
    background: #4b0a4bd8 url(https://cdnb.artstation.com/p/assets/images/images/041/601/775/original/ida-franzen-karlsson-background-animation.gif?1632167232) no-repeat center top;
    background-size: cover;
  }
  
  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent;
  }
  
  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(170, 15, 157, 0.3) !important;
  }
  
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar,
  .container__content .button--outline {
    backdrop-filter: blur(3px);
    background-color: rgba(122, 12, 80, 0.3);
  }
  