#root {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.65)), url(https://r4.wallpaperflare.com/wallpaper/823/1023/805/son-goku-anime-saiyan-dragon-ball-z-digital-art-hd-wallpaper-e8d69d883020ec0820dc916e8842b40a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sidebar,
.header,
.bottom-panel {
    backdrop-filter: blur(8px);
    background: transparent;
}

.container__content {
    background: transparent;
}

.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box,
.settings__content,
.profile-hero__content-box,
.profile-hero__hero-panel {
    background: rgba(0, 0, 0, 0.55) !important;
    backdrop-filter: blur(8px) !important;
}