/* BODY */
body {
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: #b1b1b1;
  margin: 0 8px 8px 8px;
  background: url('https://images7.alphacoders.com/116/1162247.jpg') #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* BUTTON */
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.settings-download-sources__item,
.download-group__item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.button--outline {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(120, 120, 120, 0.5);
}
.button--outline:hover {
  background-color: rgba(80, 80, 80, 0.2);
}

/* LAYOUT */
.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}
.settings__container,
.settings__content,
.home__content,
.downloads__container {
  padding: 16px;
}
.sidebar,
.header {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}
.bottom-panel {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  margin-bottom: 6px;
  border-top: 0px;
}
.container__content {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 8px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  margin-bottom: 6px;
}
.header {
  padding: 8px 16px;
  margin: 6px 0px 6px 0px;
}
.title-bar {
  border-radius: 0 0 6px 6px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

/* PROFILE */
.profile-content__section {
  padding: 16px;
}
.sidebar-profile__friends-button {
  border-radius: 8px;
}

/* CATALOGUE */
.catalogue {
  padding-top: 0px;
}
.filter-item {
  margin-top: 16px;
}

/* SETTINGS */
.settings-download-sources__item {
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.5);
}

/* DOWNLOADS */
.download-group__menu-button{
  border: 1px solid rgba(60, 60, 60, 0.5);
  border-radius: 8px;
}
.download-group__item {
  background-color: rgba(5, 5, 5, 0.5);
  border: 1px solid rgba(75, 75, 75, 0.5);
}

/* CARD */
.game-card__download-options {
  flex-wrap: nowrap;
}
.game-item:hover {
  background-color: rgba(80, 80, 80, 0.2);
}
.game-item {
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.5);
}

/* INFO PAGE */
.content-sidebar {
  background-color: rgba(5, 5, 5, 1);
}
.game-details__description-content {
  background-color: rgba(10, 10, 10, 1);
}
.description-header,
.sidebar-section__button {
  background-color: rgba(15, 15, 15, 1);
}
.game-details__description {
  padding: 8px;
}

/* HERO */
.hero {
  border: 0;
}
.hero__backdrop {
  transition: ease-out 0.3s;
}
.hero__backdrop:hover {
  box-shadow: inset -100px 100px 240px rgba(255, 255, 255, 0.05);
}

/* SIDEBAR */
.sidebar-profile {
  padding: 0 8px 8px 8px;
}
.sidebar__content {
  padding: 0 8px 0 8px;
}
.sidebar {
  margin: 6px 6px 6px 0px;
  border-radius: 8px;
}

/* MODAL */
.modal {
  background-color: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 6px;
}
.modal__content {
  padding: 12px;
}
.modal__header {
  padding: 12px;
}

/* ACHIEVEMENTS */
.achievements-content__achievements-list__section__container {
  border-radius: 0 0 8px 8px;
}
.achievement-panel {
  background-color: rgba(10, 10, 10, 0.8);
}
.achievements__list {
  background-color: rgba(10, 10, 10, 0.8);
}

/* SCROLL */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
