body {
    margin: 0;
    padding: 0;
    background: url('https://picfiles.alphacoders.com/656/656127.png') no-repeat center center fixed; 
    background-size: cover; 
    filter: saturate(1.2) brightness(1.2) contrast(1.2); 
    color: #ffffff; 
    font-family: Arial, sans-serif; 
}

.title-bar::before {
  content: "夕焼け";
  font-size: 25;
  font-weight: 700;
  color: #ffb6c1;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: block;
  text-align: left;
}

.title-bar h4 {
  visibility: hidden;
}


.container {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
    filter: blur(0px); 
    position: relative;
    z-index: 1; 
}

.sidebar, .header, .container__content, .bottom-panel {
  background: rgba(76, 0, 130, 0);
  border: 2px solid #ffb6c1;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.89);
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(146, 5, 139, 0);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 217, 0, 0);
  border-radius: 10px;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(87, 3, 3, 0) 0%, transparent 70%);
    z-index: -1;
}


.container h1, .container p {
    margin: 0;
    padding: 10px 0;
    color: #ffffff; 
}


.button {
    background-color: #ffb6c12a;
    border: none;
    color: rgba(255, 255, 255, 0.781);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
}


.button:hover {
    background-color: #fff; 
    color: black; 
}


/*
---夕日の詩
夕日が沈む空に
橙色の光が広がる
静けさが包み込む
日が消え、星が輝き出す
心の中に残る温もり
*/