:root {
  --theme-border-radius: 8px;
  --theme-background-1-opacity: 0.75;
  /* #f0f0f0 */
  --theme-background-1-color: 240, 240, 240;
  /* #e6e6e6 */
  --theme-background-2-color: 230, 230, 230;
  /* #4b4b4b */
  --theme-surface-1-color: 75, 75, 75;
  /* #191919 */
  --theme-surface-2-color: 25, 25, 25;
  /* #e4e4e4 */
  --theme-text-1-color: 228, 228, 228;
  --theme-border-color: rgba(0, 0, 0, 0.15);
  --theme-background-hover-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--theme-surface-1-color));
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    var(--theme-surface-1-color),
    var(--theme-background-1-opacity)
  );
}

.title-bar {
  background-color: rgb(var(--theme-surface-2-color));
  color: rgb(var(--theme-text-1-color));
}

body,
.sidebar-profile__button,
.sidebar-profile__friends-button,
.sidebar__menu-item,
.header,
.header__back-button,
.auto-update-sub-header__new-version-button,
.user-stats__list-item,
.recent-games__list-item,
.select-field__label,
.sidebar-section__button,
.link,
.list__item,
.how-long-to-beat__category-label,
.theme-card__header__title,
.theme-card__author,
.modal,
.button:not(.button--primary) {
  color: rgb(var(--theme-surface-2-color));
}

.sidebar {
  color: rgba(var(--theme-surface-2-color), 0.65);
}

.sidebar,
.header__search,
.auto-update-sub-header,
.user-stats__box,
.recent-games__box,
.settings__content,
.game-item,
.achievement-panel,
.achievements__list,
.catalogue__filters-container,
.bottom-panel,
.downloads__arrow-icon,
.modal {
  background: rgb(var(--theme-background-1-color)) !important;
}

.header,
.container__content,
.game-details__description-container,
.description-header,
.content-sidebar,
.sidebar-section__button,
.toast {
  background: rgb(var(--theme-background-2-color)) !important;
}

.title-bar,
.sidebar,
.sidebar-profile__friends-button,
.header,
.bottom-panel,
.user-stats__box,
.recent-games__box,
.game-item,
.content-sidebar,
.how-long-to-beat__category,
.achievement-panel,
.catalogue__filters-container,
.settings__content,
.theme-card,
.button:not(.button--primary) {
  border-color: var(--theme-border-color);
}

.sidebar-profile__friends-button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}

.catalogue__content {
  position: relative;
}

.catalogue__games-container {
  --catalogue-filters-width: 270px;
  --catalogue-gap-x: 16px;
  width: calc(100% - var(--catalogue-filters-width) - var(--catalogue-gap-x));
}

.profile-hero__actions .button,
.profile-hero__user-information .link,
.hero-panel__actions .button,
.hero-panel,
.achievements-content__user-summary__container,
.game-card .badge {
  color: rgba(var(--theme-text-1-color), 0.65);
}

.hero-panel__actions .button {
  border-color: rgba(var(--theme-text-1-color), 0.15);
}

.game-item__details {
  color: rgb(var(--theme-surface-2-color));
}

.header__search-input,
.achievements__item,
.game-item__genres,
.theme-card__author__name,
.badge,
.bottom-panel__downloads-button,
.bottom-panel__version-button,
.text-field-container__text-field-input,
.select-field__option {
  color: rgb(var(--theme-surface-1-color));
}

.sidebar-profile__button:hover,
.sidebar-profile__friends-button:hover,
.sidebar__menu-item:hover,
.list__item:hover,
.sidebar-section__button:hover,
.achievements__item:hover {
  background-color: var(--theme-background-hover-color) !important;
}

.achievement-panel__content-icon path,
.achievements__item-points-icon path {
  fill: rgb(var(--theme-surface-1-color));
}

.sidebar-profile__button,
.user-library-game__wrapper,
.user-stats__box,
.recent-games__box,
.sidebar__menu-item,
.hero,
.game-card,
[aria-live="polite"][aria-busy="true"],
.achievements__item,
.catalogue__filters-container,
.game-item,
.list__item,
.how-long-to-beat__category,
.modal {
  border-radius: var(--theme-border-radius);
}

.catalogue__filters-container {
  --header-height: 74px;
  --catalogue-padding: 16px;
  --footer-height: 28px;
  position: fixed;
  right: 25px;
  overflow-y: auto;
  height: calc(
    100% - var(--header-height) - var(--catalogue-padding) -
      var(--footer-height)
  );
  color: rgb(var(--theme-surface-2-color));
}

.container:has(.auto-update-sub-header) .catalogue__filters-container {
  --header-update-height: 26px;
  height: calc(var(--header-height) - var(--header-update-height));
}

.settings__content {
  box-shadow: none;
}

[aria-live="polite"][aria-busy="true"],
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.select-field__option,
.checkbox-field__checkbox {
  background-color: rgba(var(--theme-surface-1-color), 0.15);
}

.button--dark,
.select-field--primary {
  background-color: transparent;
}

.button--danger {
  color: rgb(var(--theme-text-1-color)) !important;
}

.game-card,
.home__cards [aria-live="polite"][aria-busy="true"],
.home__cards .home__card-skeleton {
  aspect-ratio: 16 / 9;
  height: 100%;
}

.theme-card {
  --alpha: 0.2;
  background-color: rgba(var(--theme-background-1-color), var(--alpha));
}

.theme-card.theme-card--active {
  --alpha: var(--theme-background-1-opacity);
}
