:root {
  --color-primary: #d1767e;
  --color-secondary: #67d0e8;
  --color-accent: #ddcab9;
  --color-text: #FFFFFF;
  --color-dark: #1b4665;
  --color-dark-secondary: #228bad;
}

body {
  color: var(--color-accent);
  background: url(https://images7.alphacoders.com/335/335857.jpg) no-repeat top;
  background-color: var(--color-dark);
  background-size: cover
}

#root {
  background-color: transparent;
}

.sidebar,
.container__content,
.bottom-panel {
  background: transparent;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(29, 53, 87, 0.8) !important;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(34, 139, 173, 0.5);
  color: var(--color-accent);
  border: 1px solid var(--color-secondary);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(34, 139, 173, 0.6) !important;
  border: 2px solid var(--color-text);
}

.button--outline:hover,
.game-item:hover {
  color: var(--color-text) !important;
  border: 2px solid var(--color-dark-secondary) !important;
}

.settings-download-sources__item:hover,
.download-group__item:hover {
  background-color: var(--color-text);
  color: var(--color-dark);
  border-color: var(--color-secondary);
}

.game-item .category, .game-item span, .game-item p {
  color: #FFFFFF !important;
}

.header, .header * {
  color: #FFFFFF !important;
  background: transparent;
}

.game-item *.game-item {
  border: 2px solid var(--color-dark) !important;
}

.title-bar, .header {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #67d0e8;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1b4665;
}