.sidebar, .header, .container__content {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.575);
}

.title-bar h4 {
  visibility: hidden;
}

.sidebar__menu.sidebar__menu-item-button{
  margin: 10px;
  padding: 10px 15px;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
}

.sidebar__section.sidebar__menu-item{
  padding: 5px 15px;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
.game-details__container {
  top: 5%;
  bottom: 5%;
}
}

.title-bar::before {
  content: "SUPER HYDRA 4";
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #9444ad, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate;
  display: block;
  text-align: left;
}

/*Parte de Luminosidade do Titulo se removido os hex considera o background*/
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fc0000, 0 0 10px #fc0000, 0 0 15px #fc0000, 0 0 20px #3498db, 0 0 30px #3498db;
  }
  100% {
    text-shadow: 0 0 10px #fc0000, 0 0 20px #fc0000, 0 0 30px #fc0000, 0 0 40px #3498db, 0 0 50px #3498db;
  }
}

.title-bar::after {
  content: "theme by: @Sanctos";
  font-size: 8px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #8e44ad, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate, blink 30s infinite ease-in-out;
  display: block;
  text-align: left;
  margin-right: 11%;
}

/* Animação de brilho */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #8e44ad, 0 0 10px #8e44ad;
  }
  100% {
    text-shadow: 0 0 20px #3498db, 0 0 30px #3498db;
  }
}

/* Animação de alternância de visibilidade */
@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  14.29% {  /* 10 segundos visível */
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  85.71% {  /* 1 minuto invisível */
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Barra personalizada */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #831616, #1a1a2e);
  border-radius: 0px;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #3a0ca3, #1b0527);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(135deg, #3a0ca3, #1a1a2e);
}

.bottom-panel{
    background-color: transparent;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    border-color: transparent;
    border-radius: 1px;
  }

body {
    color: rgba(255, 255, 255, 0.781);
    font-family: system-ui;
    font-style: oblique;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=54747) auto !important;
    border-radius: 30px;
    font-weight: 200;
}

.header {
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
  }

.sidebar {
    margin: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }

.sidebar-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background: linear-gradient(135deg, #000000a1, #000000a1);
    border-radius: 5px;
    padding: 12px 15px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.116);
    margin: 10px;
    width: 250px; 
    overflow: hidden; 
}

.sidebar-profile__button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;

}

.sidebar-profile__button:hover {
    transform: scale(1.05);
}

.sidebar-profile__button-content {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}



.profile-avatar {
    width: 100px; 
    height: 100px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.profile-avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-profile__button-information {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    word-wrap: break-word; 
    overflow: hidden; 
}

.sidebar-profile__button-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    white-space: normal; 
    word-wrap: break-word; 
}

.sidebar-profile__friends-button {
    background: transparent;
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
    box-sizing: border-box; 
}

.sidebar-profile__friends-button:hover {
    transform: scale(1.2);
}

.sidebar-profile__friends-button svg {
    width: 18px;
    height: 18px;
    fill: white;
}

.sidebar-profile__friends-button:hover svg {
    fill: #ffffff;
}

/* faz o L */
.container__content {
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .game-item{
    border-radius: 20px;
    height: 120px;
    gap: 50px;
    border-color: rgba(46, 46, 46, 0);
    transition: transform 0.2s ease-in-out;
  }

#root {
    background: url(https://i.imgur.com/FeVFwTO.gif) #750E3E;
    background-size: cover;
    background-repeat: no-repeat;
}

.settings__content, .catalogue__filters-container, .friends-box__box, .sidebar {
    background-color: rgba(15, 7, 11, 0.479) !important;
    backdrop-filter: blur(10px);
}

.game-item {
    background-color:transparent;
    border-radius: 15px;
    height: 120px;
    gap: 15px;
    border-color: transparent;
    transition: transform 0.2s ease-in-out;
}

.game-item:hover{
    transform: scale(1.02)
  }

  .game-item:active{
    transform: scale(1)
  }

.container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.616);
}

.settings-download-sources__item, .download-group__item, .game-item {
    background-color: rgba(15, 7, 11, 0.479) !important;
}

.title-bar {
    background-color: rgba(15, 7, 11, 0.479);
}

.home__content {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px);
    font-weight: lighter;
    gap:10px;
}

.text-field-container__text-field--dark, .text-field-container__text-field--primary {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.header__search{
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(10px);
  width: 200px;
  padding: 10px ;
  border-radius: 20px;
  }

.user-stats__box {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

.game-details__description-container {
background: rgba(0, 0, 0, 0.6);
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.description-header{
    color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    width: 98%;
    background-color: transparent;
}

.sidebar-section__button{
  background:transparent;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.list{
    background-color: transparent;
    border-radius: 30px;
}

.how-long-to-beat__categories-list{
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
}

.button--primary.requirement__button{
    background-color: transparent;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.button--primary:hover{
  background: transparent;
}

.button--outline.requirement__button{
    border-radius: 20px;
    background-color: transparent;
    margin-right: 5px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}


.button {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(240, 248, 255, 0.178);
    border-radius: 100px;
    transition: transform 0.2s ease-in-out;
}

.button:hover{
   transform: scale(1.05)
  }

.recent-games__box{
    background-color: transparent;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.friends-box__box {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

.hero__content{
  justify-content: center;
}

.hero{
  border-radius: 20px;
  border-color: transparent;
  height: auto;
  box-shadow: none;
}

.badge{
  border-radius: 100px;
  border-color: rgb(248, 245, 245);
  padding: 5px 10px;
}

.catalogue{
  gap: 0px;
  flex-direction: column;
}

.game-card{
  border-radius: 30px;
  box-shadow: none;
}

.game-details__cloud-sync-button{
  border-radius: 30px;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
}

.game-details__cloud-sync-button:hover{
  transform: scale(1.05);
}

.stats__section{
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-details__description {
font-size: 1.1em;
line-height: 1.5;
color: #ddd;
}

.gallery-slider__media{
  border-radius: 30px;
}

.gallery-slider__preview-button--active{
  border-radius: 20px;
}

.gallery-slider__preview-image{
  border-radius: 20px;
}

.content-sidebar {
flex-direction: column;
width: 300px;
background-color: transparent; 
color: #fff;
padding: 20px;
border-radius: 8px;
font-family: Arial, sans-serif;
backdrop-filter: blur(10px); 
}

.user-library-game__playtime{
  border-radius: 100px;
  background-color:#0000006c ;
  backdrop-filter: blur(5px);
}

.profile-hero__hero-panel{
  border-top:none;
  box-shadow: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: none;
}

.profile-hero__content-box{
  border-radius: 20px;
  background-color: none;
}

.profile-hero__avatar-button{
  border-radius: 100px;
  box-shadow: none;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
}

.profile-hero__display-name{
  font-size: 40px;
  font-weight: 300;
}

.profile-hero__display-name{
  font-size: 40px;
  font-weight: 300;
}

.user-stats__list-item{
  border-radius: 20px;
  padding: 15px;
  gap: 1px;
}

.user-stats__list{
  gap: 1px;
}

.recent-games__list-item{
  border-radius: 15px;
  transition: transform 0.3s;
}

.recent-games__list-item:hover{
transform: scale(1.03);
}

.requirement__details{
  color: #ffffffa2;
}

.requirement__button{
  border-color: black;
}

.requirement__button:hover{
  transform: scale(1.05);
  background-color: #383838;
}

.how-long-to-beat__categories-list{
  width: 100%;
  gap: 5px;
}

.achievement-panel{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.575);
  border-color: #ffffff27;
}

.achievements__list{
  background-color: #00000000;
  gap: 5px;
}

.achievements__item{
  background-color: #141414ce;
  border-radius: 10px;
}

.settings__content{
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.185);
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.text-field-container__text-field--primary{
  border-radius: 30px;
  padding: 6px;
  border-color: #000000;
}

.select-field__option{
  border-radius: 30px;
}

.settings-download-sources__item {
  border-radius: 30px;
  border-color: rgba(255, 255, 255, 0.185);
  background-color: #141414;
  padding: 30px;
}

.theme-card{
  border-radius: 30px;
  border-color: rgba(255, 255, 255, 0.185);
  background-color: #0f0f0f;
  padding: 20px;
}

.profile-content__games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: transparent;
}

.user-library-game__wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.user-library-game__wrapper:hover {
  transform: scale(1.05);
}

.user-library-game__game-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.user-library-game__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.user-library-game__wrapper:hover .user-library-game__overlay {
  opacity: 1;
}

.user-library-game__playtime {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 15px;
}

.user-library-game__playtime svg {
  fill: #f2f2f2;
}

.user-library-game__cover {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.user-library-game__cover:focus {
  outline: none;
}

.profile-content__games-grid li {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.profile-content__games-grid li:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

small {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.user-library-game__stats {
  margin-top: 160px;
  padding: 5px;
  background-color: transparent;
  color: white;
  border-radius: 0.313rem;
  font-size: 14px;
  text-align: center;
}

body > div.backdrop.backdrop--windows > div > div.modal__content > div.repacks-modal__repacks > button {
  background-color: rgba(29, 15, 15, 0.356);
}

.modal__content {
  background: linear-gradient(135deg, #000000, #831616, #1a1a2e, #0000ff);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite alternate ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}