body {
  color: #ffffff;
  background: #000 url(https://images.pexels.com/photos/31011601/pexels-photo-31011601.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center top;
  background-size: cover;
}

.sidebar,
.header,
.container__content,
.bottom-panel {
  backdrop-filter: blur(0.5px);
  background: transparent;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar,
.container__content .button--outline {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}
