/* Importando a fonte 'Saira Semi Condensed' corretamente */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

/* Aplicando a fonte 'Saira Semi Condensed' aos elementos */
#root > body, main, span {
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

main {
  background-image: url('https://i.imgur.com/iYcWWgF.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}


.title-bar {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  background-image: url('https://i.imgur.com/iYcWWgF.png');
  background-size: cover;
  border: none;
}

@container app-container (min-width: 1300px) {
    .profile-content__games-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

.title-bar h4{
  display: none;
}

.sidebar, .containerm, .header, .container__content {
  background: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

element.style {
    width: 390px;
    min-width: 389px;
    max-width: 390px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li {
  background-color: rgba(240, 248, 255, 0);
  height: 54px;
  padding-left: 10%;
  background-image: url('https://i.imgur.com/Nhwem7D.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li:hover{
  height: 60px;
  margin-left: 3%;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li.sidebar__menu-item.sidebar__menu-item--active {
  margin-left: 3%;
  background-color: rgba(240, 248, 255, 0);
  height: 60px;
  background-image: url('https://i.imgur.com/S20IgOy.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-transform: uppercase;
}

.sidebar-profile__button{
  background-image: url('https://i.imgur.com/dULGjS1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  border-radius: 0px;
}

.sidebar-profile__button:hover{
  padding-left: 5%;
  width: 55%;
  height: 105%;
  background-color: #ffe10000;
}

.sidebar-profile__button:active{
    width: 50%;
  height: 100%;
}

.sidebar-profile__friends-button{
  background-color: rgba(240, 248, 255, 0);
  background-image: url('https://i.imgur.com/rGeHbId.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 15%;
  height: 100%;
  border-radius: 0px;
}

.sidebar-profile__friends-button:hover{
  background-color: #ffe10000;
  width: 5%;
}
.sidebar-profile__friends-button:active{
  width: 20%;
}

.sidebar-profile{
  justify-content: center;
  gap: 5px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li.sidebar__menu-item.sidebar__menu-item--active > button > svg, #root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li > button > svg {
  color: #FFE100;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li.sidebar__menu-item.sidebar__menu-item--active > button > span {
  color: aqua;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 15px;
}

.sidebar__section{
  padding-left:10%;
  padding-right:0%;
  padding-top:20px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul{
  gap: 5px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li{
  padding-left: 15px;  
  background-image: url('https://i.imgur.com/yMbdiqE.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li:hover{
  background-color: #ffe10000;
  padding-left: 20px;
  background-image: url('https://i.imgur.com/hz6vYEH.png');
}

#root > main > aside > div > div.sidebar__content > section:nth-child(2) > ul > li:active{
  padding-left: 30px;
}

.sidebar__section{
  gap: 0px;
}

#root > main > article > header > section:nth-child(2){
  width: 50%;
}

.header__action-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.header__search {
  width: 100%;
  background-color: #ffe10000;
  color: #e43333;
  border: none;
  border-radius: 0px;
  background-image: url('https://i.imgur.com/lIejYpj.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.header__search--focused{
  width: 100%;
  background-image: url('https://i.imgur.com/lIejYpj.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark{
  border: none;
  background-color: #ffe10000;
}

#\:r0\:{
  background-color: #ffe10000;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  background-image: url('https://i.imgur.com/Sduwctd.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar__menu-item-button{
  color: #ffffff;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li.sidebar__menu-item.sidebar__menu-item--active{
  padding-left: 30px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li{
   padding-left: 40px;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(3) > ul > li > button:hover{
  background: none;
  background-color: #2b141cf5;
  border: 2px solid #983433;
}

.home__content{
  padding: 0% 7%;
}

/* Personalizando a scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Largura da scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #B93E3C; /* Cor da parte da scrollbar que se move */
  border-radius: 0px; /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
  background-color: #2E1B22; /* Cor do fundo da scrollbar */
}

.header__title--has-back-button h3{
  color: #983433;
}

.settings-appearance__button, .button--danger, .upload-background-image-button{
  text-transform: uppercase;
  color: #2cf8ff;
  border: 2px solid #983433;
  border-radius: 0px;
  background-color: #632c33f5;
  box-shadow: none;
}

.game-details__cloud-sync-button{
  color: #2cf8ff;
  border: 2px solid #983433;
    border-radius: 0px;
    box-shadow: none;
}

.user-library-game__overlay{
  border-radius: 0px;
}

.button--primary, .button--dark{
  text-transform: uppercase;
  color: #FF4545;
  border: 2px solid #983433;
  border-radius: 0px;
  background-color: #632c3300;
}

.button--primary:hover{
  background-color: #92434d70;
}

#root > main > article > section > section > div > div > div.settings-appearance__themes > div > div.theme-card__actions > div.theme-card__actions__left > button{
  border: 1px solid #983433;
  color: #2cf8ff;
}

#root > main > article > section > section > div > div > div.settings-appearance__themes > div.theme-card.theme-card--active > div.theme-card__actions > div.theme-card__actions__left > button{
  color: #e41612;
}

.button--outline{
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
}

.button--outline:hover{
  color: #76ffe8;
  border: 2px solid #6d2725c2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  border-radius: 0px;
  background-color: #632c3300;
}

.home__buttons-list{
  width: 50%;
}

.settings__content{
  background-color:#2b141c00;
  box-shadow: none;
  border-radius: 0px;
  border: 2px solid #98353300;
}

.theme-card--active, .settings-download-sources__item, .catalogue__filters-container, .user-stats__box, .recent-games__box, .friends-box__box {
    border: 2px solid #983433;
    border-radius: 0px;
    background-color: #632c3370;
}

.download-group__item:hover{
  background-color: #632c3349;
}

.game-item, .download-group__item{
    border: 2px solid #9835335e;
    border-radius: 0px;
    background-color: #632c3327;
    box-shadow: none;
}

.game-item__cover{
  width: 28%;
}

.downloads__groups{
  margin-right: 5%;
}

.theme-card {
    border: 2px solid #98353356;
    border-radius: 0px;    
}

.text-field-container__text-field--primary, .badge, .filter-item, .user-library-game__playtime{
    border: 2px solid #98353349;
    border-radius: 0px;
    background-color: #5a272ea2;
    color: #2cf8ff;
    backdrop-filter: blur(10px);
}

#root > main > article > section > section > div > div > div.text-field-container > div > button{
  color: #2cf8ff;
  border: 2px solid #983433;
  border-radius: 0px;
  background-color: #632c33f5;
}

.select-field__option{
    color: #18fdf2;
  border: 2px solid #983433;
  border-radius: 0px;
  background-color: #632c33f5;
}

.select-field--primary{
  border: none;
}

.checkbox-field__checkbox, .cheked, .checkbox-field__input{
  border-radius: 0px;
  background-color: #632c33f5;
  color: #18fdf2;
  border: 2px solid #983433;
  border-radius: 0px;
}

.modal{
  border-radius: 0px;
  background-color: #632c333f;
  color: #ffffff;
  backdrop-filter: blur(10px);
}

.modal__content{
  border-top: 0px solid #983433;
  border-bottom: 2px solid #983433;
  border-left: 2px solid #983433;
  border-right: 2px solid #983433;
}

.modal__header{
  background-color:#22141942;
  color: #18fdf2;
  border: 2px solid #983433;
}

.game-card, .hero{
  padding: 0px;
  border-radius: 0px;
  border: 2px solid #98353354;
  box-shadow: none;
}

.game-card{
  height: 200px;
}

.user-friend-item__container{
    border: 2px solid #983433;
   border-radius: 0px;
}

body > div.backdrop.backdrop--windows > div > div.modal__content > div > div.user-friend-modal-add-friend__pending-container > div > button > div.user-friend-item__button__content > p{
  color: #18fdf2;
}

.home__cards{
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
}

.game-card__backdrop{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.game-card__content {
    FONT-WEIGHT: 200;
    color: #dadbe1;
    padding: 8px 16px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    transition: all ease 0.2s;
    transform: translateY(75%);
}

.game-card__title-container{
  padding-bottom: 50px;
}

.achievements-content__achievements-list__section__table-header {
  background-color: #18fdf200;
  border: none;
  margin-right: 20px;
  margin-left: 20px;

}

.achievement-panel__grid--with-subscription, .achievements__list{
  background-color: #18fdf200;
  border: 2px solid #98353354;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.achievements-content__achievements-list__section{
  margin-right: 20px;
}

.sidebar-profile__friends-button-badge {
    background-color: #2E1B22;
    color: #00ccff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 0px;
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid #c74953;
}

.game-details__description-container, .description-header, .content-sidebar{
  background: none;
  border-left: none;
}

.sidebar-section__button{
  color: #2cf8ff;
  border: 2px solid #98353344;
  border-radius: 0px;
  background: none
}

.sidebar__help-button{
  border: none;
}

.bottom-panel{
  background-color: #060B13;
  border: 2px solid #98353344;
}

.catalogue{
  gap: 0px;
  flex-direction: column;
}

.catalogue__filters-list{
  gap: 0px;
}

.catalogue__pagination-container{
  gap: 10%;
  display: flex;
  align-items: flex-start;
}

.catalogue__result-count{ 
  flex-direction: row;
  font-size: 13px;
  color: rgb(150, 150, 150);
}

.game-card__content{
  padding: auto;
}
