/* OneShot based theme! Credits on the art goes for: 
Background: NightMargin
Sidebar: u/tardfuck-exists on Reddit! */

.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #ffffff;
}

#root {
  background: url(https://images2.alphacoders.com/977/thumb-1920-977890.png)
    #000;
  background-position: top;
  background-repeat: no-repeat;
}


  /* Sidebar */
  .sidebar {
    background-image: url('https://files.catbox.moe/8z3rbu.gif');
    background-position: 50%;
    z-index: 1;
    color: #FFFFFF
  }
  .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
  }


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.container__content .button--outline {
  background-color: rgba(88, 19, 21, 0.233);
  backdrop-filter: blur(4px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(158, 22, 22, 0.5);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(158, 22, 22, 0.5);
}
