/* CASTLEVANIA HYDRA THEME
description: Castlevania Hydra Theme for Kamusary
By: Prefeitura
*/

#root {
  background: url(https://wallpapercave.com/wp/wp4163782.jpg)
    #0D0D0D;
  background-position: center;
  background-repeat: no-repeat;
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
background:#0D0D0D;
}
::-webkit-scrollbar-thumb {
background: #ff8c005b;
}
::-webkit-scrollbar-thumb:hover {
background: #bc653daf;
}
::-webkit-scrollbar-thumb:active {
background: #BC653D;
}



/* COR DA FONTE MAIS CLARA */
.bottom-panel__version-button,
.bottom-panel__downloads-button,
.game-item__genres,
.download-group__title,
.header__section--left,
.badge,
body {
  color: #ffffff;
}



/* BACKGROUND TRANSPARENTE */
.sidebar,
.header,
.bottom-panel, 
.title-bar {
background-color: rgba(0, 0, 0, 0.342); 
backdrop-filter: blur(4px);
}



/* BARRA DE BUSCA PRINCIPAL */
.header__search{
border-radius: 100px;
background-color:#0d0d0dbe;
border-color: #FF8C00;
}
.header__search:hover{
border-color: #BC653D;
}
.header__search--focused{
border-color: #BC653D;
}
.header__search-input::placeholder{
color: #f0f0f0bd;
}



/* BOTÕES PRINCIPAIS */
.button {
  background: transparent;
  color: #ffffff;
  border-color: #FF8C00;
  border-radius: 15px;
}
.button:hover{
 background: #bc653d8f;
 transform: scale(1.05);
 border-color: #BC653D;
}
.button--primary{
background-color: #cf79479d;
backdrop-filter: blur(3px);
border-color:  #FF8C00;
}
.download-group__menu-button:hover{
 background-color: rgba(0, 0, 0, 0.507);
}


/* TITULO DO HYDRA */
h4 {
display: none;
}
.title-bar::after {
  content: "castlevania hydra";
  font-family: 'Old London';
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFC00;
  letter-spacing: 5px;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  filter: contrast(1.5) brightness(1.2);
  text-shadow: 
    0 0 5px  #FF4500,   /* Glow VERMELHO suave */
    0 0 10px #FF073A,  /* Glow VERMELHO médio */
    0 0 20px #FF0000,  /* Glow VERMELHO forte */
    0 0 40px #FF0000,  /* Glow VERMELHO ao redor */
    0 0 60px #FF0000;  /* Glow VERMELHO mais intenso */
}




/* BARRA DE NAVEGACAO */

.sidebar-profile__button{
border-radius: 10px;
}
.sidebar-profile__button:hover{
transform: scale(1.05);
transition: transform 0.2s ease-in-out
}

.sidebar-profile__friends-button{
color: #E6C200;
background-color: transparent;
}
.sidebar-profile__friends-button:hover{
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}

.sidebar__menu-item{
padding: 5px;
}
.sidebar__menu-item--active{
border-radius: 15px;
}
.sidebar__menu-item:hover{
border-radius: 15px;
transform: scale(0.95);
}
.sidebar__menu-item:active{
transform: scale(1);
}


.text-field-container__text-field--dark{
border-radius: 100px;
background-color: #0d0d0dbe;
}
.text-field-container__text-field--dark:hover{
border-color: #BC653D;
}



.sidebar-profile__button--information,
.sidebar__section-title,
.text-field-container__text-field-input::placeholder{
color: #f0f0f0bb;
}



/* PERFIL */
.profile-hero__hero-panel{
border-top:none;
box-shadow: none;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}
.profile-hero__content-box{
border-radius: 15px;
}
.profile-hero__background-image{
border-radius: 15px;
}
.profile-hero__avatar-button{
border-radius: 5px;
box-shadow: none;
width: 100px;
min-width: 15px;
height: 100px;
min-height: 100px;
}


.user-library-game__wrapper{
border-radius: 15px;
}
.user-library-game__playtime{
border-radius: 100px;
background-color:#00000050;
}


.friends-box__box,
.user-stats__box,
.recent-games__box{
background-color: rgba(0, 0, 0, 0.342); 
backdrop-filter: blur(4px);
  border-radius: 15px;
  border-color: #FF8C00;
}
.user-stats__section-header, 
.recent-games__section-header,  
.friends-box__section-header{
font-size: 10.5px;
}


.user-stats__list-item:hover{
border-radius: 15px;
transform: scale(1.03);
}
.user-stats__link{
color: #FFD700;
}
.user-stats__link--warning{
color: #FFD700;
}

.recent-games__list{
gap: 2px;
}
.recent-games__list-item{
border-radius: 15px;
transition: transform 0.3s;
}
.recent-games__list-item:hover{
transform: scale(1.03);
}


.friends-box__list-item:hover{
border-radius: 15px;
transform: scale(1.03);
transition: transform 0.3s;
}





.octicon-check-circle-fill{
color: #8EDF5F;
}
.octicon-x-circle-fill{
color: #8e0408;
}
.octicon-blocked{
color: #A6B2C3;
}





/* INICIO */
.container__content{
background: rgba(0, 0, 0, 0.062); 
}
.home__content {
background-color: transparent;
backdrop-filter: blur(3px);
gap: 10px;
}


.hero{
border-radius: 15px;
border-color: #FF8C00;
height: 500px;
min-height: 500px
}
@media screen and (max-width: 1600px ){
.hero{
border-radius: 15px;
border-color: #FF8C00;
height: 400px;
min-height: 400px
}
}


.game-card{
border-radius: 15px;
border-color: #FF8C00;
}
.game-card:hover{
border-color: #BC653D;
}



/* CATALOGO */
.catalogue__filters-container,
.header__back-button{
color: #f0f0f0;
}


.game-item{
  width: 100%;
  gap: 0px;
  justify-content: flex-start;
  flex-direction: column;
  border-color: #FF8C00;
  background-color: rgba(0, 0, 0, 0.342); 
  backdrop-filter: blur(3px);
  border-radius: 15px;
}
.badge{
border-radius: 100px;
border-color: rgb(34, 34, 34);
padding: 5px 10px;
background-color: #00000065;
backdrop-filter: blur(10px);
}
.game-item:hover{
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.253); 
  backdrop-filter: blur(3px);
  border-color: #BC653D;
}
.game-item__cover{
height: 30%;
width: 100%;
display: flex;
align-items: center;
}
.catalogue__games-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5px;
  row-gap: 5px;
  grid-template-rows: 300px 300px 300px 300px 300px;
}
.game-item__details{
padding: 20px;
text-align: left;
}
.catalogue{
gap: 0px;
flex-direction: column;
}
.catalogue__pagination-container{
gap: 10%;
display: flex;
align-items: flex-start;
}
.catalogue__result-count{ 
flex-direction: row;
font-size: 13px;
color:white;
}
.pagination__button{
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.582); 
}
.pagination__button.button--primary{
  background-color: #cf79479d; 
}
.pagination__button.button--primary:hover{
  background-color: #bc653d8f;
}



.catalogue__filters-container{
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.342); 
backdrop-filter: blur(4px);
border-color: #FF8C00;
}
.checkbox-field__checkbox{
background: rgba(0, 0, 0, 0.212);
backdrop-filter: blur(8px);
border-color: #FF8C00;
color:#065735;
}
.checkbox-field__checkbox:hover{
color: #068a53;
}

.filter-section__title{
font-size: 17px;
color: white;
}
.filter-item{
border-radius: 15px;
border-color: #FF8C00;
margin: 5px;
background-color:#0d0d0dbe;
color: white;
}
.filter-section__clear-button{
  color:#FFD700;
}
.catalogue__filters-list{
gap: 0px;
}



@media screen and (min-width: 1400px) and (max-width:1920px){
.game-item__cover{
height: 40%;
width: 100%;
display: flex;
align-items: center;
}
}




/* DOWNLOAD */
.download-group__item{
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.342); 
  backdrop-filter: blur(4px);
  border-color: #BC653D;
}
.dropdown-menu__group, 
.dropdown-menu__separator{
  background-color: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  color:#f0f0f0;
  padding: 15px;
}
.dropdown-menu__item {
  border-radius: 15px;
}
.dropdown-menu__item:hover {
  background-color: rgba(255, 255, 255, 0.089);
}
.dropdown-menu__content{
  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(4px);
  border-color: #BC653D;
}
.dropdown-menu__separator{
  display: none;
}
.download-group__cover{
  border-right: none;
}





/* PAGINA DE JOGO */
.game-details__cloud-sync-button{
border-radius: 15px;
}
.game-details__cloud-sync-button:hover{
transform: scale(1.05);
}


.description-header{
  color: rgba(255, 255, 255, 0.979);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  width: 98%;
  background-color: transparent;
}
.game-details__description-container{
background: rgba(0, 0, 0, 0.425); 
backdrop-filter: blur(4px);
}
.gallery-slider__preview-image,
.gallery-slider__preview-button--active,
.gallery-slider__preview-button,
.gallery-slider__media,
.gallery-slider__animation-container{
  border-radius: 15px;
}



.content-sidebar{
background-color: transparent;
}
.sidebar-section__button{
background: rgba(0, 0, 0, 0.425); 
backdrop-filter: blur(4px);
color: rgb(255, 255, 255); 
}
.sidebar-section__button:hover{
transform: scale(0.99);
}


.subscription-required-button{
color: #FFD700;
}
.list__item{
color: white;
}
.list__item-image{
border-radius: 15px;
}
.list__item:hover{
border-radius: 15px;
transform: scale(1.03);
transition: transform 0.3s ease-in-out;
}
.link{
color: white;
}


.how-long-to-beat__category-label{
color: white;
}
.how-long-to-beat__category{
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.493);
backdrop-filter: blur(4px);
border-color: #BC653D;
}
.how-long-to-beat__category:hover{
transform: scale(0.95);
transition: transform 0.3s ease-in-out;
}
.how-long-to-beat__categories-list{
width: 100%;
gap: 5px;
}


.requirement__details{
color: white;
}
.requirement__button-container{
gap: 10px;
margin: 10px;
width: 90%;
}
.requirement__button{
border-color: #FF8C00;
}






/* CONQUISTAS */
.achievement-panel{
background-color:  rgba(0, 0, 0, 0.555);
color: white;
backdrop-filter: blur(4px);
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.achievements__item{
background-color: rgba(0, 0, 0, 0.425); 
backdrop-filter: blur(3px);
border-radius: 15px;
color:white;
}
.achievements__item:hover{
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
}
.achievements__list{
background-color: rgba(0, 0, 0, 0.342); 
backdrop-filter: blur(4px);
gap: 5px;
}
.achievements__item-image{
border-radius: 15px;
}



.achievements__item-hidden-icon,
.achievements__item-points-value,
.achievement-panel__link,
.achievement-panel__link--warning{
color: #FFD700;
}



/* AJUSTES */
.settings__content{
border-radius: 15px;
background-color: rgba(0, 0, 0, 0.349); 
backdrop-filter: blur(5px);
color: white;
border-color:#FF8C00;
}
.text-field-container__text-field{
border-radius: 15px;
padding: 15px;
border-color: #FF8C00;
background-color: #00000071;
}
.text-field-container__text-field:hover{
border-color: #BC653D;
}
.select-field--primary{
border-radius: 20px;
border-color: #FF8C00;
background-color: #00000071;
}
.select-field--primary:hover{
  border-color:#BC653D;
}

.select-field__option{
border-radius: 15px;
background-color: #00000071;
}



.settings-download-sources__item {
border-radius: 15px;
border-color: #FF8C00;
background-color: rgba(0, 0, 0, 0.349); 
backdrop-filter: blur(5px);
padding: 30px;
}



.theme-card{
border-radius: 15px;
border-color: #FF8C00;
background-color: rgba(0, 0, 0, 0.349); 
padding: 20px;
}
.theme-card__header__title{
color: white;
}
.select-field__label{
color: white;
}


.settings-download-sources__navigate-button{
color:  #FFD700;
}



/* JANELAS SECUNDARIAS*/
.modal{
border-radius: 15px;
background-color: #bc653d50;
color: white;
}
.modal__header{
background-color: #bc653d93;
}
.user-friend-modal__friend-code-button{
color: #FFD700;
}
.user-friend-modal__friend-code-button:hover{
color: #ffd900af;
}


.repacks-modal__repack-button{
border-radius: 15px;
}
.repacks-modal__repack-title{
color: white;
}
.repacks-modal__repack-info{
color: white;
}


.edit-profile-modal__avatar-overlay{
border-radius: 100px;
}
.edit-profile-modal__avatar-container{
border-radius: 100px;
}


.user-friend-item__container{
  border-radius: 15px;
}
.user-friend-item__container:hover{
background-color: #bc653d57;
}



/* ICONES */ 
.user-friend-item__accept-button:hover{
color: #8EDF5F;
}
.user-friend-item__cancel-button:hover{
color: #8e0408;
}


.octicon-file{
color: #FF6F00;
}


.octicon-home{
color:  #B8860B;
}
.octicon-apps{
color: #6b0303;
}
.octicon-download{
color: #065735;
}
.octicon-gear{
color: #08215fe0;
}



.download-settings-modal__downloader-icon{
color: #8EDF5F;
}


.octicon-person-add{
color: #8EDF5F;
}

.octicon-sign-out{
color: #E71129;
}

.octicon-heart-fill{
color: #cf4d4d9f;
}


.octicon-sync{
color: #43a5e6;
}
.octicon-plus-circle{
color: #8EDF5F;
}
.octicon-no-entry{
color: #FF4500;
}
.octicon-cloud{
color: #43a5e6;
}


.octicon-mail{
color: #6b0303;
}
.octicon-key{
color: #ebaf19;
}
.octicon-three-bars{
color: #FFD700;
}
.octicon-globe{
color: #43a5e6;
}
.octicon-trash{
color: #6b0303;
}
.octicon-pencil{
color: #A0522D;
}
.octicon-x{
  color: #6b0303;
}
.octicon-chevron-left{
  color:#FFD700;
}
.octicon-chevron-right{
color:#FFD700;
}