.sidebar {
  background: transparent;
  text-shadow: 2px 2px 2px #000;
  color: #ff0000;
  background-color: rgba(0, 0, 0, 0.0);
}

.sidebar__menu-item, .sidebar__menu-item-button, .sidebar__menu-item-button-label {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 1px #000000;
  font: 
    1.05em Chewy Bubble,
    serif;
}

.header {
  color: #ff0000;
  text-shadow: 2px 2px 2px #000;
  background: transparent;
  background-color: transparent;
  backdrop-filter: transparent; 
  font: 
    1.1em Chewy Bubble,
    serif;
}

.container__content, .bottom-panel {
  background: transparent;
}

body {
  text-align: left;
  text-shadow: 2px 2px 2px #000;
  color: #ffffff;
  background: transparent;
  font: 
    0.87em Chewy Bubble,
    serif;
}

#root {
  background: url(https://static.wikia.nocookie.net/solo-leveling/images/c/cb/Statue_of_God_Smile_Anime_Episode_1.png/revision/latest?cb=20240115090031) no-repeat center center fixed;
  background-position: top;
  background-size: 100%;
  opacity: 1;
  image-rendering: auto;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  min-height: 100vh;
  position: relative;
}

/* elementos especiais */
 .profile-hero__background-overlay--transparent {
     background: url(https://4kwallpapers.com/images/wallpapers/solo-leveling-3440x1440-16126.jpg);
     background-size: 100%;
     background-position: 0px -120px;
 }

 .profile-hero__hero-panel {
     background: url(https://4kwallpapers.com/images/wallpapers/solo-leveling-3440x1440-16126.jpg) !important;
     background-size: 100% !important;
     background-position-y: -328px !important;
 }
 
 .profile-hero__display-name {
  text-shadow: 2px 2px 1px #000000 !important;
  font: 
    2em Chewy Bubble,
    sans-serif;
 }

 .title-bar, .sidebar, .header, .bottom-panel, .hero-panel, .content-sidebar, .profile-hero__hero-panel, .profile-hero__hero-panel--transparent {
  border: none;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ff0000;
}

.game-item {
  text-shadow: 2px 2px 2px #000;
  color: #ff0000;
  font: 
    1em Chewy Bubble,
    sans-serif;
}

.settings__content {
  text-shadow: 2px 2px 2px #000;
  color: #ff0000;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.0);
}

.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar 
.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: transparent;
}

.game-details__description-container {
  background: transparent;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.content-sidebar {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
}

.description-header {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
}

.hero-panel {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__container {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.0);
}

.button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.theme-card {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.profile-hero__hero-panel--transparent {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}

.repacks-modal__repack-button {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-section__button {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.title-bar {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.0);
  font: 
    1.2em Chewy Bubble,
    sans-serif;
}

.sidebar-profile__friends-button {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
