:root {
  --yellow-color: #FCEE09;
  --balck-color: #050A0E;
  --red-color: #FF003C;
  --blue-color: #00F0FF;
  --white-color: #ffffff;
}

#root {
  position: relative;
  
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://wallpapercave.com/wp/wp8112453.jpg") 
    no-repeat center center;
  background-size: cover;
  filter: saturate(0.5);
  opacity: 0.3;  /* Aplique a transparência de 10% na imagem */
  z-index: -1;  /* Coloca o pseudo-elemento atrás do conteúdo */
}


/* RESET */
.sidebar,
.header,
.container__content  {
 background-color: transparent;
 border-radius: 0px;
}

.sidebar,
.header,
.container__content  {
 background: transparent;
}


/* GLASS */
.settings__content,
.home__header,
.game-card,
.hero-panel,
.game-details__description-container,
.game-item,
.profile-hero__avatar-button,
.profile-hero__hero-panel,
.user-stats__box,
.download-group__downloads{
  
    background-color: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-box-shadow:0px 0px 25px 0px rgba(0,238,255,0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,238,255,0.3);
    box-shadow: 0px 0px 25px 0px rgba(0,238,255,0.3);
}

.settings__content,
.home__header,
.game-card,
.hero-panel,
.game-details__description-container,
.game-item,
.profile-hero__avatar-button,
.profile-hero__hero-panel,
.user-stats__box,
.download-group__downloads,
.user-stats__box{
  background: transparent !important;
}

.profile-hero__hero-panel{
  width: auto;
    margin: 0px 10px;
    border-radius: 5px;
    background: transparent !important;;
}

.sidebar-profile{
  border-bottom: 1px solid #fff;
   border-width: 1px;
    border-image: linear-gradient(to right, var(--blue-color) 0%, transparent 50%) 1;
}

.settings__content{
    border-radius: 5px;
}

/* SIDEBAR */
.sidebar{
    border: 0;
}

.header__search,
.text-field-container__text-field{
  border-image: linear-gradient(to right, var(--blue-color) 0%, transparent 40%) 1;
  background-color: rgba( 0, 0, 0, 0.3 );
  transition: all 0.3s ease;
}

.header__search--focused,
.text-field-container__text-field--focused{
  border-image: linear-gradient(to right, var(--blue-color) 0%, transparent 95%) 1;
}

/* BUTTOM SIDEBAR */
.sidebar__menu-item-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.09);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border-width: 1px;
}

/* Ícone do jogo */
.sidebar__game-icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

/* Label do botão */
.sidebar__menu-item-button-label {
  flex-grow: 1;
  transition: color 0.3s ease;
  text-align: left;
}

/* Efeito de borda animada */
.sidebar__menu-item-button::before,
.sidebar__menu-item-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: linear-gradient(to right, var(--yellow-color) 0%, transparent 40%);
  transition: all 0.3s ease;
}


.sidebar__menu-item--active .sidebar__menu-item-button::before,
.sidebar__menu-item--active .sidebar__menu-item-button::after{
    background: linear-gradient(to right, var(--yellow-color) 0%, transparent 99%);
}


.sidebar__menu-item-button::before {
  top: 0;
  left: 0;
}

.sidebar__menu-item-button::after {
  bottom: 0;
  right: 0;
}

.sidebar__menu-item-button:hover::before,
.sidebar__menu-item-button:hover::after,
.sidebar__menu-item--active .sidebar__menu-item-button::before,
.sidebar__menu-item--active .sidebar__menu-item-button::after {
  width: 100%;
}


/* Efeito lateral */
.sidebar__menu-item-button span::before,
.sidebar__menu-item--active .sidebar__menu-item-button span::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  background: var(--yellow-color);
  transition: all 0.3s ease;
}

.sidebar__menu-item-button span::before,
.sidebar__menu-item--active .sidebar__menu-item-button span::before {
  left: 0;
  top: 0;
}

/* .sidebar__menu-item-button span::after,
.sidebar__menu-item--active .sidebar__menu-item-button span::after {
  right: 0;
  bottom: 0;
} */

.sidebar__menu-item-button:hover span::before,
.sidebar__menu-item-button:hover span::after,
.sidebar__menu-item--active .sidebar__menu-item-button span::before,
.sidebar__menu-item--active .sidebar__menu-item-button span::after {
  height: 100%;
}

/* Efeito de cor ao passar o mouse */
.sidebar__menu-item-button:hover,
.sidebar__menu-item--active .sidebar__menu-item-button {
  /* color: var(--yellow-color);
  background: rgba(255, 255, 0, 0.1); */
  background: transparent !important;
}

.sidebar__menu-item--active,
.sidebar__menu-item:hover {
  background: transparent !important;
}


/* TITLE BAR */
.title-bar{
   border-width: 1px;
    border-image: linear-gradient(to right, transparent 30%, var(--blue-color) 70%) 1;
}

/* CONTAINER */

/* HEADER */
.header{
   border-width: 1px;
    border-image: linear-gradient(to right, transparent 0%, transparent 20%, var(--blue-color) 50%, transparent 80%, transparent 100%) 1;
}

/* CONTAINER CONTENT */

/* HOME */
.home__header{
  padding: 10px;
  border-radius: 5px;
}

.home__header .button{
  border: none;
}

.home__content h2{
  border-bottom: 1px solid #fff;
  border-width: 1px;
  border-image: linear-gradient(to right, var(--yellow-color) 0%, transparent 60%) 1;
    padding: 9px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
      color: #fff;
}

h2.home__title,
.filter-section__header,
.profile-content__section-header h2,
.user-stats__section-header h2{
  border-bottom: 1px solid #fff;
  border-width: 1px;
  border-image: linear-gradient(to right, var(--blue-color) 0%, transparent 60%) 1;
      color: #fff;
}

.hero-panel{
  margin: 10px;
  box-sizing: border-box;
  width: auto;
  border-radius: 5px;
}

.catalogue__filters-sections{
  color: #fff;
}

.game-item__details{
  color: #fff;
}

.game-details__description-container{
  margin: 10px;
    width: auto;
  border-radius: 5px;
      color: #fff;
}

.game-details__description-container .description-header{
  border-top-left-radius: 5px;
  color: #fff;
}

.sidebar-section .sidebar-section__button{ 
  border-top-right-radius: 5px;
}

.content-sidebar{
  border-width: 1px;
  border-image: linear-gradient(to top, transparent 0%, transparent 10%, var(--blue-color) 20%,  transparent 90%, transparent 100%) 1;
}

.catalogue__filters-container{
  border: none;
  background-color: transparent;
  color: #fff;
}

.profile-hero__content-box{
  background: transparent !important;
}

/* Button Styles */
.button,
.badge{
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: var(--red-color);
  z-index: 1;
}

.button--outline,
.badge{
  background-color: transparent;
}

.button--outline:after,
.button--outline:before,
.badge:after,
.badge:before,
.requirement__button-container .button:not():after,
.requirement__button-container .button:not():before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0.2;
  z-index: -1;
  transition: all 0.3s;
}

.button--outline:hover,
.badge:hover,
.requirement__button-container .button:not():hover {
  color: #fff;
}

.button--outline:hover:before,
.badge:hover:before,
.requirement__button-container .button:not():before {
  width: 100%;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: var(--yellow-color);
}

/* Custom Scrollbars for specific sections */
.container__content .game-details__container::-webkit-scrollbar-track,
.container__content .settings__content .select-field--primary::-webkit-scrollbar-track {
   background: transparent;
}

.container__content .game-details__container::-webkit-scrollbar,
.container__content .settings__content .select-field--primary::-webkit-scrollbar {
  width: 5px;
}

.container__content .game-details__container::-webkit-scrollbar-thumb,
.container__content .settings__content .select-field--primary::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--yellow-color);
}

/* GRID */
.home__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  animation: fadeIn 0.6s ease-in-out;
  height: auto;
  border-color: var(--blue-color);
}

.game-card:hover {
  transform: scale(1.05);
  border-color: var(--yellow-color);
  z-index: 9999;
  -webkit-box-shadow:0px 0px 33px 8px rgba(252,240,9,0.3);
-moz-box-shadow: 0px 0px 33px 8px rgba(252,240,9,0.3);
box-shadow: 0px 0px 33px 8px rgba(252,240,9,0.3);
}

/* Animação de fade-in na entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-card__backdrop {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.game-card__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.game-card:hover .game-card__cover {
  transform: scale(1.1);
}

/* Estilização do título */
.game-card__title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.game-card__title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* Ícones na barra */

.game-card__specifics{
  background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 9.5px );
  padding: 2px 2px;
}

.game-card__download-options{
  display: none;
}

/* Animação nos botões de download */
.badge {
background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: none;

  padding: 1px 2px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  transition: background-color 0.3s;
  font-weight: 100;
}

.badge:hover {
  background-color: var(--yellow-color);
  color: black;
}

/*  GRID LIBRARY */
.profile-content__games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  padding: 20px;
}

.user-library-game__wrapper {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  animation: fadeIn 0.6s ease-in-out;
  height: auto;
  border-color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.user-library-game__wrapper:hover {
  transform: scale(1.05);
  border-color: var(--yellow-color);
  z-index: 9999;
  -webkit-box-shadow:0px 0px 33px 8px rgba(252,240,9,0.3);
  -moz-box-shadow: 0px 0px 33px 8px rgba(252,240,9,0.3);
  box-shadow: 0px 0px 33px 8px rgba(252,240,9,0.3);
}

.modal{
   background-color: transparent !important;
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    color: #fff;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-box-shadow:0px 0px 25px 0px rgba(0,238,255,0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,238,255,0.3);
    box-shadow: 0px 0px 25px 0px rgba(0,238,255,0.3);
}


.backdrop{
   background-color: transparent !important;
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 13.5px );
  transition: all 0.3s ease;
}

.bottom-panel{
  background-color: transparent;
  border-image: linear-gradient(to right, var(--blue-color) 0%, transparent 60%) 1;
}