@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-background-base: rgba(23, 23, 27, 0.8);
    --color-background-dark: rgb(20, 20, 20);
    --color-background-button: rgba(82, 24, 24, 0.7);
    --color-background-checkbox: rgba(88, 0, 0, 0.43);
    --color-background-scrollbar-thumb: rgba(151, 0, 0, 0.57);
    --color-all: rgba(139, 0, 0, 0.8);
    --color-text: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --background-main: url("https://images6.alphacoders.com/112/1126962.jpg");
    --font-used: "Roboto Condensed";
}
body {
    background: var(--background-main) no-repeat fixed;
    background-size: cover;
    font-family: var(--font-used);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.achievements__list, .header, .title-bar, .toast, .catalogue__filters-container, .modal, .repacks-modal__repack-button, .user-stats__box, .recent-games__box, .friends-box__box, .settings-download-sources__item, .download-group__item {
    background-color: var(--color-background-base);
    color: var(--color-text);
    box-shadow: 0px 2px 5px var(--color-shadow);
    padding: 10px;
}

.sidebar {
    background-color: var(--color-background-base); 
    width: 100%;
    height: 55px;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0px;
}

.container__content {
    background: none;
    color: var(--color-text);
    padding: 20px;
}

.bottom-panel {
    background-color: var(--color-background-base);
    border-top: 3px solid var(--color-all);
    backdrop-filter: blur(5px);
    padding: 10px;
    text-align: center;
}

.button, .select-field__option {
    background-color: var(--color-background-base);
    color: var(--color-text);
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 2px 5px var(--color-shadow);
    border: 1px solid var(--color-all); 
    cursor: pointer;
}

.button:hover, .select-field__option:hover {
    background-color: var(--color-all); 
    opacity: 1;
}

.select-field__option:hover {
    box-shadow: 0px 0px 10px var(--color-all);
}

.settings__content {
    background-color: var(--color-background-base);
}
.game-item {
    width: 182px;
    height: 250px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    transition: transform 0.3s ease-in-out;
    background-color: var(--color-background-base);
    color: var(--color-text);
    box-shadow: 0px 2px 5px var(--color-shadow);
    padding: 10px;
}

.game-item:hover, .achievements__list li:hover {
    background-color: rgba(0, 0, 0, 0.849);
    transform: scale(1.03);
    border: 1px solid var(--color-all);
}

.catalogue__games-container {
    display: inline-block;
    width: 100%;
}

.catalogue__pagination-container {
    clear: both;
    width: 450px;
    margin: 10px auto;
}

.game-item__details {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
}

.game-item__details span {
    display: block;
    font-size: 14px;
}

.game-item img {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.game-item__details .game-item__genres {
    text-align: center;
    font-size: 10px;
    padding: 5px;
}

.checkbox-field__checkbox {
    background-color: var(--color-background-checkbox);
    color: var(--color-text);
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.repacks-modal__repack-button:hover {
    background-color: var(--color-all);
    transform: scale(1.05);
}

.badge {
    border-color: var(--color-background-scrollbar-thumb);
}

.sidebar-profile__friends-button-badge {
    background-color: var(--color-background-scrollbar-thumb);
    margin-top: 10px;
}

.game-item__repackers {
    display: flex;
    justify-content: center;
}

.game-item__repackers .badge {
    padding: 4px;
    margin: -3px;
    font-size: 8px;
}

.requirement__button-container button {
    margin: 5px;
}

.bottom-panel__version-button small::after {
    content: " - Theme by Naitan";
}

.settings__container {
    padding: 0px;
}

.button--primary {
    background-color: var(--color-background-scrollbar-thumb);
    border: 1px solid var(--color-all);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track, .sidebar-section__button {
    background-color: var(--color-background-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-background-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-all);
}

.download-group__downloads {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
}

.download-group__downloads li {
    flex: 0 0 500px;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.download-group__details {
    text-align: left;
}

.hero-panel__progress-bar, .achievements-content__user-summary__container__stats__progress-bar {
    -webkit-appearance: none;
    appearance: none;
}

.hero-panel__progress-bar, .achievements-content__user-summary__container__stats__progress-bar::-webkit-progress-bar {
    background-color: var(--color-background-dark);
}

.hero-panel__progress-bar, .achievements-content__user-summary__container__stats__progress-bar::-webkit-progress-value {
    background-color: var(--color-background-scrollbar-thumb);
}

.settings-appearance__themes {
    display: block;
    width: 100%;
}

.theme-card {
    width: 250px;
    height: 150px;
    margin-bottom: 5px;
    margin-left: 5px;
    align-items: center;
    float: left;
    background-color: var(--color-background-base);
    color: var(--color-text);
    box-shadow: 0px 2px 5px var(--color-shadow);
    padding: 10px;
}

.theme-card--active {
    border: 1px solid var(--color-all);
}

.achievements__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.achievements__list li {
    background-color: var(--color-background-dark);
}

.game-details__description-content, .content-sidebar {
    background-color: var(--color-background-base);
}

.game-details__description-container {
    background: none;
}
.list > .link {
    background-color: var(--color-background-dark);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.list > .link:hover {
    border: 1px solid var(--color-all);
}
/* Titulo */
.description-header, .achievement-panel {
    background-color: var(--color-background-dark);
    border-bottom: 10px solid var(--color-all);
    border-top: 1px solid var(--color-all);
}

/* Menu */
.sidebar__menu-item {
    transition: 0.4s;
    color: var(--color-text);
    text-decoration: none;
    position: relative;
    
}

.sidebar__menu-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--color-all);
    transition: all 0.4s;
}

.sidebar__menu-item:hover::before {
    width: 100%;
    left: 0;

}

.sidebar__menu-item--active::before {
    width: 100%;
    left: 0;
    border-radius: 100px;
}
.sidebar__menu-item--active {
    color: var(--color-all);
}

.header__back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: color 0.3s ease;
}

.header__back-button:hover {
    color: var(--color-all);
}

.profile-hero__content-box {
    border-radius: 10px;
}

.filter-section__item:hover {
    color: var(--color-all);
}

.filter-section__header {
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.filter-section__count {
    font-size: 9px;
    text-align: center;
}
.sidebar__content section:nth-child(2):nth-last-child(2){
    border-left: 1px solid rgba(255, 0, 0, 0.055);
    border-right: 1px double rgba(255, 0, 0, 0.055);
}
/* Adicional */
main {
    display: block;
    float: left;
}
.sidebar__menu-item span, .sidebar__section .sidebar__section-title, .sidebar__section .text-field-container {
    display: none;
}

/* Perfil */
.sidebar__container {
    display: flex;
    flex-direction: row;
}

.sidebar-profile {
    width: 250px;
    padding: 0px;
    display: flex;
    margin: 0px;
    border-radius: 5px;
    margin-left: 5px;
}

.sidebar-profile__button {
    padding: 10px;
    background-color: var(--color-background-dark);
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.profile-avatar__image {
    width: fit-content;
}

.sidebar-profile__friends-button {
    background: none;
    height: 100%;
    background-color: var(--color-background-dark);
    margin-left: -8px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar-profile__button-title, .sidebar-profile__button-game-running-title {
    padding: 0px;
    margin: -1px;
}

/* Menu */
.sidebar__content {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: space-between;
}

.sidebar__section {
    display: flex ;
    height: 55px;
    padding: 0px;
    margin: 0px; 
}
.sidebar__content section:nth-child(1) {
    margin-left: 22px;
}
.sidebar__content section {
    max-width: 250px;
    text-align: end;

}

.sidebar__menu {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    height: 55px;
}

.sidebar__menu::-webkit-scrollbar {
    height: 5px;
}

.sidebar__menu-item-button {
    width: 50px;
    justify-content: center;
}
.sidebar__menu-item-button:hover{
    color: var(--color-all);
}

/* Título */
.header--is-windows {
    height: 50px;
    padding: 10px;
}

.header__action-button, .header__search {
    height: 29px;
    padding: 5px;
}

/* Conteúdo */
.container {
    height: 94%;
}
/*lista*/
.settings-download-sources__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.settings-download-sources__item  {
    flex-basis: 300px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.settings-download-sources__item-header div{
    
    justify-content: center;
}
@media (max-width: 1198px) {
    .download-group__downloads {
        display: block;
    }

    .download-group__downloads li {
        margin-bottom: 5px;
    }

    .catalogue__filters-container {
        display: none;
    }

    .achievements__list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .settings-download-sources__item  {
    flex-basis: 219px;
    }
    
}
@media (min-width: 1199px) {
    .catalogue__filters-container {
        display: none;
    }
    .game-item {
    width: 180px;
    height: 250px;
    }
}
@media (min-width: 1390px) {
    .game-item {
        width: 250px;
        height: 250px;
    }

    .game-item__repackers {
        margin-top: 15px;
    }

    .game-item__repackers .badge {
        padding: 5px;
        font-size: 10px;
    }

    .settings__container {
        padding: 25px;
    }

    .achievements__list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
    .catalogue__filters-container {
        display: block;
    }
    .catalogue__filters-sections{
        width: 100%;
    }
    .sidebar__content section {
    max-width: 500px;

}
}