/* GAME OF THRONES THEME
   BY KZIN*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
a {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif, serif;
}

/* HYDRA TITLE */
h4 {
    display: none;
}
.title-bar::after{
    content: "GAME OF THRONES";
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: #3363ff;
    letter-spacing: 5px;
    border-radius: 20px;
    display: inline-block;
    filter: contrast(1.5) brightness(1.2);
    text-shadow:   
        1px 1px 3px #040d94,
        1px 1px 5px #071463,
        1px 1px 8px #2c29d6,
        1px 1px 8px #292cd6;
        animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
    }

#root {
  background: url(https://wallpapercat.com/w/full/1/3/8/14976-3840x2160-desktop-4k-game-of-thrones-wallpaper.jpg) no-repeat center center fixed;
  background-position: top;
  background-size: 100%;
  opacity: 1;
  image-rendering: auto;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  min-height: 100vh;
  position: relative;
}

/* HOME */
 .hero{
    margin-left: 3px;
    background-color: #3363ff0e;
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    transition: all ease 0.3s;
    width: 99%;
    border-radius: 33px;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.hero:hover{
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
.button{
    background-color: #3363ff0e;
    border: 1px solid;
    border-color: #3363ff;
    border-radius: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 6px #3363ff,
        1px 1px 7px #2c29d6,
        1px 1px 8px #292cd6;
}
.button:hover{
    background-color: #040e9465;
}
.game-card{
    transform: scale(1.01);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    border-radius: 33px;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.game-card:hover{
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
.container__content {
    background: rgba(0, 0, 0, 0.01);
}
.home__content h2{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6 !important;
}
.home__title-icon{
 width: 13px;
 height: 24px;
 margin-top: 3px;
}

/* PROFILE */
.profile-hero__background-overlay--transparent{
     background: url(https://wallpapercave.com/wp/DzWBrz4.jpg);
     background-size: 100%;
     background-position: 0px -307px;
}
 .user-library-game__overlay,
 .user-library-game__cover,
 .user-library-game__game-image,
 .user-library-game__wrapper{
    margin-left: 1px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    transition: all ease 0.3s;
    border-radius: 33px;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
 .profile-hero__hero-panel{
     background: url(https://wallpapercave.com/wp/DzWBrz4.jpg) !important;
     background-size: 100% !important;
     background-position-y: -530px !important;
     border-top: none;
     box-shadow: none;
}
 .profile-content__section-header{
  justify-content: left;
  gap: 10px;
  font-size: 15px;
}
.profile-content__section-header h2{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6 !important;
}
.profile-content__section-header span{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 22px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
 .profile-hero__display-name{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 22px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 7px #2c29d6,
        1px 1px 7px #292cd6 !important;
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
 .sidebar-profile__button-title{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 5px #2c29d6,
        1px 1px 5px #292cd6 !important;
}
.profile-hero__user-information{
    margin-top: 15px;
}
.profile-hero__content-box {
    border-radius: 44px;
}
.profile-hero__background-image {
    border-radius: 15px;
}
.profile-hero__avatar-button:hover {
    transform: scale(1.05);
}
.octicon-pencil {
    color: #ffaa00;
}
.user-library-game__playtime {
    text-align: center;
    object-position: center;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 100px;
    border: 3px solid #3363ff;
    position: relative;
    bottom: -290px;
    left: 44px;
}
.user-library-game__achievements-progress::-webkit-progress-value {
    background-color: #3363ff; 
}
.friends-box__box,
.user-stats__box,
.recent-games__box {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.514); 
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 3px solid #3363ff;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6 !important;
}
.user-stats__list-title {
    color: #3363ff;
}
.user-stats__list-item {
    transition: all ease 0.3s;
}
.user-stats__list-item:hover {
    background: none;
    border-radius: 15px;
    transform: scale(1.03);
}
.user-stats__link {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.user-stats__link:hover{
    color: #ffff00a4;
}
.user-stats__link--warning:hover{
    color: #ffff00a4;
}
.user-stats__link--warning {
    color: #ffffff;
}

.octicon-trophy {
    color: #FFFF00;
}
.recent-games__list {
    gap: 2px;

}
.recent-games__list-item {
    border-radius: 15px;
    transition: all ease 0.3s;
}
.recent-games__list-item:hover {
    background: none;
    transform: scale(1.03);
}
.recent-games__game-details {
    color: #3363ff;
}
.recent-games__game-description {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.recent-games__section-header h2{
  text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.friends-box__section-header{
  text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.friends-box__friend-name {
    color: #3363ff;
}
.friends-box__list-item {
    transition: all ease 0.3s;
}
.friends-box__list-item:hover {
    border-radius: 15px;
    transform: scale(1.03);
    background: none;
}
.octicon-clock {
    color: #340275;
}
.octicon-check-circle-fill {
    color: #2f81ce;
}
.octicon-x-circle-fill {
    color: #3363ff;
}
.octicon-blocked {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=hVQFAf6VVJnt&format=png&color=F25081); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
    transition: all ease 0.3s;
}
.octicon-sign-out{
    color: #3363ff;
}
.sidebar-profile__friends-button {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
.user-stats__section-header h2{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 21px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}

/* MODAL */
.modal{
    background: #3363ff0e;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.modal__header-title,
.user-friend-modal-add-friend__pending-container{
    text-transform: uppercase;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.user-friend-modal-add-friend__pending-container p,
.user-friend-modal__header{
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.user-friend-modal__friend-code-button{
background-color: #3363ff0e;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.modal__header{
    border: none;
}

/* CATALOGO */
.header__section{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.header__back-button{
    text-transform: uppercase;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.catalogue__filters-container,
.catalogue__filters-sections{
    background-color: #3363ff00;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.filter-section__title{
    text-transform: uppercase;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.filter-section__item{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.filter-section__count{
text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.text-field-container__text-field-input{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.header__search-input{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 3px #292cd6;
}
.game-item__genres{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.game-item {
    margin-left: 2px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    transition: all ease 0.3s;
    width: 100%;
    gap: 1px;
    justify-content: flex-start;
    border-radius: 33px;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 7px #3363ff,
        1px 1px 3px #2c29d6,
        1px 1px 8px #fafafc;
}
.game-item__details{
    width: 100%;
    gap: 2px;
    padding: 5px 10px;
}
.game-item:hover {
    transform: scale(1.01);
    background: linear-gradient(40deg, #3363ff0e 25%, transparent 100%);
    border: 3px #0e1074da;
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
.badge {
    border: 2px solid #3363ff;
    border-radius: 34px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 10px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.catalogue__result-count{
    margin-left: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.pagination__ellipsis-text{
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}

/* PAGINA DE JOGO */
.game-details__cloud-sync-button{
    border-radius: 20px;
    border: 2px solid #3363ff;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 5px #3363ff,
        1px 1px 5px #2c29d6,
        1px 1px 5px #292cd6;
}
.game-details__cloud-sync-button:hover{
    border-color: #3363ff;
    transform: scale(1.03);
}
.description-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
}
.game-details__description-container{
    background: transparent;
    backdrop-filter: blur(1px);
    background-color: #3363ff0e;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 9px #3363ff,
        1px 1px 14px #2c29d6,
        1px 1px 14px #292cd6;
}
.game-details__container{
  backdrop-filter: blur(2px);
}
.gallery-slider__preview-image,
.gallery-slider__preview-button--active,
.gallery-slider__preview-button,
.gallery-slider__media,
.gallery-slider__animation-container{
    border-radius: 20px;
}
.content-sidebar {
  background: transparent;
  backdrop-filter: blur(2px);
  background-color: #3363ff0e;
}
.sidebar-section__button{
    background-color: #3363ff0e;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.sidebar-section__button:hover{
    background-color: #3363ff0e;
}
.sidebar-section__content{
    background-color: #3363ff0e;
}
.subscription-required-button{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.hero-panel__content p{
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.list__item p{
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
}
.link{
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

/* DOWNLOADS */
.download-group__item{
    margin-left: 2px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    transition: all ease 0.3s;
    width: 100%;
    gap: 1px;
    justify-content: flex-start;
    border-radius: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.download-group__title{
    color: #3363ff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.download-group__menu-button{
    color: #3363ff;
    position: relative;
    top: 34px;
    left: -1px;
}
.dropdown-menu__group{
    background-color: rgba(8, 27, 197, 0.062);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
    transition: all ease 0.3s;
    color: #3363ff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.dropdown-menu__content{
    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(3px);
    position: relative;
    top: -38px;
    left: -45px;
}
.octicon-download,
.octicon-file-directory,
.octicon-home,
.octicon-trash,
.octicon-gear,
.octicon-apps,
.octicon-copy,
.octicon-people,
.octicon-search,
.octicon-link,
.octicon-heart-fill,
.octicon-play,
.octicon-globe,
.octicon-sync,
.octicon-mail,
.octicon-key,
.octicon-cloud,
.octicon-link-external,
.octicon-plus,
.octicon-plus-circle{
    color: #2f81ce;
}
.octicon-arrow-left{
    color: #2f81ce;
    position: relative;
    top: -0.5px;
    left: 3px;
}
.download-group__header h2{
    color: #ffffff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 17px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.container__content h3{
    color: #3363ff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 22px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}

/* SETTINGS */
.settings__content {
    background: rgba(8, 27, 197, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.text-field-container__text-field--primary{
    background-color: #3363ff0e;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.select-field--primary{
    border: 1px solid #3363ff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}

.select-field--primary:hover{
    border: 1px solid #3363ff;
}
.select-field__label,
.settings__content h2{
    color: #3363ff;
    text-transform: uppercase;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
label{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.button.button--primary.settings-general__common-redist-button:hover {
    background-color: rgba(0, 0, 0, 0.350);
    transform: scale(1.05);
    border-color: #3363ff;
}
.select-field__option{
    text-transform: uppercase;
    background-color: #3363ff1c;
    border-radius: 20px;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
  select option {
    padding: 44px;
    color: #3363ff;
    font-size: 13px;
    background: transparent;
    -webkit-appearance: none;
}
.select-field option{
    text-transform: uppercase;
    background-color: #0b099163;
    border-radius: 20px;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;   
}
.checkbox-field__checkbox.checked{
    background-color: #3363ff0e;
}

.checkbox-field__checkbox{
    background-color: #3363ff0e;
    border-color: #3363ff0e;
}
.checkbox-field__checkbox:hover{
    background-color: #3363ff0e;
}
.checkbox-field__input{
    text-transform: uppercase;
    background-color: #3363ff1c;
    border-radius: 20px;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.octicon-check{
    color: #2f81ce;
}
.settings-download-sources__item{
    background: #3363ff0e;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings-download-sources__navigate-button{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.theme-card__header{
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.theme-card__author__name{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings__content p{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 13px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings-torbox__create-account,
.settings-real-debrid__create-account{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings-account__form small{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings-account__form h3{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.theme-card{
    background: #3363ff0e;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}

.achievement-panel,
.achievements__list{
    border: none;
    background: #3363ff0e;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;

    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.achievement-panel__content{
    text-transform: uppercase;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 19px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.achievement-panel__link--warning{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 12px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.settings-general__common-redist-description{
    text-transform: uppercase;
    border-radius: 20px;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}
.octicon-desktop-download {
    color: #3363ff;
}

/* TRANSPARENCY */
.title-bar, .header--is-windows {
    background-color: rgba(0, 0, 0, 0.0);
}
.header__search{
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #3363ff;
    border-radius: 34px;
}
.header__search:hover{
    background: rgba(0, 0, 0, 0.01);
    border-color: #3363ff;
    border-radius: 34px;
}
.profile-content__section {
    background: rgba(0, 0, 0, 0.01);
}
.bottom-panel {
    background: rgba(0, 0, 0, 0.01);
    border: none;
}
.text-field-container__text-field--dark {
    background: rgba(0, 0, 0, 0.01);
    border-color: #3363ff;
    border-radius: 34px;
}
.text-field-container__text-field--dark:hover{
    background: rgba(0, 0, 0, 0.01);
    border-color: #3363ff;
    border-radius: 34px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    background: #3363ff41      
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #3363ff8a;  
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: #3363ff;
}
.rc-virtual-list-scrollbar-vertical {
    background-color: #3363ff0e !important;
}
.rc-virtual-list-scrollbar-thumb {
    background-color: #3363ff0e !important; 

}
.rc-virtual-list-scrollbar-thumb:hover {
    background-color: #3363ff !important;
}

/* SIDEBAR */
.sidebar, 
.sidebar__menu-item, 
.sidebar__menu-item-button, 
.sidebar__menu-item-button-label,
.sidebar__menu-item-label {
    background-color: rgba(0, 0, 0, 0.0);
    text-transform: uppercase;
    color: #ffffff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 3px #3363ff,
        1px 1px 5px #2c29d6,
        1px 1px 5px #292cd6;
}
.sidebar__section-title {
    text-transform: uppercase;
    color: #3363ff;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 4px #3363ff,
        1px 1px 7px #2c29d6,
        1px 1px 7px #292cd6;
}
.bottom-panel__downloads-button,
.bottom-panel__version-button{
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: Cormorant Unicase, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
        text-shadow: 
        1px 1px 3px #040d94,
        1px 1px 10px #3363ff,
        1px 1px 15px #2c29d6,
        1px 1px 15px #292cd6;
}

/* BORDAS */
 .title-bar, 
 .sidebar, 
 .header, 
 .content-sidebar, 
 .profile-hero__hero-panel, 
 .profile-hero__hero-panel--transparent {
    border: none;
}
.hero-panel{
    border: none;
    background: none;
}
