.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

/* Hydra */
body {
  color: #ff86f9;
}

/* Background */
#root {
  background: url(https://wallpapercave.com/uwp/uwp4674691.png)
    #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(126, 54, 94, 0.8) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(195, 0, 255, 0.5);
}

.container__content .button--outline {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 52, 255, 0.466);
  border: 1px solid rgba(255, 83, 255, 0.5);
  color: #ffffff;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(50, 0, 50, 0.6) !important;
  border: 1px solid rgba(255, 88, 247, 0.5);
}