/* The Lincoln Lawyer Theme for Hydra Launcher By Speedy777*/

/* Main Content - Background Wallpaper */
.container__content {
  background: url('https://wallpapercave.com/wp/wp12040640.jpg') no-repeat center center;
  background-size: cover;
  color: #E0E0E0; 
  font-family: 'Georgia', serif;
}

/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.116);
  border-bottom: 3px solid #365785; /* Gold accent */
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Times New Roman', serif;
}

/* Sidebar */
.sidebar {
  background-color: #1c1c1c02; /* Dark gray */
  color: #365785; /* Gold accent */
  border-right: 2px solid #333333; 
  font-family: 'Georgia', serif;
}

/* Bottom Panel */
.bottom-panel {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-top: 3px solid #365785;
}

/* Toast (Notifications) */
.toast {
  background-color: rgba(0, 0, 0, 0.9);
  color: #365785;
  font-weight: bold;
  border-left: 5px solid #365785;
  padding: 10px;
  font-family: 'Georgia', serif;
}

/* Buttons */
.button {
  background-color: #1C1C1C;
  color: #365785;
  border: 1px solid #365785;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Times New Roman', serif;
}

.button:hover {
  background-color: #365785;
  color: #1C1C1C;
}