
  /*
    Here you can edit CSS for your theme and apply it on Hydra.
    There are a few classes already in place, you can use them to style the launcher.

    If you want to learn more about how to run Hydra in dev mode (which will allow you to inspect the DOM and view the classes)
    or how to publish your theme in the theme store, you can check the docs:
    https://docs.hydralauncher.gg/

    Happy hacking!
  */

  /* Header */
  .header {}

  /* Sidebar */
  .sidebar {}

  /* Main content */
  .container__content {}

  /* Bottom panel */
  .bottom-panel {}

  /* Toast */
  .toast {}

  /* Button */
  .button {}

/* Fundo transparente com menos blur */
.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #9e9e9e;
}

#root {
  background: url(https://i.imgur.com/NwOy36n.png) #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Camadas com transparência e menos blur */
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0.3) !important;  /* Menos opacidade para maior transparência */
  backdrop-filter: blur(1px); /* Menos blur para mais nitidez */
}

.container__content .button--outline {
  backdrop-filter: blur(1px); /* Menos blur */
  background-color: rgba(0, 0, 0, 0.3);  /* Menos opacidade */
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.4) !important; /* Menos opacidade */
}

