  .title-bar {
    background-image: linear-gradient(#000000, #170005);
  }

  .sidebar {
    background-image: linear-gradient(#170005, #000000);
    color: #5cb5c3;
    font-weight: 500;
  }
  
  .bottom-panel {
  background-color: #000000;
  color: #36a269
  }
  
  .container, .container__content {
  background-image: linear-gradient(#170005, #000000);
  }
  
  main {
  background-color: #000000;
  color: #e3b900;
  }
  
  body {
  font-family: 
    --font: 'figtree';;
  color: #DCC9BC;
  font-weight: 500;
  }
  
  .header {
    background-color: #170005;
  }

  .button--primary {
    background-color: #880424;
    color: #FFFFFF;
  }

  .button--primary:hover {
    background-color: #3b0b1c;
  }

  a {
    font-weight: 500;
  }

  .header__search {
    background-color: #000000;
    border-color: #3b0b1c;
    color: #5cb5c3;
  }

  .sidebar__menu-item {
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #5cb5c3
  }

  .sidebar__menu-item--active {
    border-radius: 8px;
    border: solid 1px color;
    background-image: linear-gradient(#170005, #000000);
    border: 1px solid #880424;
    color: #e3b900;
  }

  .game-item {
    background-color: transparent;
  }

  .catalogue__filters-container {
    background-color: transparent;
  }

  .text-field-container__text-field-input {
    background-color: #000000;
    border-color: #3b0b1c;
  }

  .bottom-panel__version-button {
    color:#36a269 ;
  }

  .bottom-panel__downloads-button {
    color: #5cb5c3;
  }

  .sidebar__help-button {
    color: #e3b900;
  }

  .checkbox-field {
    color: #5cb5c3;
  }

  .checkbox-field__checkbox {
    color: #e3b900;
  }

  .checkbox-field__input {
    background-color: #000000;
  }

  .sidebar-profile__friends-button {
    background-color: #3b0b1c
  }

  .filter-item {
    background-color: transparent;
    color: #e3b900;
    border-color: #880424;
  }

  .badge {
    color: #36a269;
    border: solid 1px #880424;
  }

  .game-item__genres {
    color: #5cb5c3
  }

  .description-header {
    background-image: linear-gradient(#170005, #000000);
  }

  .game-details__description-content {
    background-color: #000000;
  }

  .sidebar-section__button {
    background-image: linear-gradient(#170005, #000000);
  }

  .list {
    background-color: #000000;
  }

  .how-long-to-beat__categories-list {
    background-color: #000000;
  }

  .stats__section {
    background-color: #000000;
  }

  .requirement__details {
    background-color: #000000;
  }

  .requirement__button {
    background-color: #000000;
  }

  .button--outline {
    color: #FFFFFF
  }

  .button--outline:hover {
    color: #5cb5c3;
  }

  .content-sidebar {
    background-color: #000000;
  }

  .game-details__cloud-sync-button {
    color: #c0c1c7;
    border: solid 1px #36a269;
  }

  .user-stats__box {
    background-color: transparent;
    border: solid 1px #880424;
  }

  .recent-games__box {
    background-color: transparent;
    border: solid 1px #880424;
  }

  .friends-box__box {
    background-color: transparent;
    border: solid 1px #880424;
  }

  .modal__header {
    background-color: #170005;
  }

  .modal__content {
    background-image:linear-gradient(#170005, #000000);
  }

  .hero-panel-playtime__downloads-link {
    color: #5cb5c3;
  }

  small {
    color: #36a269;
  }

  .download-group__right-content {
    background-color: #170005; 
  }

  .download-group__title {
    color: #5cb5c3;
  }

  .dropdown-menu__group {
    background-color: #170005;
    color: #e3b900;
    border: solid 1px #880424;
    border-radius: 6px;
  }

  .settings__content {
    background-color: transparent;
  }

  .dropdown-menu__content {
    background-color: #170005;
  }

  .select-field__option {
    background-color: #880424;
  }

  .settings-download-sources__item {
    background-color: transparent;
  }

  .button--dark {
    background-color: #880424;
  }

  .text-field-container__text-field-input {
    border: solid 1px #880424;
    border-radius: 6px;
  }

  .text-field-container__text-field {
    background-color: transparent;
  }

  .achievement-panel {
    background-image: linear-gradient(#151515, #0b0002);
  }

  .achievements__list {
    background-color: transparent;
  }

::-webkit-scrollbar {
  width: 9px;
  background-color: globals.$dark-background-color;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(#170005, #000000);
}

::-webkit-scrollbar-thumb {
  background-color: #170005;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #880424;
}
