@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  color: #fcfcfc70;
  background: #ffffff00; 
}


.title-bar::before {
  content: "I AM A GHOUL";
  font-size: 16px;
  font-weight: 700;
  color: #ff0000;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: block;
  text-align: left;
  opacity: 0.9;
}

.title-bar h4 {
  visibility: hidden;
}

#root {
  background: url(https://images4.alphacoders.com/116/1160645.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; 
  backdrop-filter: blur(6px);
}


.sidebar, .header, .container__content, .bottom-panel {
  background: rgba(0, 0, 0, 0.644);
  border: 1px solid #ffffff00;
  border-radius: 8px;
  padding: 10px;
}


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 8px;
}


.container__content .button--outline {
  background-color: transparent;
  border: 2px solid #faf5f5;
  color: #f1e6e6fd;
  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.container__content .button--outline:hover {
  background-color: #ff0000;
  color: #000;
  box-shadow: 0 0 10px #ff0000;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fcfcfc70;
}
