/* Caixa de titulo superior */
  .header {
    color: cyan !important; /* Aplica a cor neon azul ao texto do header */
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.8); /* Efeito de brilho neon */
    font-family: 'Orbitron', sans-serif;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.568);
  }

    .header__search {
      background: rgba(0, 0, 0, 0.295);
      border: 2px solid rgba(255, 0, 0, 0.5);
      box-shadow: 0 0 8px rgba(255, 0, 0, 0.562);
      color: cyan !important;
      text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
      padding: 10px 15px;
      margin: 10px 0;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 5px;
    }

/* Menu lateral */
  .sidebar {
    /*width: 250px;
    height: 100vh;*/
    background-color: rgba(0, 0, 0, 0.425) !important;
    /*border-right: 2px solid rgba(0, 255, 255, 0.5);*/
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-family: 'Orbitron', sans-serif;
    color: cyan;
    text-shadow: 0 0 7px rgba(0, 255, 255, 0.8);
  }

    .sidebar button {
      background: rgba(0, 255, 255, 0.1); /* Fundo translúcido azul neon */
      border: 1px solid rgba(0, 255, 255, 0.7);
      color: cyan !important;
      text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
      padding: 8px 10px;
      margin: 4px 0;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 5px;
      box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
    /*animation: neonBlink 1s infinite alternate, neonBackground 1s infinite alternate;*/
    }

    .sidebar button:hover {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0 0 10px rgba(0, 255, 255, 1);
    }

    .sidebar input[type="text"] {
      background: transparent;
      border: 2px solid rgba(255, 0, 0, 0.5);
      color: rgb(255, 255, 255) !important;
      box-shadow: 0 0 8px rgba(255, 0, 0, 0.562);
      padding: 10px;
      border-radius: 5px;
      outline: none;
      transition: all 0.3s ease;
    }

    .sidebar input[type="text"]:focus {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
      border-color: rgb(255, 0, 0);
    }

/*Papel de parede configs*/
  #root {
    background: url(https://i.imgur.com/CIQRCrc.png)
    #00000000;
     background-position: top;
   /*background-repeat: no-repeat;*/
  }

/*Textos*/
  body {
    color: cyan;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.75);
  }

/* Papel de parede principal */
  .container__content {
    background: rgba(0, 0, 0, 0.089);
    backdrop-filter: blur(2px); 
  }
  
/* Caixa de download inferior */
  .bottom-panel {
    background: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.582);
    border-radius: 5px;
    border: 1px solid rgba(0, 255, 255, 0.7);    
  }

/* Toast */
  .toast {}

/*Transparencia em algumas caixas*/
  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .game-item,
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box{
    background: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(7px);
  }

/*Bordas neon em algumas caixas*/
  .settings-download-sources__item, .recent-games__box, .user-stats__box,.theme-card,.settings__content{
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }
  
/*Biblioteca de jogos do usuário*/
 /*.user-library-game__overlay {
    border: 1px solid rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
   }*/

/* Botões */
  .button {
    color: cyan;
    text-shadow: 0 0 7px rgba(0, 255, 255, 0.8);
  }

 /*Efeito de hover ao passar mouse no botão*/
  .button:hover {
    transform: translateY(-5px) scale(1.05);
  }

/*Caixa de download*/
  .download-group__item {
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }


/*Caixa de jogos tela principal*/
  .game-card {
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }

/*Esqueci kk*/
  .hero {
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }

/*Caixa dos botões*/
  .container__content .button--outline {
    backdrop-filter: blur(8px);
    background: rgba(0, 255, 255, 0.15); /* Fundo translúcido azul neon*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
    border: 1px solid rgba(0, 255, 255, 0.7);  
  }

/*Mais alguns botões*/
  .button--outline, .button--primary, .user-friend-modal-add-friend__button{
    background-color: transparent;
    border: 1px solid rgba(0, 255, 255, 0.7);
    background: rgba(0, 255, 255, 0.15);
  }

/*Caixa de adicionar amigos*/
  .modal{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.575);
    background-color: rgba(0, 0, 0, 0.466) !important;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.582);
  }

/*Caixa de games catalogo*/
  .game-item{
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }

/*Caixa de filtros catalogo*/
  .catalogue__filters-container{
    border: 1px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.582);
  }

/*Botões vermelhos*/
  .button--danger {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.582);
  }

/*Transparencia em mais algumas caixas*/
  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

/*Texto neon branco*/
  .theme-card__header__title, .how-long-to-beat__category-label, .repacks-modal__repack-title, .bottom-panel__version-button, .bottom-panel__downloads-button {
    color: white;
    text-shadow: 0 0 8px rgb(255, 255, 255);
  }

/*Mudo o texto no canto inferior direito*/
  .bottom-panel__version-button::after {
    content: " I am Iron Man";
  }

  .bottom-panel__version-button * {
    display: contents;
  }

/*Mudar nome do app*/
  h4::after {
    content: " Jarvis edition";
  }

/*@keyframes neonBackground {
    0% {
        background: rgba(0, 255, 255, 0.15);
    }
    50% {
        background: rgba(0, 255, 255, 0.17);
    }
    100% {
        background: rgba(0, 255, 255, 0.2);
    }
}*/