@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* Aplica a fonte japonesa globalmente */
*,
*::before,
*::after {
  font-family: 'Sawarabi Mincho', sans-serif !important;
  box-sizing: border-box;
}

/* Fundo local */
#root {
  position: relative;
  background: url("assets/background/background-reflex.png")
              center center no-repeat fixed;
  background-size: cover;
  overflow: hidden;
}

/* Seções translúcidas */
.button--dark,
.theme-card__actions__left,
.settings-download-sources__list .settings-download-sources__item,
.title-bar,
.sidebar,
.container__content,
.header,
.bottom-panel,
.text-field-container__text-field--dark,
.header__search,
.settings__container .settings__content,
.sidebar-profile__friends-button,
.game-item,
.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box {
  background: #341f3b6e;
  scrollbar-color: #341f3b #341f3b6e;
  scrollbar-width: thin;
}

/* Texto e bordas */
.settings__content,
.button--dark,
.button--outline,
.theme-card__author__name,
.theme-card__author,
.theme-card__header,
.theme-card__header__title,
.bottom-panel__downloads-button,
.bottom-panel__version-button,
.sidebar-profile__button-title,
.sidebar__section-title,
.header__title,
.sidebar__menu-item {
  color: #FAF0CA;
}

.button--dark {
  border: solid 1px rgba(255, 255, 255, 0.15);
}
.button--dark:hover {
  background-color: #ffffff1e;
}
.sidebar__content {
  scrollbar-width: thin;
}

/* Keyframes da animação Neon Pulse */
@keyframes neonPulse {
  0% {
    text-shadow: 0 0 5px #713D9D;
  }
  100% {
    text-shadow: 0 0 20px #713D9D;
  }
}
