.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
  color: rgb(255, 255, 255);
}

body {
  color: rgb(196, 0, 196);
}

#root {
  background: url(https://wallpapercave.com/wp/wp10170732.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: transparent !important;
  backdrop-filter: blur(8px);
}
