@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  font-size: 17px;
  color: #a682ff; /* Roxo suave */
  background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXpzbmQ3NGdzc3V3dGRnOTA2bG50Ym10bTVqbjFzNGQ1bnpnY210YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/agVQtvpae8j5eqPLa2/giphy.gif') no-repeat center center fixed;
  background-size: cover;
}

#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 10, 30, 0.6); /* Fundo roxo escuro translúcido */
  z-index: -1;
}

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}

/* Botões com efeito hover */
.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px 20px;
}

.container__content .button--outline:hover {
  background-color: rgba(166, 130, 255, 0.3); /* Tom de roxo suave no hover */
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(166, 130, 255, 0.5);
}

.icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px rgba(166, 130, 255, 0.6));
}

.text-field-container__text-field--dark:hover,
.text-field-container__text-field--primary:hover,
.game-item:hover {
  background-color: rgba(166, 130, 255, 0.2);
}

.sidebar button, 
.sidebar .nav-item, 
.sidebar .menu-item {
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  color: #D1D1D1;
  border-radius: 6px; /* Deixando os botões da sidebar arredondados */
  padding: 7px;
  display: flex;
  align-items: center;
}
.sidebar button:hover, 
.sidebar .nav-item:hover, 
.sidebar .menu-item:hover {
  background-color: rgba(166, 130, 255, 0.2);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.6);
}
