body {
    color: #9e9e9e;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Authentic Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e0e0e0;
    text-shadow: 3px 3px 5px #1b1b1b;
  }
  .title-bar {
    display: flex;
    width: 100%;
    height: 35px;
    min-height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 16px;
    -webkit-app-region: drag;
    z-index: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .title-bar h4 {
    visibility: hidden;
  }
  
  .title-bar::after {
    content: "Blue Hydra";
    margin-left: 40%;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #0c19aa, #0ec9fa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }
  
  #root {
    background: url(https://images.unsplash.com/photo-1550353127-b0da3aeaa0ca?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
      #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header, .container__content, .bottom-panel {
    background: transparent;
    border: 1px solid #005f92;
    border-radius: 12px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid #005f92;
    border-radius: 15px;
  }
  
  .sidebar {
    background: transparent;
    border: 1px solid #005f92;
    border-radius: 12px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(15px);
  }
  
  .container__content .button--outline {
    background-color: #202020;
    border: 2px solid #005f92;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
  }
  
  .container__content .button--outline:hover {
    background-color: #0082aa;
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  }
  
  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  
  .profile-hero__hero-panel {
    width: 100%;
    height: 72px;
    min-height: 72px;
    padding: 16px 24px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  }

.achievement-notification__outer-container {
  background: url(https://wallpapers.com/images/high/blue-anime-background-1920-x-1080-phlgb8y8gcezrc1r.webp);
  background-position: bottom;
  background-size: cover;
  color: #000000;
}

.achievement-notification__container {
  background-color: transparent;
}
