body {
  background: url("https://images.unsplash.com/photo-1664297777417-cd2584b4ca0f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat fixed;
  background-size: cover;
  font-family: "Arial", sans-serif;
  color: #ffffff73;
  margin: 0px;
  padding: 0px;
  width:;
  height:;
}

.header {
  background-color: rgba(0, 140, 255, 0.329);
  color: #fcfcfc63;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.title-bar {
  background-color: rgba(0, 162, 255, 0.418);
  color: #00aeff;
  box-shadow: 0px 2px 5px rgba(245, 245, 245, 0.774);
}

.sidebar {
  background-color: rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(55, 184, 235, 0.712);
  backdrop-filter: blur(5px);
  padding: 15px;
  width: 250px;
  float: left;
  height: 100vh;
  box-sizing: border-box;
}

.container__content {
  background: none;
  color: hsl(0, 0%, 100%);
  padding: 20px;
}

.bottom-panel {
  background-color: rgba(14, 152, 211, 0.76);
  border-top: 3px solid rgba(9, 18, 31, 0);
  backdrop-filter: blur(5px);
  padding: 10px;
  text-align: center;
}

.toast {
  background-color: rgba(255, 255, 255, 0.63);
  color: #ffffff6e;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}

.button {
  background-color: rgba(0, 183, 255, 0);
  color: rgba(255, 255, 255, 0.527);
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0px 2px 5px rgba(0, 183, 255, 0.589);
  border: 1px solid rgb(0, 195, 255);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 247, 255, 0);
  opacity: 1;
}
.select-field__option {
  background-color: rgba(0, 162, 255, 0);
  color: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0px 2px 5px rgba(0, 217, 255, 0.295);
  border: 1px solid rgba(0, 174, 255, 0.726);
  cursor: pointer;
}
.select-field__option:hover {
  background-color: rgba(98, 100, 100, 0.705);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  opacity: 1;
}
.settings__content {
  background: none;
}
.theme-card {
  background-color: rgba(0, 195, 255, 0);
  color: #000000;
  box-shadow: 0px 2px 5px rgba(0, 204, 255, 0.5);
  padding: 10px;
}
.game-item {
  background-color: rgba(71, 70, 71, 0.425);
  color: #00b7ff;
  box-shadow: 0px 2px 5px rgba(254, 255, 255, 0.5);
  padding: 10px;
}
.game-item:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #eff7fc;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.catalogue__filters-container {
  background-color: rgba(99, 98, 98, 0.37);
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.checkbox-field__checkbox {
  background-color: rgba(65, 48, 48, 0.541);
  color: #00ccff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.modal {
  background-color: rgba(255, 255, 255, 0.349);
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.repacks-modal__repack-button {
  background-color: rgba(54, 53, 53, 0);
  color: #00e1ff;
  box-shadow: 0px 2px 5px rgba(247, 247, 247, 0.5);
  padding: 10px;
}
.repacks-modal__repack-button:hover {
  background-color: rgba(0, 170, 255, 0);
  color: #00b7ff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.user-stats__box {
  background-color: rgba(61, 83, 85, 0.664);
  color: #00c3ff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.recent-games__box {
  background-color: rgba(47, 55, 59, 0.637);
  color: #00c3ff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0);
  padding: 10px;
}
.settings-download-sources__item {
  background-color: rgba(32, 31, 31, 0);
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.download-group__item {
  background-color: rgba(13, 175, 216, 0.445);
  color: #00c3ff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.badge {
  border-color: rgba(0, 153, 255, 0.568);
}
.pagination__button {
  color: #00aeff;
}
.download-group__title {
  background-color: rgba(0, 183, 255, 0);
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0);
}
