@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-bg-color: #2A004E;
  --secondary-bg-color: #500073;
  --button-bg-color: #C62300;
  --button-hover-bg-color: #F14A00;
  --button-border-bg-color: #f1480021;
}

#root {
  position: relative;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://media-hosting.imagekit.io//a73e68f442d84e27/hex-background-networking.jpg?Expires=1835977938&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=FneBj09FSakVGOPniI4H56Td~k~ROmwyDBkrYR3D7ZTSqMoDs8GPo1sqHPu61BV9b5yIVI9gmo02PPJLlMFMFTKHvE~P-0nFK9p2uCZX-b-6MnxUWwvWx34VgXl7MDKdNW9itHCEq~nWz5mrmsgHTadR0rjTub9EMr33CpZ4NAqkK7hw~uZ66vnoGJY70ax1HNWleNe675A74LVm0yC6JBG~PlUVGwQnnklN6fWCcJVL0kih8JNmCNdK00TpCienzs-zYRxwFgUHxdkjIrpNsXKBPzETvFMDkqyfmINwv9p5TItIFuIpWefNdVuuwlmNBN1rF7ES9B1UcmQ-u~R6Tg__") 
    no-repeat center center;
  background-size: cover;
  filter: saturate(0);
  opacity: 0.05;  /* Aplique a transparência de 10% na imagem */
  z-index: -1;  /* Coloca o pseudo-elemento atrás do conteúdo */
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
    font-family: "Exo", sans-serif;
     font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--primary-bg-color);
}

h1{
  font-weight: 300;
}

h2{
  font-weight: 400;
}

p{
  font-weight: 400;
}

label{
  font-weight: 400;
}

/* Title Bar */
.title-bar {
  border-bottom: none;
  background-color: transparent;
}

/* Header */
.header {
  background-color: transparent;
  border-bottom: none;
}

.header .header__search,
.text-field-container__text-field,
.checkbox-field__checkbox {
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  background-color: transparent;
  border-right: none;
}

.sidebar .text-field-container__text-field {
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
}

.sidebar .text-field-container__text-field-input {
  background-color: transparent;
  border-radius: 5px;
}

.sidebar .profile-avatar,
.sidebar .sidebar-profile__friends-button {
  border-radius: 5px;
  background-color: var(--button-bg-color);
  transition: all ease 0.3s;
}

.sidebar .profile-avatar:hover,
.sidebar .sidebar-profile__friends-button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Main Content */
.container__content {
  background: transparent;
}

.container__content .home__content {
  padding: 20px;
  padding-top: 0;
  padding-right: 15px;
}

.container__content .hero {
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

.container__content .home__header .button,
.container__content .game-details__wrapper .hero-panel .hero-panel__actions .button {
  border-radius: 5px;
  color: #fff;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  background-color: var(--button-bg-color);
  z-index: 1;
}

.container__content .home__header .button--outline,
.container__content .game-details__wrapper .hero-panel .hero-panel__actions .button {
  background-color: transparent;
}

/* Game Cards */
.container__content .home__cards .game-card {
  box-shadow: none;
  border-radius: 5px;
}

.container__content .home__cards .game-card .game-card__backdrop .game-card__content .game-card__download-options {
  display: none;
}

/* Settings */
.container__content .settings__content {
  background: transparent;
}

.container__content .settings__content .settings__categories .button--primary,
.container__content .settings__content .select-field--primary,
.container__content .settings__content .select-field--primary .select-field__option {
  background-color: var(--button-bg-color);
  color: #ffffff;
  border-radius: 5px;
}

.container__content .settings__content .settings__categories .button--outline {
  background-color: transparent;
  border-radius: 5px;
  position: relative;
}

.container__content .settings-download-sources__list .settings-download-sources__item {
  background: transparent;
  border: none;
}

/* Game Details */
.container__content .game-details__container {
  padding-left: 10px;
  padding-right: 10px;
}

.container__content .game-details__container .game-details__hero-content img {
  animation: heartbeat 6s infinite;
}

.container .game-details__container {
  gap: 10px;
}

.container__content .game-details__wrapper .hero-panel {
  background-color: transparent !important;
  border: none;
}

.container__content .game-details__wrapper .game-details__hero img {
  border-radius: 5px;
}

.container__content .game-details__wrapper .game-details__description-container,
.container__content .game-details__wrapper .content-sidebar {
  background: transparent;
}

.container__content .game-details__wrapper .description-header,
.container__content .game-details__wrapper .sidebar-section__button {
  background-color: var(--secondary-bg-color);
}

.container__content .game-details__wrapper .content-sidebar {
  border: none;
}

/* Bottom Panel */
.bottom-panel {
  background-color: transparent;
  border: none;
}

/* Catalogue */
.catalogue .catalogue__games-container .game-item {
  background: transparent;
  border: none;
}

.catalogue .catalogue__games-container .game-item img {
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.15);
}

.catalogue .catalogue__filters-container {
  background: transparent;
  border: none;
}

.catalogue .pagination .button--primary {
  background-color: var(--button-bg-color);
  color: #ffffff;
}

/* Toast */
.toast {
  background-color: transparent;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--button-bg-color);
}

/* Custom Scrollbars for specific sections */
.container__content .game-details__container::-webkit-scrollbar-track,
.container__content .settings__content .select-field--primary::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
}

.container__content .game-details__container::-webkit-scrollbar,
.container__content .settings__content .select-field--primary::-webkit-scrollbar {
  width: 5px;
}

.container__content .game-details__container::-webkit-scrollbar-thumb,
.container__content .settings__content .select-field--primary::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--button-bg-color);
}

/* Profile Hero */

.profile-hero__content-box {
  background: transparent !important;
}

.profile-hero__hero-panel {
  background: transparent !important;
  box-shadow: none;
  border: none;
}

.profile-content__section-header h2 {
  display: block;
}

.user-stats__box {
  background: transparent;
  border: none;
}

/* Modal */
.modal {
  background-color: transparent;
}

/* Button Styles */
.button,
.badge{
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  background-color: var(--button-bg-color);
  z-index: 1;
}

.button--outline,
.badge{
  background-color: transparent;
}

.button--outline:after,
.button--outline:before,
.badge:after,
.badge:before,
.requirement__button-container .button:not():after,
.requirement__button-container .button:not():before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0.2;
  z-index: -1;
  transition: all 0.3s;
}

.button--outline:hover,
.badge:hover,
.requirement__button-container .button:not():hover {
  color: #fff;
}

.button--outline:hover:before,
.badge:hover:before,
.requirement__button-container .button:not():before {
  width: 100%;
}

/* Keyframes */
@keyframes heartbeat {
  0% {
    transform: scale(1); /* Tamanho original */
  }
  30% {
    transform: scale(1.2); /* Aumenta 20% */
  }
  50% {
    transform: scale(1); /* Volta ao tamanho original */
  }
  70% {
    transform: scale(1.2); /* Aumenta novamente */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho original */
  }
}
