
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    -webkit-app-region: drag;
    width: 100%;
    padding: 16px 24px;
    color: #afafaf;
    border-bottom: solid 1px #c5c5c54f;
    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(5px);
}

.header__section {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    overflow: hidden;
}

.header__search {
    background-color: #1c1c1c;
    display: inline-flex;
    transition: all ease 0.5s;
    width: 200px;
    align-items: center;
    border-radius: 20px;
    border: solid 1px #5e5e5e80;
    height: 40px;
    -webkit-app-region: no-drag;
    padding: 4px;
}

.container__content,

.bottom-panel {
  background: transparent;
}

.title-bar
{
    display: flex;
    width: 100%;
    height: 35px;
    min-height: 35px;
    background-color: #000000;
    align-items: center;
    padding: 0 16px;
    -webkit-app-region: drag;
    z-index: 4;
    border-bottom: 1px solid #000000;
}

.profile-hero__background-overlay--transparent {
    background: #00000088;
}

.profile-hero__hero-panel {
    width: 100%;
    height: 72px;
    min-height: 72px;
    padding: 16px 24px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    border-top: solid 1px #c5c5c54f;
    box-shadow: 0px 0px 15px 0px #000000;
    background-color: rgb(0, 0, 0);
}

.profile-content__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #000000b9;
}


.home__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    flex: 1;
    overflow-y: auto;
    color: #000000b9;
}

.hero {
    width: 100%;
    height: 280px;
    min-height: 280px;
    max-height: 280px;
    border-radius: 15px;
    color: #dadbe1;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px #000000;
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.15);
    z-index: 1;
}

.game-card {
    width: 100%;
    height: 180px;
    box-shadow: 0px 0px 15px 0px #000000;
    overflow: hidden;
    border-radius: 15px;
    transition: all ease 0.2s;
    border: solid 1px #00000060;
    cursor: pointer;
    z-index: 1;
}

.game-item {
    background-color: #151515;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
    gap: 16px;
    transition: all ease 0.2s;
}

.checkbox-field__checkbox {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    background-color: #151515c2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.2s;
    border: solid 1px rgba(255, 255, 255, 0.15);
}


body {
  color: #afafaf;
}

.user-library-game__wrapper {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: all ease 0.5s;
}

#root {
  background: url(https://images2.alphacoders.com/941/941898.jpg)
    #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-field-container__text-field {
    display: inline-flex;
    transition: all ease 0.5s;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    border: solid 1px #5e5e5e80;
    height: 40px;
    min-height: 40px;
    flex: 1;
    min-width: 0;
}

.text-field-container__text-field--dark {
    background-color: #00000077;
}

.text-field-container__text-field-input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: #afafaf;
    cursor: text;
    font-family: inherit;
    text-overflow: ellipsis;
    padding: 15px;
}

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,

.recent-games__box{
    background-color: #000000b2;
    backdrop-filter: blur(5px);
    border-radius:  10px;
}

.user-stats__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #000000b9;
}

.user-library-game__playtime {
    background-color: #1c1c1c;
    color: #afafaf;
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px;
}

.recent-games__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #000000b9;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(5px);
}

.sidebar-profile__friends-button{
    color: #e7e7e7;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #000000;
    position: relative;
    transition: all ease 0.3s;
}

.sidebar__menu-item{
    transition: all ease 0.3s;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    color: #afafafd2;
    border-radius: 20px;
}

.sidebar__menu-item-button {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    padding: 7px 9px;
    
}

.container__content .button--outline {
  backdrop-filter: blur(5px);
  background-color: #00000079;
}

.settings-download-sources__item,
.download-group__item,

.game-item {
   backdrop-filter: blur(5px);
  background-color: #000000be;
}



.container__content .button--outline {
    backdrop-filter: blur(5px);
    background-color: #00000079;
    border-radius: 20px;
}

.profile-hero__button--outline {
    border-color: #5e5e5e80;
}

.button--danger {
    border-color: transparent;
    background-color: #801d1e;
    color: #c0c1c7;
    border-radius: 20px;
}