@@ -1,546 +1,558 @@
/* Cyberpunk Theme - Darker Background */
/*    Create by @hash.  
      Discord: yix.
      Theme: P͍͊ u̩̼̫ͤ̈́ͣ̐̄̚ͅ r̮̖͕̣͈̼̦̠ͭͪ̈̇͊̒̋̈ p̳͕̳̞͕̝̱̜̣̝̠͙̿́͌̈́͌̑ͩͬ ḷ͈̹͕̼̟̯̯͚͚̠͇͓͉̳̝ͥ̃̏̎̏͛̀ͪ e̮̯͕̟̺̲̖͔̞̘̞͓͚͉͖̮̪͉̠̾͑̄̔́͐ͣͅ .͉͙̺͖͕͙̖͓̪̙̳͇̘̳͍̜̹̜̪̩̦͇̃̓ͫ̂ͅͅ Ṫ̮̯͈̲̼̭̬̤̺̻̤̘̦̩̗̺̲̩̥͈̳͍̈̔͐̑̚ r̩̗̻͈̘͎̠̫̩̮̗̝̝͓̺̉̓ͩ͌̀̂̔̿ͅͅͅ ő͙͖̘͙͎̖̹͙͙̙͓͙̭͇ͬ̓̃̐̈́͂͑ j͕͓͔͇͚̲͉̬̘̮ͣͧ͂̊͋̾́͂ a͉͍̗̤̹̜͂ͣ̔ͥ̅͑́ n̥̞ͮ͛͗̀̊
      V1.0
*/

:root {
  --cyberpunk-primary: #db64ff; 
  --cyberpunk-secondary: #c129e7; 
  --cyberpunk-background: #000000; 
  --cyberpunk-text: #ffffff; 
  --cyberpunk-accent: #000000; 
  --cyberpunk-border: rgb(0, 0, 0); 
  background: url('') no-repeat center center fixed;
  background-size: cover;

}

:root {
    --cyberpunk-primary: #db64ff; /* Neon Green */
    --cyberpunk-secondary: #c129e7; /* Neon Pink */
    --cyberpunk-background: #000000; /* Almost Black Background */
    --cyberpunk-text: #ffffff; /* White Text */
    --cyberpunk-accent: #000000; /* Neon Blue */
    --cyberpunk-border: rgb(0, 0, 0); /* Semi-transparent White */
    background: url('') no-repeat center center fixed;
    background-size: cover;

  }

#root > main > article > section > div > div > section.profile-hero__content-box > div.profile-hero__background-overlay.profile-hero__background-overlay--transparent {
    background-image: url('https://media.discordapp.net/attachments/916064618663788574/1341627549888811018/I60aZn.gif?ex=67b6af86&is=67b55e06&hm=f6818cd4e3c0e3de596cc83026cdde3975cd0279d361c4d522974cbb7a22b0fe&=&width=1214&height=683');
    background-size: cover;
    background-position: center;
}





  body {
    font-family: sans-serif;
    font-size: large;
    border: none;
    color: var(--cyberpunk-text);
  }

  /* Title bar */
  .title-bar {background-color: #000000;
  }

  /* Barra */
  .header header--is-windows {background-color: #000000;}

  /* Cyberpunk Background */
  .container__content {
    background: linear-gradient(0deg, var(--cyberpunk-background) 50%, #000000 100%);
  }

  /* Cyberpunk Scrollbar */
  ::-webkit-scrollbar {
    width: 9px;
    background-color: var(--cyberpunk-background);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.03);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--cyberpunk-primary);
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--cyberpunk-secondary);
  }

  /* Cyberpunk Buttons */
  .button {
    background-color: var(--cyberpunk-primary);
    color: var(--cyberpunk-background);
  }

  .button--primary:hover {
    background-color: #dcc4ff;
  }

  .button--outline {
    background-color: transparent;
    color: var(--cyberpunk-primary);
  }

  .button--outline:hover {
    background-color: rgb(14, 13, 13);
  }

  .button--dark {
    background-color: var(--cyberpunk-background);
    color: var(--cyberpunk-primary);
  }

  .button--danger {
    background-color: var(--cyberpunk-secondary);
    color: var(--cyberpunk-text);
  }

  /* Cyberpunk Header */
  .header {
    background-color: #000000ad;
    border-bottom: solid 1px var(--cyberpunk-border);
  }

  .header__search {
    background-color: var(--cyberpunk-background);
    border: solid 1px var(--cyberpunk-border);
  }

  .header__search:hover {
    border-color: var(--cyberpunk-primary);
  }

  .header__search--focused {
    border-color: var(--cyberpunk-primary);
  }

  /* Cyberpunk Sidebar */
  .sidebar {
    background-color:#050207;
    border-right: solid 1px var(--cyberpunk-border);
  }

  .sidebar__menu-item:hover {
    background-color: #7a3b7771;
  }


  .sidebar-section__button {
      height: 72px;
      padding: 16px 16px;
      display: flex;
      align-items: center;
      background-color: #000000b9;
      color: #c0c1c7;
      width: 100%;
      cursor: pointer;
      transition: all ease 0.2s;
      gap: 8px;
      font-size: 14px;
      font-weight: bold;
  }


  .sidebar__menu-item--active {
    background-color: rgba(165, 61, 209, 0.712);
  }

  .stats__section {
      display: flex;
      gap: 16px;
      padding: 16px;
      justify-content: space-between;
      transition: max-height ease 0.5s;
      overflow: hidden;
      background-color: #000000;
  }

  /* Cyberpunk Game Card */

  .game-card:hover .game-card__cover {
    transform: scale(1.10);
  }

  .game-card:hover .game-card__content {
    transform: translateY(0px);
  }

  .hero-panel {
      width: 100%;
      height: 5px;
      min-height: 72px;
      padding: 12px 154px;
      background-color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all ease 0.2s;
      overflow: hidden;
      top: 0;
      z-index: 0;
  }

  .button--outline {


body {
  font-family: sans-serif;
  font-size: large;
  border: none;
  color: var(--cyberpunk-text);
}

/* Cyberpunk Background */
.container__content {
  background: linear-gradient(0deg, var(--cyberpunk-background) 50%, #000000 100%);
}

/* Cyberpunk Scrollbar */
::-webkit-scrollbar {
  width: 9px;
  background-color: var(--cyberpunk-background);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.03);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cyberpunk-primary);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cyberpunk-secondary);
}

/* Cyberpunk Buttons */
.button {
  background-color: var(--cyberpunk-primary);
  color: var(--cyberpunk-background);
}

.button--primary:hover {
  background-color: #dcc4ff;
}

.button--outline {
  background-color: transparent;
  color: var(--cyberpunk-primary);
}

.button--outline:hover {
  background-color: rgb(14, 13, 13);
}

.button--dark {
  background-color: var(--cyberpunk-background);
  color: var(--cyberpunk-primary);
}

.button--danger {
  background-color: var(--cyberpunk-secondary);
  color: var(--cyberpunk-text);
}

/* Cyberpunk Header */
.header {
  background-color: #000000ad;
  border-bottom: solid 1px var(--cyberpunk-border);
}

.header__search {
  background-color: var(--cyberpunk-background);
  border: solid 1px var(--cyberpunk-border);
}

.header__search:hover {
  border-color: var(--cyberpunk-primary);
}

.header__search--focused {
  border-color: var(--cyberpunk-primary);
}
/* Cyberpunk Sidebar */
.sidebar {
  background-color:#050207;
  border-right: solid 1px var(--cyberpunk-border);
}

.sidebar__menu-item:hover {
  background-color: #7a3b7771;
}


.sidebar-section__button {
    height: 72px;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    background-color: #000000b9;
    color: #c0c1c7;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
}


.sidebar__menu-item--active {
  background-color: rgba(165, 61, 209, 0.712);
}

.stats__section {
    display: flex;
    gap: 16px;
    padding: 16px;
    justify-content: space-between;
    transition: max-height ease 0.5s;
    overflow: hidden;
    background-color: #000000;
}

/* Cyberpunk Game Card */

.game-card:hover .game-card__cover {
  transform: scale(1.10);
}

.game-card:hover .game-card__content {
  transform: translateY(0px);
}

.hero-panel {
    width: 100%;
    height: 5px;
    min-height: 72px;
    padding: 12px 154px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.2s;
    overflow: hidden;
    top: 0;
    z-index: 0;
}

.button--outline {
  background-color: #000000;
  border: none;
}

.description-header {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 72px;
}


.hero:hover .hero__media {
  transform: scale(1.02);
}

/* Cyberpunk Modal */
.modal {
  background-color: var(--cyberpunk-background);
}

.modal__close-button:hover {
  opacity: 0.75;
}

/* Cyberpunk Toast */
.toast {
  background-color: var(--cyberpunk-background);

}

.toast__progress::-webkit-progress-value {
  background-color: var(--cyberpunk-primary);
}

.toast__close-button:hover {
  color: var(--cyberpunk-primary);
}

/* Cyberpunk Checkbox */
.checkbox-field__checkbox {
  background-color: var(--cyberpunk-background);
}

.checkbox-field__checkbox:hover:not(:has(input:disabled)) {
  border-color: var(--cyberpunk-primary);
}

/* Cyberpunk Select Field */
.select-field {
  border: none;
}

.select-field:hover {
  border-color: var(--cyberpunk-primary);
}

.select-field--focused {
  border-color: var(--cyberpunk-primary);
}

.select-field__option {
  background-color: var(--cyberpunk-background);
  color: var(--cyberpunk-text);
}

/* Cyberpunk Text Field */

.text-field-container__text-field:hover {
  border-color: var(--cyberpunk-primary);
}

.text-field-container__text-field--focused {
  border-color: var(--cyberpunk-primary);
}

/* Cyberpunk Badge */
.badge {
  color: rgb(255, 255, 255);
  background-color: #9400d3;
}


.title-bar {
  background-color: var(--cyberpunk-background);
  color: #9400d3;
}

.title-bar__cloud-text {
  background: linear-gradient(270deg, var(--cyberpunk-primary) 50%, var(--cyberpunk-accent) 100%);
  background-clip: text;
  color: transparent;
}

.settings__content {
  background-color: #000000;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 36px;
    gap: 12px;
    width: 100%;
    overflow: auto;
    color: #ffcaff71;
}

.sidebar-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #58295c21;
}

.container__content {
    background: #000000d2;
}

.bottom-panel {
    width: 100%;
    background-color: #0000004b;
    padding: 15px 56px;
    display: flex;
    align-items: center;
    transition: all ease 0.2s;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.bottom-panel__downloads-button {
    color: #ffffff;
    font-weight: bolder;
    font-size: medium;
}

.game-item {
  background-color: #000000;
  border: none;
}

.gallery-slider__container {
    padding: 24px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    border: none;
  }

  .description-header {
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      height: 72px;
  }


  .hero:hover .hero__media {
    transform: scale(1.02);
  }

  /* Cyberpunk Modal */
  .modal {
    background-color: var(--cyberpunk-background);
  }

  .modal__close-button:hover {
    opacity: 0.75;
  }

  /* Cyberpunk Toast */
  .toast {
    background-color: var(--cyberpunk-background);

  }

  .toast__progress::-webkit-progress-value {
    background-color: var(--cyberpunk-primary);
  }

  .toast__close-button:hover {
    color: var(--cyberpunk-primary);
  }

  /* Cyberpunk Checkbox */
  .checkbox-field__checkbox {
    background-color: var(--cyberpunk-background);
  }

  .checkbox-field__checkbox:hover:not(:has(input:disabled)) {
    border-color: var(--cyberpunk-primary);
  }

  /* Cyberpunk Select Field */
  .select-field {
}

.game-details__description {
    user-select: text;
    line-height: 22px;
    font-size: 15px;
    padding: 14px 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000e1;
    border: none;
}

.description-header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000c7;
    height: 90px;
    border: none;
}

.game-details__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 1;
    border: none;
}

.game-details__hero-content {
    padding:px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
}


.list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px;
    background-color: #02020234;
    border: none;
}

* {
  border: none !important;
}

.how-long-to-beat__categories-list {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #00000069;
}

.requirement__details {
    padding: 16px;
    line-height: 22px;
    font-size: 12px;
    background-color: #00000062;
}

.game-details__description-content {
    width: 100%;
    height: 100%;
    background-color: #00000085;
}

.game-card__backdrop {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

}

.home__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px;
    flex: 1;
    overflow-y: auto;
}

.content-sidebar {
    background-color: #000000b9;
    width: 100%;
    height: 100%;
}

.text-field-container__text-field-input {
    background-color: #130a1b;
    border: none;
  }

  .select-field:hover {
    border-color: var(--cyberpunk-primary);
  }

  .select-field--focused {
    border-color: var(--cyberpunk-primary);
  }

  .select-field__option {
    background-color: var(--cyberpunk-background);
    color: var(--cyberpunk-text);
  }

  /* Cyberpunk Text Field */

  .text-field-container__text-field:hover {
    border-color: var(--cyberpunk-primary);
  }

  .text-field-container__text-field--focused {
    border-color: var(--cyberpunk-primary);
  }

  /* Cyberpunk Badge */
  .badge {
    color: rgb(255, 255, 255);
    background-color: #ff24e2;
  }




  /* Cyberpunk Title Bar */
  .title-bar {
    background-color: var(--cyberpunk-background);
    color: #e169ff;
  }

  .title-bar__cloud-text {
    background: linear-gradient(270deg, var(--cyberpunk-primary) 50%, var(--cyberpunk-accent) 100%);
    background-clip: text;
    color: transparent;
  }

  .settings__content {
    width: 100%;
    height: 100%;
    outline: none;
    color: #fdfdff;
    cursor: default;
    font-family: inherit;
    text-overflow: ellipsis;
    padding: 8px;
}

.sidebar-profile__button {
    display: flex;
    cursor: pointer;
    transition: all ease 0.1s;
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: 8px 8px;
    background-color: #40204985;
}

.sidebar-profile__button:hover {
    background-color: #2c0b2c85;
}

.sidebar-profile__friends-button {
    color: #c0c1c7;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #9400d3;
    position: relative;
    transition: all ease 0.3s;
}

.sidebar-profile__friends-button:hover {
    background-color: #cc00ff52;
}

.catalogue__filters-container {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 4px;
    padding: 16px;
    align-self: flex-start;
}

.settings-download-sources__item {
    display: flex;
    flex-direction: column;
    background-color: #352f2f11;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    transition: all ease 0.2s;
}

.game-item {
    background-color: #080808;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
    gap: 16px;
    transition: all ease 0.2s;
}

.settings__content {
    background-color: #000000;
  }

  .sidebar__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 36px;
      gap: 12px;
      width: 100%;
      overflow: auto;
      color: #ffcaff71;
  }

  .sidebar-profile {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      background-color: #58295c21;
  }

  .container__content {
      background: #000000d2;
  }

  .bottom-panel {
      width: 100%;
      background-color: #0000004b;
      padding: 15px 56px;
      display: flex;
      align-items: center;
      transition: all ease 0.2s;
      justify-content: space-between;
      position: relative;
      z-index: 3;
  }

  .bottom-panel__downloads-button {
      color: #ffffff;
      font-weight: bolder;
      font-size: medium;
  }

  .game-item {
    width: 100%;
    height: 100%;
    padding: 24px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 15px 0px #000000;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.user-stats__box {
    background-color: #000000;
    border: none;
  }

  .gallery-slider__container {
      padding: 24px 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #000000;
      border: none;
  }

  .game-details__description {
      user-select: text;
      line-height: 22px;
      font-size: 15px;
      padding: 14px 50px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: #000000e1;
      border: none;
  }

  .description-header {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000000c7;
      height: 90px;
      border: none;
  }

  .game-details__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;
      z-index: 1;
      border: none;
  }

  .game-details__hero-content {
      padding:px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border: none;
  }


  .list {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 15px;
      background-color: #02020234;
      border: none;
  }

  * {
    border: none !important;
  }

  .how-long-to-beat__categories-list {
      margin: 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #00000069;
  }

  .requirement__details {
      padding: 16px;
      line-height: 22px;
      font-size: 12px;
      background-color: #00000062;
  }

  .game-details__description-content {
      width: 100%;
      height: 100%;
      background-color: #00000085;
  }

  .game-card__backdrop {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;

  }

  .home__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 150px;
      flex: 1;
      overflow-y: auto;
  }

  .content-sidebar {
      background-color: #000000b9;
      width: 100%;
      height: 100%;
  }

  .text-field-container__text-field-input {
      background-color: #130a1b;
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      color: #fdfdff;
      cursor: default;
      font-family: inherit;
      text-overflow: ellipsis;
      padding: 8px;
  }

  .sidebar-profile__button {
      display: flex;
      cursor: pointer;
      transition: all ease 0.1s;
      color: #ffffff;
      width: 100%;
      overflow: hidden;
      border-radius: 4px;
      padding: 8px 8px;
      background-color: #40204985;
  }

  .sidebar-profile__button:hover {
      background-color: #2c0b2c85;
  }

  .sidebar-profile__friends-button {
      color: #9400d3;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      min-width: 40px;
      min-height: 40px;
      height: 40px;
      background-color: #ffffff;
      position: relative;
      transition: all ease 0.3s;
  }

  .sidebar-profile__friends-button:hover {
      background-color: #cc00ff52;
  }

  .catalogue__filters-container {
      width: 270px;
      min-width: 270px;
      max-width: 270px;
      background-color: rgba(0, 0, 0, 0.74);
      border-radius: 4px;
      padding: 16px;
      align-self: flex-start;
  }

  .settings-download-sources__item {
      display: flex;
      flex-direction: column;
      background-color: #352f2f11;
      border-radius: 8px;
      padding: 16px;
      gap: 8px;
      border: solid 1px rgba(255, 255, 255, 0.15);
      transition: all ease 0.2s;
  }

  .game-item {
      background-color: #080808;
      width: 100%;
      color: #fff;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      cursor: pointer;
      gap: 16px;
      transition: all ease 0.2s;
  }

  .settings__content {
      background-color: #000000;
      width: 100%;
      height: 100%;
      padding: 24px;
      border: solid 1px rgba(255, 255, 255, 0.15);
      box-shadow: 0px 0px 15px 0px #000000;
      border-radius: 8px;
      gap: 16px;
      display: flex;
      flex-direction: column;
  }
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    padding: 16px;
}

.recent-games__box {
    background-color: #000000;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    padding: 16px;
}

  /* Titulo */
h4 {
  color: #9400d3;
  font-size: 15px;
  visibility: hidden;
  position: relative;
}

h4::after {
  content: "hash.";
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
}

  /* Header */
  .header { background-color: #000000; /* Define uma imagem de fundo */
  }

  /* Barra de baixo */
  .bottom-panel {background-color: #000000;
  }

  /* letra da baixa de baixo */
  .bottom-panel__downloads-button { background-color: #000000;
  }

  /* barra de download */
  .button--outline {
    background-color: transparent;
    color: #ffffff; }

    /* fundo dos jogos */
    .game-details__description-content {
      background-color: transparent;
    }

#root > main > article > section > div > div > section.profile-hero__content-box > div.profile-hero__hero-panel.profile-hero__hero-panel--transparent {
    background: black !important;
    opacity: 1 !important;
}

* {
    border: none !important;
    box-shadow: none !important;
}
hr, div[style*="border"], div[style*="box-shadow"] {
    display: none !important;
}

/* Container para o texto animado */
.alternating-text {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

/* Pseudo-elemento que exibe o texto */
h4::after {
  content: ""; /* Primeira palavra */
  position: absolute;
  opacity: 0;
  animation: changeWord 6s infinite;
}

/* Animação para alternar as palavras */
@keyframes changeWord {
  0%, 33.33% {
    opacity: 1;
    content: "𝒮𝒰𝒞𝒦"; /* Primeira palavra */
    font-family: 'Brush Script', sans-serif; /* Fonte para a primeira palavra */
  }
  33.34%, 66.66% {
    opacity: 1;
    content: "𝑀𝒴"; /* Segunda palavra */
    font-family: 'Brush Script', sans-serif; /* Fonte para a segunda palavra */
  }
  66.67%, 100% {
    opacity: 1;
    content: "𝐸𝒢𝒢𝒮"; /* Terceira palavra */
    font-family: 'Brush Script', sans-serif; /* Fonte para a terceira palavra */
  }
}

