/* Red Dead Redemption 1 Theme for Hydra Launcher By Speedy777*/

/* Main Content - Background Wallpaper */
.container__content {
  background: url('https://wallpapercave.com/wp/wp2837874.jpg') no-repeat center center;
  background-size: cover;
  color: #E0C097; 
}

/* Header */
.header {
  background-color: rgba(139, 0, 0, 0.9);
  border-bottom: 3px solid #B22222; 
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  background-color: #8B0000;
  color: #E0C097;
  border-right: 2px solid #8B0000; 
}

/* Bottom Panel */
.bottom-panel {
  background-color: rgba(139, 0, 0, 0.9);
  color: white;
  border-top: 3px solid #B22222;
}

/* Toast (Notifications) */
.toast {
  background-color: rgba(139, 0, 0, 0.9);
  color: white;
  font-weight: bold;
}

/* Buttons */
.button {
  background-color: #8B0000; 
  color: white;
  border: 1px solid #8B0000;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover {
  background-color: #8B0000;
  color: #b96f00;
}
