.header,
.container__content,
.game-details__description-container{
  background: transparent;
}

.title-bar h4{
  visibility: hidden;
}

.title-bar{
  font-size: 15px;
  font-weight: bold;
}

#root,
.modal__content,
.sidebar-profile__button{
  background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-bar{
  background-image: url(https://i.imgur.com/A9m7Eke.gif);
  background-repeat: no-repeat;
  background-position: 10px;
}

.title-bar,
.text-field-container__text-field-input,
.sidebar__menu-item:hover,
.sidebar,
.catalogue__filters-container,
.header__search,
.modal__header,
.modal__content,
.edit-profile-modal__submit,
.user-stats__list-item:hover,
.recent-games__list-item:hover,
.button--outline:hover,
.sidebar-profile__friends-button,
.sidebar-profile__friends-button:hover,
.description-header,
.sidebar-section__button,
.list,
.content-sidebar,
.hero-panel-actions__action{
  background-color: black;
}

.title-bar,
.sidebar,
.sidebar__menu-item-button,
.filter-section__item,
.checkbox-field,
.edit-profile-modal__submit,
.badge,
.user-stats__list-title,
.recent-games__game-title,
.text-field-container label,
.settings-general__common-redist-description,
.theme-card__header__title,
.settings-torbox__description,
.settings-real-debrid__description,
.select-field__label,
.settings-account__section p,
.settings-account__subscription-info,
.settings-account__section small,
.game-details__description-container,
.list__item{
  color: limegreen;
}

.sidebar__menu li,
.sidebar-profile__button,
.sidebar__section-title,
.text-field-container__text-field-input::placeholder,
.filter-section__title,
.header__search-input::placeholder,
.header__title,
.modal__header-title,
.text-field-containe,
.text-field-container,
.profile-content__section,
.downloads__container,
.download-group__title,
.dropdown-menu__group,
.home__content,
.settings__content,
.octicon-people,
.user-friend-modal__header,
.user-friend-modal-add-friend__pending-container{
  color: white;
}

.sidebar__menu-item:hover,
.text-field-container__text-field-input:hover,
.header__search:hover,
.sidebar-profile__button:hover,
.edit-profile-modal__submit,
.badge,
.user-stats__list-item:hover,
.recent-games__list-item:hover,
.button--outline:hover,
.sidebar-profile__friends-button:hover{
  border: 1px solid limegreen;
}

.sidebar__menu-item:hover,
.text-field-container__text-field-input,
.header__search,
.sidebar-profile__button:hover,
.edit-profile-modal__submit,
.user-library-game__wrapper,
.user-stats__list-item,
.recent-games__list-item,
.hero,
.game-card{
  border-radius: 10px;
}

.checkbox-field__checkbox,
.button--outline,
.sidebar-profile__friends-button,
.header__search,
.text-field-container__text-field-input,
.sidebar-profile__button{
  border: 1px solid rgba(50, 205, 50, 0.300);
}

.game-item,
.user-stats__box,
.recent-games__box,
.download-group__item,
.dropdown-menu__group,
.button--outline,
.settings__content,
.settings-download-sources__item,
.game-details__description-content{
  background-color: rgba(0, 0, 0, 0.700);
}

.edit-profile-modal__submit:hover,
.button--primary,
.button--primary:hover{
  color: black;
}

.edit-profile-modal__submit:hover,
.button--primary,
.button--primary:hover,
.download-group__header-divider{
  background-color: limegreen;
} 
