@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/73fedd912ba11f583a359ce4c2e742ed?family=Ninja+Naruto+V1');

* {
  font-weight: bold;
  color: white;
}

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

.title-bar {
  font-size: 22px;
  font-family: 'Ninja Naruto V1', sans-serif;
  -webkit-text-stroke: 1px black;
  color: rgba(165, 165, 165, 0.842);
  display: flex;
  border-radius: 10px;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 11px;
  top: 15px;
  border: 0.1px solid rgba(167, 167, 167, 0.74);
  width: 225px;
  height: auto;
  margin: 0;
}

.sidebar-profile__button {
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 10px;
  position: relative;
  top: 50px;
}

.sidebar__content {
  overflow: auto;
  top: 60px;
  display: flex;
  position: relative;
}

#root {
  background: url(https://i.imgur.com/XxMgOET.png) top no-repeat;
  background-size: cover;
}

.text-field-container__text-field--primary,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(68, 65, 65, 0.5) !important;
  backdrop-filter: blur(5px);
}

.sidebar {
  position: relative;
  padding-top: 40px;
}

.header--is-windows {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  margin-right: 200px;
}

@media (max-width: 768px) {
  .header__search {
    width: 80%;
    margin-right: 10px;
  }
}

.text-field-container__text-field--dark {
  background-color: rgba(0, 0, 0, 0.719) !important;
  border: 1px solid rgba(255, 255, 255, 0.473);
}

.settings__content {
  color: white;
}

.settings__categories {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  gap: 10px;
}

.settings__categories > * {
  flex: 1 1 200px;
  min-width: 150px;
}

@media (max-width: 768px) {
  .settings__categories {
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
  }

  .settings__categories > * {
    width: 100%;
  }
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.747);
}

.button--primary {
  color: rgba(255, 255, 255, 0.829);
  background-color: rgba(71, 70, 70, 0.644);
  border: 0.2px solid rgba(255, 253, 253, 0.637);
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, fill 0.5s ease;
}

.button:hover {
  background-color: rgba(7, 7, 7, 0.829);
  color: white;
  border: 0.2px solid rgba(255, 255, 255, 0.637);
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease, fill 0.9s ease;
}

.button:hover svg {
  fill: rgba(255, 255, 255, 0.87);
  transition: fill 0.9s ease;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: black !important;
  transition: background-color 0.9s ease, border-color 0.9s ease, fill 0.9s ease;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.theme-card {
  background-color: black;
}

.profile-content__right-content {
  background: none;
}

.user-stats__box {
  border-radius: 10px;
  color: white;
}

.recent-games__box,
.friends-box__box {
  border-radius: 10px;
}

.user-stats__section-header,
.recent-games__section-header,
.friends-box__section-header {
  background-color: black;
  padding: 8px;
  position: relative;
  border-radius: 10px;
  display: block;
  text-align: center;
}

.friends-box__section-header {
  display: flex;
  align-items: center;
}
