body {
    font-family: cursive, Noto Sans, sans-serif;
    font-size: 14px;
    color: #778a9f;
    background-color: #16181d;
}

.container__content{
    background: transparent;
    border-radius: 7px;
}

.settings__content {
    background-color: #1c1f26;
}

.home__content {
    background-color: #1c1f26;
    border-bottom: solid 7px #16181d;
}

.bottom-panel {
    background-color: #1c1f26;
    border-top: solid 10px #16181d;
    border-radius: 7px;
}

.text-field-container__text-field-input--read-only {
    background-color: #1c1f26;
    border-radius: 7px;
}

.text-field-container__text-field--dark,
.header__search, .text-field-container__text-field--primary,
.game-item {  
    background-color: #16181d; 
    border: transparent             
  }

.sidebar__menu {
    background-color: #16181d;
    border-radius: 7px;
}

.sidebar__section-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #778a9f;
}

.sidebar__content {
    background-color: #1c1f26;
    color: #778a9f;
}
.sidebar-profile__friends-button {
    background-color: #16181d;
    color: #778a9f;
}

.sidebar-profile__button {
    background-color: #16181d;
    border-radius: 7px;
    color: #778a9f;
}

.sidebar-profile {
    border-radius: 7px;
    border-top: 7px #1c1f26;
    background-color: #1c1f26;
}

.game-item {
    background-color: #1c1f26;
    color: #778a9f;
    border-radius: 7px;
    border: 7px solid #1c1f26;
}

.catalogue__filters-container {
    background-color: #1c1f26;
    border-radius: 7px;
    border: 1px solid #ffffff00;
}

.sidebar {
    background-color: #16181d;
    color: #778a9f;
    flex-direction: column;
    display: flex;
    transition: opacity ease 0.2s;
    border-right: solid 14px #16181d;
    border-left: solid 14px #16181d;
    position: relative;
    overflow: hidden;
    padding-top: 0.1px;
    border-radius: 7px;
    border-bottom: solid 7px #16181d;
}
.title-bar {
    background-color: #1c1f2600;
    color: #778a9f;
    border-bottom: 1px solid #16181d;
}

.header {
    color: #778a9f;
    border-bottom: solid 10px #16181d;
    background-color: #1c1f26;
    border-right: solid 10px #16181d;
    border-radius: 7px;
}

.user-stats__section-header,
.recent-games__section-header {
    justify-content: center;
    background-color: #1c1f26;
    border-radius: 7px;
    border: solid 2px #1c1f26;
    }

.profile-content__section-header {
    background-color: #1c1f26;
    border: solid 4px #1c1f26;
    border-radius: 7px;
}

.user-stats__box,
.recent-games__box{
    background-color: #1c1f26;
    border: #16181d;
}

.user-stats__list-item,.recent-games__list {
    background-color: #16181d;
    border-radius: 7px;
    color: #778a9f;
}

.profile-hero__hero-panel--transparent {
    background: #16181d  !important ;
}

.profile-hero__background-overlay--transparent {
    background: #dd181800
      url("https://i.ibb.co/LdwjqR03/wallhaven-m3v3j1.png")
    no-repeat center center;
     background-size: cover;
}

.profile-hero__button--outline {
    background: #16181d;
    border: transparent;
}

.button--danger {
    background-color: #0f0f0ff6;
}

.sidebar__menu-item,
.recent-games__list-item,
.download-group__title,
.theme-card__header__title {
    color: #869ab1;
}

.settings-download-sources__item {
    background-color: #16181d;
    border: solid 1px rgba(255, 255, 255, 0);
}

.button--outline{
    color: #869ab1;
    border: transparent;
    background: #16181d;
}

.theme-card--active{
    background-color: #16181d;
    color: #778a9f;
}

.download-group__item{
     background-color: #1c1f26;
     border: transparent;
     box-shadow: 5px 5px 0px 0px #00000063
}

.game-details__description-container {
    background: linear-gradient(0deg, #1c1f26 50%, #1c1f26 100%);
} 

.content-sidebar {
    background-color: #1c1f26;
    border-left: solid 5px #16181d;
}

.sidebar-section__button,
.list__item,
.description-header {
    background-color: #16181d;
}

.modal {
    background-color: #16181d;
    border-radius: 7px;
    border: solid 10px #1c1f26;
}

.modal__header {
    border: solid 7px #16181d;
    background: #1c1f26;
    border-radius: 40px;
}

.text-field-container__text-field-wrapper{
    border: solid 6px #1c1f26;
    border-radius: 7px;
} 

