.sidebar {
    background: #191414;
    color: #DCC9BC;
    font-weight: 500;
    }
    
    .bottom-panel {
    background-color: #191414;
    }
    
    .container, .container__content {
    background: #191414;
    }
    
    main {
    background-color: #191414;
    color: #DCC9BC;
  }
    
    body {
    color: #DCC9BC;
    font-weight: 500;
    }
    
    .header {
      background-color: #191414;
    }
  
    .button--primary {
      background-color: #7F244C;
      button:hover-color: #51102C ;
      color:#DCC9BC
    }
  
    .button--primary:hover {
      background-color: #51102C;
  }
  

      font-weight: 500;
    
  
    .header__search {
      background-color: #191414;
      border-color: #DCC9BC;
      color: #7F244C;
    }
  
    .sidebar__search {
      background-color: #191414;
      border-color: #DCC9BC;
    }
  
    .sidebar__menu-item {
      border-radius: 8px;
      border: none;
      background-color: #191414;
      itemhover-color: #191414;
      color: #DCC9BC;
    }
  
    .sidebar__menu-item--active {
      border-radius: 8px;
      border:1px 
      color: #191414;
      background-color: #453636;
      color: #DCC9BC;
    }
      .title-bar {
      background-color: #191414;
      border-color: #191414;
      color: #DCC9BC;
    }
      ::-webkit-scrollbar {
      width: 9px;
      background-color: #191414
    }
  
      ::-webkit-scrollbar-track {
      background-color: #191414
    }
  
      ::-webkit-scrollbar-thumb {
      background-color: #191414
      border-radius; 24px;
    }
  
      ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
      .header__search {
      background-color: #191414;
      border-color: #DCC9BC;
      color: #7F244C;
      }
      
      .catalogue__filters-container{
      background-color: #191414;
      border-radius; 24px;
      }

      .text-field-container__text-field-input{
         background-color: #191414;
         border-color: #DCC9BC;
      color: #DCC9BC;
      border-radius; 24px

      }
      .game-item__details{
      background-color: #191414
      }
      
      .settings__content {
      background-color: #191414
      }

      .select-field__option {
      background-color: #191414
      }
      
      .sidebar-profile__friends-button{
       background-color: #191414  
      }

      .user-stats__box{
        background-color: #191414
      }

      .recent-games__box{
        background-color: #191414
      }

      .friends-box__box {
        background-color: #191414
      }

      .description-header{
        background-color: #191414
      }

      .gallery-slider__container{
      background-color: #191414
      }

      .sidebar-section__button{
        background-color: #191414
      }

      .list{
        background-color: #191414
      }

      .game-details__description{
        background-color: #191414
      }

      .stats__section{
        background-color: #191414
      }

      .how-long-to-beat__categories-list{
        background-color: #191414
      }

      .requirement__details{
        background-color: #191414
      }

      .button button--outline requirement__button{
        background-color: #191414
      }

      .modal__content{
        background-color: #191414
      }

      .modal__header{
        background-color: #191414
      }

      .modal__header-title{
        color: #DCC9BC
      }

      .cloud-sync-modal__title-container{
      color: #DCC9BC
      }

      .cloud-sync-modal__manage-files-button{
        color: #DCC9BC
      }

      .cloud-sync-modal__backups-header{
        color: #DCC9BC
      }

      .cloud-sync-modal__backups-header{
        color: #DCC9BC
      }

      .button button--primary{
        color: #DCC9BC
      }

      .checkbox-field__input{
        background-color: #191414;
      }

      .bottom-panel__downloads-button{
        color: #DCC9BC
      }

      .button button--dark repacks-modal__repack-button{
        color: #191414
      }

      .repacks-modal__repack-title{
        color: #DCC9BC;
      }

      .download-group__right-content{
        color: #DCC9BC;
      }

      .download-group__details{
        background-color: #191414;
      }

      .download-group__title{
        color: #DCC9BC;
      }

      .download-group__right-content{
        background-color: #191414;
      }

      .dropdown-menu__group{
        background-color: #191414;
      }

      .select-field__label{
        color: #DCC9BC;
      }

      .settings-download-sources__list{
        background-color: #191414;
      }

      .settings-download-sources__item{
        color: #DCC9BC;
      }

      .bottom-panel__version-button{
        color:#DCC9BC
      }
      
      .settings-download-sources__item{
        color: #DCC9BC;
      }

      .achievements__list{
        background-color: #191414;
      }

      .achievements__item-title{
      color: #DCC9BC;
      }

      .achievement-panel{
        background-color: #191414;
      }

      .achievements-content__achievements-list__section__container__achievements-summary-wrapper{
        background-color: #191414;
      }

      .content-sidebar{
        background-color: #191414;
      }
    