#root {
  background: url(https://wallpapercave.com/wp/wp3770441.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar,
.container__content,
.header,
.bottom-panel,
.text-field-container__text-field--dark,
.settings__content,
.header__search,
.sidebar-profile__friends-button,
.game-item,
.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box {
  background: #07030362 !important;
  backdrop-filter: blur(5px);
}

.container__content {
  background: #08030805;
  backdrop-filter: blur(1px);
}