/**
 * @name Essential
 * @author Pheonix7290
 * @version 1.0
 * @invite byGRpaLj
 * @description The theme where transparency meets customization.
 * @source https://github.com/Phoenix7290/hydra-themes
*/

:root {
  --background-color: rgba(0, 0, 0, 0.8);
  --primary-color: #1b1b1b;
  --secondary-color: #2a2a2a;
  --accent-color: #3a3a3a;
  --text-color: #e0e0e0;
  --highlight-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Customize the background here! 
You can go to Imgur, upload an image, and then get the "direct link" with .png or .jpg for the background-image field. */

/* Personalize o fundo aqui!
Você pode ir ao Imgur, fazer upload de uma imagem e obter o "link direto" com .png ou .jpg para o campo background-image. */
#root {
  background-image: url('https://i.imgur.com/5LRK0cF.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color: var(--primary-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.header.header--is-windows {
  background-color: rgba(27, 27, 27, 0.8);
}

.header__title {
  font-size: 24px;
  color: var(--highlight-color);
}

.sidebar {
  background-color: rgba(27, 27, 27, 0.8);
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-shadow: 5px 0 15px var(--shadow-color);
}

.sidebar__container {
  background-color: rgba(27, 27, 27, 0.8);
}

.sidebar__menu-item {
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.sidebar__menu-item:hover {
  background-color: var(--accent-color);
  color: var(--highlight-color);
}

.home__content {
  background-color: rgba(27, 27, 27, 0.8);
}

.content {
  margin-left: 270px;
  padding: 20px;
}

.content__title {
  font-size: 20px;
  color: var(--highlight-color);
}

.button {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--highlight-color);
}

.button:hover {
  background-color: var(--text-color);
}

.button:active {
  background-color: var(--highlight-color);
}

.footer {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navbar {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar__item {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.navbar__item:hover {
  color: var(--highlight-color);
}

.card {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.card__title {
  font-size: 18px;
  color: var(--highlight-color);
}

.card__content {
  color: var(--text-color);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: left;
  transition: opacity 0.3s ease;
  background-color: var(--background-color);
  border-radius: 5px;
  width: 700px;
  margin: 100px auto;
  position: relative;
}

.modal__header {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--text-color);
  display: flex;
  align-items: left;
}

.modal__header-title {
  display: flex;
}

.modal__header-title h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.modal__header-title p {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0 0;
}

.modal__close-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
}

.modal__close-button-icon {
  fill: var(--text-color);
}

.modal__content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 5px 20px var(--shadow-color);
  margin: 0 auto;
}

.modal__footer {
  text-align: right;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.modal__close:hover {
  color: var(--highlight-color);
}

.catalogue {
  background-color: var(--background-color);
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(27, 27, 27, 0.8);
  box-shadow: 0 4px 10px var(--shadow-color);
  border-radius: 5px;
}

.header__search {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px var(--shadow-color);
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}

.sidebar-profile {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 12px 15px;
  box-shadow: 0 4px 12px var(--shadow-color);
  margin: 10px 0;
}

.sidebar-profile__button {
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100%;
}

.sidebar-profile__button:hover {
  transform: scale(1.05);
}

.sidebar-profile__button-content {
  display: flex;
  align-items: center;
  color: var(--text-color);
  width: 100%;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.profile-avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-profile__button-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.sidebar-profile__button-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-color);
}

.sidebar-profile__friends-button {
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.sidebar-profile__friends-button:hover {
  transform: scale(1.2);
}

.sidebar-profile__friends-button svg {
  width: 18px;
  height: 18px;
  fill: var(--text-color);
}

.sidebar-profile__friends-button:hover svg {
  fill: var(--highlight-color);
}

.theme-card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.theme-card__header__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--highlight-color);
}

.title-bar {
  background-color: rgba(27, 27, 27, 0.8);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.container__content {
  flex-grow: 1;
  background: rgba(27, 27, 27, 0.5);
}

.bottom-panel {
  background-color: rgba(27, 27, 27, 0.8);
  padding: 10px;
  box-shadow: 0 -4px 10px var(--shadow-color);
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--shadow-color);
  border: 1px solid var(--highlight-color);
}

.download-group__item {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: transform 0.3s ease-in-out;
}

.download-group__item:hover {
  transform: scale(1.02);
}

.download-group__cover {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
}

.download-group__cover-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.download-group__cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.download-group__right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  width: calc(100% - 150px);
}

.download-group__title-wrapper {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 8px;
}

.download-group__details p {
  color: #b0b0b0;
  font-size: 14px;
  margin: 0;
}

.download-group__details-with-article {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #c8c8c8;
}

.download-group__details-with-article svg {
  margin-left: 5px;
}

.download-group__menu-button {
  background: transparent;
  border: transparent;
  color: var(--highlight-color);
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.download-group__menu-button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.download-group__menu-button svg {
  margin-left: 5px;
}

.game-details__cloud-sync-button {
  display: flex;
  align-items: center;
  background-color: var(--highlight-color);
  border: none;
  padding: 10px 20px;
  color: var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.game-details__cloud-sync-button:hover {
  background-color: var(--text-color);
}

.hero-panel {
  background-color: rgba(27, 27, 27, 0.8);
}

.hero-panel__content p {
  margin: 0;
}

.hero-panel-actions__action {
  background-color: rgba(27, 27, 27, 0.8);
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}

.hero-panel-actions__action:hover {
  background-color: var(--text-color);
}

.description-header {
  background-color: var(--secondary-color);
}

.hero-panel-actions__action:hover {
  background-color: var(--text-color);
}

.game-details__description {
  font-size: 1.1em;
  line-height: 1.5;
  color: var (--text-color);
}

.game-details__description-container {
  background-color: rgba(27, 27, 27, 0.8);
}

.subscription-required-button {
  background-color: rgba(27, 27, 27, 0.8);
  border: 1px solid var (--highlight-color);
  color: var(--highlight-color);
}

.subscription-required-button:hover {
  background-color: var(--text-color);
}

.content-sidebar {
  background-color: rgba(27, 27, 27, 0.8);
  padding: 20px;
  border-radius: 8px;
}

.requirement__button {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.requirement__button--primary {
  background-color: var(--highlight-color);
  color: var (--primary-color);
}

.requirement__button--outline {
  background-color: transparent;
  border: none;
  color: var(--highlight-color);
}

.requirement__button:hover {
  background-color: var(--text-color);
}

.bb_ul {
  padding-left: 20px;
}

.bb_ul li {
  margin-bottom: 5px;
}

.list__item-image--locked {
  opacity: 0.6;
}

.list__item p {
  margin: 0;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: var(--highlight-color);
}

.subscription-required-button {
  background-color: var(--highlight-color);
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-required-button:hover {
  background-color: var(--text-color);
}

.sidebar-section__button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar-section__button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.sidebar-section__chevron {
  transition: transform 0.3s;
}

.sidebar-section__chevron--open {
  transform: rotate(180deg);
}

.sidebar-section {
  margin-bottom: 20px;
}

.home__buttons-list .button,
.home__icon-wrapper .button,
.button--outline {
  color: white;
}

.stats__category-title {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 20px;
  clear: both;
}

.stats__category p {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 4px;
}

.profile-content__games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  border-radius: 8px;
}

.user-library-game__wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: transform 0.3s ease;
}

.user-library-game__wrapper:hover {
  transform: scale(1.05);
}

.user-library-game__game-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.user-library-game__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.user-library-game__wrapper:hover .user-library-game__overlay {
  opacity: 1;
}

.user-library-game__playtime {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--accent-color);
  padding: 5px 10px;
  border-radius: 15px;
}

.user-library-game__playtime svg {
  fill: #f2f2f2;
}

.user-library-game__cover {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.user-library-game__cover:focus {
  outline: none;
}

.profile-content__games-grid li {
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--shadow-color);
  transition: box-shadow 0.3s ease;
}

.profile-content__games-grid li:hover {
  box-shadow: 0 2px 15px var(--shadow-color);
}

small {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.user-library-game__stats {
  margin-top: 170px;
  padding: 8px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.achievements-content__achievements-list__section__container {
  background: linear-gradient(0deg, rgba(21, 21, 21, 0.8) 0%, rgba(90, 74, 11, 0.8) 100%);
}

.achievements-content__achievements-list__section__container__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.achievements-content__achievements-list__section__container__hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievements-content__achievements-list__section__container__hero__content__game-logo {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.achievements-content__achievements-list__section__container__achievements-summary-wrapper {
  padding: 20px;
}

.achievements-content__user-summary {
  display: flex;
  align-items: center;
}

.achievements-content__profile-avatar {
  width: 100px;
  height: 100px;
}

.achievements-content__user-summary__container {
  display: flex;
  flex-direction: column;
}

.achievements-content__user-summary__container__stats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.achievements-content__user-summary__container__stats__trophy-count {
  display: flex;
  align-items: center;
  gap: 5px;
}

.achievements-content__user-summary__container__stats__progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.achievements__list {
  background-color: var(--primary-color);
}

.achievements__item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: transform 0.3s ease;
}

.achievements__item:hover {
  transform: scale(1.02);
}

.achievements__item-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
}

.achievements__item-image--locked {
  opacity: 0.6;
}

.achievements__item-content {
  flex-grow: 1;
}

.achievements__item-title {
  font-size: 16px;
  color: var(--highlight-color);
  margin: 0;
}

.achievements__item-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.achievements__item-points {
  display: flex;
  align-items: center;
  gap: 5px;
}

.achievements__item-points-icon {
  width: 20px;
  height: 20px;
}

.achievements__item-points-value {
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
}

.achievement-panel {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--shadow-color);
  margin-bottom: 20px;
}

.achievement-panel__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 16px;
}

.achievement-panel__content-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.select-field {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.select-field--primary {
  background-color: rgba(27, 27, 27, 0.8);
}

.select-field__option {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(27, 27, 27, 0.8);
  color: var(--text-color);
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select-field__option:focus {
  outline: none;
  box-shadow: 0 0 5px var(--highlight-color);
}

.select-field__option option {
  background-color: rgba(27, 27, 27, 0.8);
  color: var(--text-color);
}

.settings__content {
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.settings__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.settings__categories .button {
  flex: 1 1 auto;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.settings__categories .button--primary {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}

.settings__categories .button--outline {
  background-color: transparent;
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}

.settings__categories .button--outline img {
  margin-right: 5px;
}

.settings__categories .button:hover {
  background-color: var(--text-color);
  color: var (--primary-color);
}

.settings-general {
  margin-top: 20px;
}

.text-field-container {
  margin-bottom: 20px;
}

.text-field-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.text-field-container__text-field-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-field-container__text-field {
  flex: 1;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color);
  box-shadow: 0 4px 10px var(--shadow-color);
}

.text-field-container__text-field-input {
  width: 100%;
  border: none;
  background: none;
  color: inherit;
  font-size: 16px;
}

.text-field-container__text-field-input:focus {
  outline: none;
}

.select-field__container {
  margin-bottom: 20px;
}

.select-field__label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.settings-general__notifications-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 18px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-field__checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--highlight-color);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-field__checkbox.checked {
  background-color: var(--highlight-color);
}

.checkbox-field__checkbox.checked .octicon-check {
  display: block;
}

.checkbox-field__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.checkbox-field__label {
  color: var(--text-color);
  cursor: pointer;
}

.checkbox-field__checkbox .octicon-check {
  display: none;
  fill: var(--primary-color);
}

.sidebar__handle:hover {
  background-color: var(--accent-color);
}

/**
 * Special thanks to my friends and the Hydra mod and theme community - specially SterTheStar theme - for their support and help.
 * Your contributions have been invaluable in the creation of this theme.
*/
