#root {
    background: #1a0838
      url("https://images5.alphacoders.com/137/1372162.jpeg")
      no-repeat center center;
    background-size: cover;
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(28, 12, 66, 0.671) !important;
    backdrop-filter: blur(4px);

    }

  .container__content .button--outline {
    backdrop-filter: blur(5px);
    background-color: rgba(39, 12, 112, 0.25);
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(19, 7, 48, 0.719) !important;
  }


  .title-bar {
    background-color: #07010e;
  }


  .home__content {
    background-color: rgba(15, 5, 46, 0.322);
    backdrop-filter: blur(2px);
  }

  .bottom-panel {
    background-color: rgba(39, 12, 112, 0.25);
  }
  body {
    font-family: 'Times, Times New Roman',serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-color: var(--primary-bg-color);
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
    color: var(--highlight-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid var(--accent-color);
    box-shadow: 0px 2px 15px var(--shadow-color);
}
a {
    color: var(--highlight-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-color);
}
button {
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
    box-shadow: 0px 4px 10px var(--shadow-color);
}

button:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
}
section {
    padding: 40px;
    text-align: center;
    margin: 20px 0;
    background-color: #1d0a418c;
    border-radius: 8px;
    box-shadow: 0px 6px 15px var(--shadow-color);
}
.card {
    background-color: #444;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px var(--shadow-color);
}

h1, h2, h3 {
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}