
*/

/* Header */
.header {}

/* Sidebar */
.sidebar {}

/* Main content */
.container__content {}

/* Bottom panel */
.bottom-panel {}

/* Toast */
.toast {}

/* Button */
.button {}

body {
  margin: 0;
  color: #00f7ff;
  font-family: Arial, sans-serif;

}


#root {
  background: #1d0798
    url("https://i.ytimg.com/vi/BiOPO-nKj7s/maxresdefault.jpg")
    no-repeat center center;
  background-size: cover;
  }


.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent !important; 
}


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {

  background-color: rgba(10, 26, 255, 0.134) !important;
  backdrop-filter: blur(2px);

  }

.container__content .button--outline {
  backdrop-filter: blur(2px);
  background-color: rgba(39, 12, 112, 0.25);
}


.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(39, 12, 112, 0.25) !important;
}


.title-bar {
  background-color: #000000;
}


.home__content {
  background-color: rgba(39, 12, 112, 0.25);
  backdrop-filter: blur(2px);
}

.bottom-panel {
  background-color: rgb(41, 16, 16);
}
