#root {
  background: url(https://giffiles.alphacoders.com/221/221990.gif)
    #786fa3;
  background-position: center;
  background-repeat: no-repeat;
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
background:#786fa3;
}
::-webkit-scrollbar-thumb {
background: rgba(224, 223, 223, 0.356);
}
::-webkit-scrollbar-thumb:hover {
background: rgba(224, 223, 223, 0.356);
}
::-webkit-scrollbar-thumb:active {
background: rgba(224, 223, 223, 0.233);
}



/* COR DA FONTE MAIS CLARA */
.bottom-panel__version-button,
.bottom-panel__downloads-button,
.game-item__genres,
.download-group__title,
.header__section--left,
.badge,
body {
  color: white;
}



/* BACKGROUND TRANSPARENTE */
.sidebar,
.header,
.bottom-panel, 
.title-bar {
background-color: rgba(0, 0, 0, 0.062); 
}



/* BARRA DE BUSCA PRINCIPAL */
.header__search{
border-radius: 100px;
background-color: #594d866b;
border-color: #594d86;
}
.header__search:hover{
border-color: #201D30;
}
.header__search-input::placeholder{
color: #f0f0f09c;
}



/* BOTÕES PRINCIPAIS */
.button {
  background: transparent;
  color: #f0f0f0c7;
  border-color: #594d86;
  border-radius: 100px;
}
.button:hover{
 background:#594d866b;
 transform: scale(1.05)
}
.button--primary{
background-color: #594d866b;
}



/* TITULO DO HYDRA */
h4 {
display: none;
}
.title-bar::after {
  content: "HYDRA";
  letter-spacing: 20px;
  color: #f0f0f09c;
  font-size: 15px;
  font-weight:120;
}



/* BARRA DE NAVEGACAO */
.profile-avatar{
border-radius: 100px;
height: 100%;
}
.profile-avatar__image{
border-radius: 100px;
height: 100%;
width: 100%;
}


.sidebar-profile__button{
border-radius: 20px;
}
.sidebar-profile__button:hover{
background-color: #594d866b;
transform: scale(1.05);
transition: transform 0.2s ease-in-out
}

.sidebar-profile__friends-button{
background-color: transparent;
}
.sidebar-profile__friends-button:hover{
 background-color: #594d866b;
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}

.sidebar__menu-item{
padding: 5px;
}
.sidebar__menu-item--active{
border-radius: 20px;
background-color: #594d866b;
}
.sidebar__menu-item:hover{
border-radius: 20px;
transform: scale(0.95);
background-color: #594d866b;
}
.sidebar__menu-item:active{
transform: scale(1);
}


.text-field-container__text-field--dark{
border-radius: 100px;
background-color: #594d866b;
}
.text-field-container__text-field--dark:hover{
border-color: #201D30;
}


.sidebar-profile__button--information,
.sidebar__section-title,
.text-field-container__text-field-input::placeholder{
color: #f0f0f09c;
}



/* PERFIL */
.profile-hero__hero-panel{
border-top:none;
box-shadow: none;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
.profile-hero__content-box{
border-radius: 20px;
}
.profile-hero__background-image{
border-radius: 30px;
}
.profile-hero__avatar-button{
border-radius: 200px;
box-shadow: none;
width: 100px;
min-width: 10px;
height: 100px;
min-height: 100px;
}


.user-library-game__wrapper{
border-radius: 20px;
}
.user-library-game__playtime{
border-radius: 100px;
background-color:#0000006c;
}


.friends-box__box,
.user-stats__box,
.recent-games__box{
  background-color: #594d866b;
  border-radius: 20px;
  border-color: #594d86;
}
.user-stats__section-header, 
.recent-games__section-header,  
.friends-box__section-header{
font-size: 10.5px;
}


.user-stats__list-item:hover{
background-color:#594d866b ;
border-radius: 20px;
}
.user-stats__link{
color: #8EDF5F;
}
.user-stats__link--warning{
color: #8EDF5F;
}


.recent-games__list{
gap: 2px;
}
.recent-games__list-item{
border-radius: 15px;
transition: transform 0.3s;
}
.recent-games__list-item:hover{
background-color:#594d866b;
transform: scale(1.03);
}


.friends-box__list-item:hover{
background:#594d866b;
border-radius: 20px;
transform: scale(1.03);
transition: transform 0.3s;
}




.octicon-check-circle-fill{
color: #8EDF5F;
}
.octicon-x-circle-fill{
color: #8e0408;
}
.octicon-blocked{
color: #A6B2C3;
}





/* INICIO */
.container__content{
background: rgba(0, 0, 0, 0.062); 
}
.home__content {
background-color: transparent;
backdrop-filter: blur(3px);
gap: 10px;
border-color: #594d86;
}


.hero{
border-radius: 30px;
border-color: #594d863d;
height: 500px;
min-height: 500px
}
@media screen and (max-width: 1600px ){
.hero{
border-radius: 30px;
border-color: #594d863d;
height: 400px;
min-height: 400px
}
}


.game-card{
border-radius: 30px;
border-color: #594d86;
}



/* CATALOGO */
.catalogue__filters-container,
.header__back-button{
color: #f0f0f09c;
}


.game-item{
  width: 100%;
  gap: 0px;
  justify-content: flex-start;
  flex-direction: column;
  border-color: #594d86;
  background-color: #786fa338;
  border-radius: 20px;
}
.badge{
border-radius: 100px;
border-color: rgb(34, 34, 34);
padding: 5px 10px;
background-color: #00000000;
backdrop-filter: blur(10px);
}
.game-item:hover{
  transform: scale(1.02);
}
.game-item__cover{
height: 30%;
width: 100%;
display: flex;
align-items: center;
}
.catalogue__games-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5px;
  row-gap: 5px;
  grid-template-rows: 300px 300px 300px 300px 300px;
}
.game-item__details{
padding: 20px;
text-align: left;
}
.catalogue{
gap: 0px;
flex-direction: column;
}
.catalogue__pagination-container{
gap: 10%;
display: flex;
align-items: flex-start;
}
.catalogue__result-count{ 
flex-direction: row;
font-size: 13px;
color:white;
}
.pagination__button{
border-radius: 10px;
}


.catalogue__filters-container{
border-radius: 20px;
background-color: transparent;
border-color: #594d86;
}
.checkbox-field__checkbox{
background: rgba(0, 0, 0, 0.212);
backdrop-filter: blur(8px);
border-color: #594d86;
color:#8EDF5F;
}
.checkbox-field__checkbox:hover{
color: #8EDF5F;
}
.filter-section__title{
font-size: 17px;
color: white;
}
.filter-item{
border-radius: 20px;
border-color: rgb(34, 34, 34);
margin: 5px;
background-color: #594d866b;
color: white;
}
.catalogue__filters-list{
gap: 0px;
}


@media screen and (min-width: 1400px) and (max-width:1920px){
.game-item__cover{
height: 40%;
width: 100%;
display: flex;
align-items: center;
}
}




/* DOWNLOAD */
.download-group__item{
  border-radius: 20px;
  background-color: #786fa338;
  gap: 50px;
  border-color: #594d86;
}
.dropdown-menu__group, 
.dropdown-menu__separator{
  background-color: #594d866b;
  border-radius: 20px;
  color:#f0f0f09c;
  padding: 10px;
  border-color: #594d86;
}
.dropdown-menu__item {
  border-radius: 20px;
}
.dropdown-menu__item:hover {
  background-color: #786fa3a6;
}
.dropdown-menu__content{
  background-color: #594d86;
}
.dropdown-menu__separator{
  display: none;
}
.download-group__cover{
  border-right: none;
}
.settings-download-sources__navigate-button{
color: #8EDF5F;
}






/* PAGINA DE JOGO */
.game-details__cloud-sync-button{
border-radius: 20px;
}
.game-details__cloud-sync-button:hover{
transform: scale(1.05);
}


.description-header{
  color: rgba(255, 255, 255, 0.979);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  width: 98%;
  background-color: transparent;
}
.game-details__description-container{
background: rgba(0, 0, 0, 0.26); 
}
.gallery-slider__media{
border-radius: 20px;
}
.gallery-slider__preview-button--active{
border-radius: 20px;
}
.gallery-slider__preview-image{
border-radius: 20px;
}


.content-sidebar{
background-color: transparent;
}
.sidebar-section__button{
background-color: #594d86b6;
color: rgba(255, 255, 255, 0.788); 
}
.sidebar-section__button:hover{
background-color:#786fa3a6;
}


.subscription-required-button{
color: #99df64;
}
.list__item{
color: white;
}
.list__item-image{
border-radius: 20px;
}
.list__item:hover{
background-color: #594d86b2;
border-radius: 20px ;
}
.link{
color: white;
}


.how-long-to-beat__category-label{
color: white;
}
.how-long-to-beat__category{
border-radius: 20px;
}
.how-long-to-beat__categories-list{
width: 100%;
gap: 5px;
}


.requirement__details{
color: #f0f0f09c;
}
.requirement__button-container{
gap: 10px;
margin: 10px;
width: 90%;
}
.requirement__button{
border-color: #27185ca1;
}






/* CONQUISTAS */
.achievement-panel{
background-color:  rgba(0, 0, 0, 0.090);
color: white;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.achievements__item{
background-color:  rgba(0, 0, 0, 0.174);
border-radius: 10px;
color:white;
}
.achievements__list{
background-color:  rgba(0, 0, 0, 0.274);
gap: 8px;
}
.achievements__item-image{
border-radius: 10px;
}
.achievements__item:hover{
background-color: #594d86b2;
}


.achievements__item-hidden-icon,
.achievements__item-points-value,
.achievement-panel__link,
.achievement-panel__link--warning{
color: #8EDF5F;
}



/* AJUSTES */
.settings__content{
border-radius: 30px;
background-color: #786fa380;
color: rgba(255, 255, 255, 0.87);
}
.text-field-container__text-field{
border-radius: 20px;
padding: 15px;
border-color: #594d86;
background-color: #594d86a8;
}
.text-field-container__text-field:hover{
  border-color: #201D30;
}

.select-field.select-field--primary{
  border-top-right-radius: 30px;
  background-color: #594d86a8;
  border-color: transparent;
}
.select-field__option{
  border-top-right-radius: 30px;
  background-color: #594d86a8;
  border-color: transparent;
}
.select-field__option:hover{
  border-color: transparent;
  border-top-right-radius: 30px;
}
.select-field--focused{
  border-color: transparent;
 border-top-right-radius: 30px;
}
.select-field.select-field.select-field--primary:hover{
  border-color: #201D30;
}



.settings-download-sources__item {
border-radius: 20px;
border-color: #594d86;
background-color: #594d8648;
padding: 30px;
}


.theme-card{
border-radius: 30px;
border-color: #594d86;
background-color: #594d8648;
padding: 20px;
}
.theme-card__header__title{
color: white;
}
.select-field__label{
color: white;
}




/* JANELAS SECUNDARIAS*/
.modal{
border-radius: 20px;
background-color: #644fb13f;
color: white;
}
.modal__header{
background-color: #2117443f;
}
.user-friend-modal__friend-code-button{
color: #8EDF5F;
}
.user-friend-modal__friend-code-button:hover{
color: #8edf5f83;
}


.repacks-modal__repack-button{
border-radius: 20px;
}
.repacks-modal__repack-title{
color: white;
}
.repacks-modal__repack-info{
color: white;
}


.edit-profile-modal__avatar-overlay{
border-radius: 200px;
}
.edit-profile-modal__avatar-container{
border-radius: 200px;
}


.user-friend-item__container{
  border-radius: 20px;
}
.user-friend-item__container:hover{
background-color: #594d86b2;
}



/* ICONES */ 
.user-friend-item__accept-button:hover{
color: #8EDF5F;
}
.user-friend-item__cancel-button:hover{
color: #8e0408;
}


.octicon-file{
color: #EC7744;
}


.octicon-home{
color: #201d30a8;
}
.octicon-apps{
color: #f3895c8e;
}
.octicon-download{
color: #8EDF5F;
}
.octicon-gear{
color: #8db0cc;
}

.download-settings-modal__downloader-icon{
color: #8EDF5F;
}


.octicon-person-add{
color: #8EDF5F;
}

.octicon-sign-out{
color: #E71129;
}

.octicon-heart-fill{
color: #8EDF5F;
}


.octicon-sync{
color: #8db0cc;
}
.octicon-plus-circle{
color: #8EDF5F;
}
.octicon-no-entry{
color: #e9581a;
}
.octicon-cloud{
color: #8db0cc;
}


.octicon-mail{
color: #E71129;
}
.octicon-key{
color: #EC7744;
}
.octicon-three-bars{
color: white;
}
.octicon-globe{
color: #8db0cc;
}
.octicon-trash{
color: #8e0408;
}
.octicon-pencil{
color: #EC7744;
}

