.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
  color: #ffffff !important;
}

body {
  color: #ffffff !important;
}

#root {
  background: url(https://i.imgur.com/OSGQoSI.gif);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffffff !important;
  backdrop-filter: blur(2px);
}

.container__content .button--outline {
  backdrop-filter: blur(80px);
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff !important;
}


.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.329) !important;
  color: #ffffff !important;
  
}

.game-item__details, .game-item__genres, .game-item__repackers, .badge{
  color: #ffffff !important;
  
}
