@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


/* HYDRA TITLE */
h4 {
    display: none;
}
.title-bar::after{
    content: "THE LAST OF US";
    font-family: 'Rubik Dirt';
    font-size: 15px;
    color: #ff3333;
    letter-spacing: 5px;
    border-radius: 20px;
    display: inline-block;
    filter: contrast(1.5) brightness(1.2);
    text-shadow:   
        -1px -1px 0px #ff3333, 
        0 2px 15px #0b0541,
        0 2px 20px #0e1d74da,   
        0 0 10px #482B5F,  
        0 0 15px #da1818,  
        0 0 30px #4F2A59,  
        0 0 10px #4F2A59;
        animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
    }


#root {
  background: url(https://wallpapercave.com/wp/wp7695201.jpg) no-repeat center center fixed;
  background-position: top;
  background-size: 100%;
  opacity: 1;
  image-rendering: auto;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  min-height: 100vh;
  position: relative;
}

/* HOME */
 .hero{
    margin-left: 3px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff3333,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    transition: all ease 0.3s;
    width: 99%;
    border-radius: 33px;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.button{
    background-color: #ff333323;
    border: 2px solid;
    border-radius: 12px;
    color: #ff3333;
    text-transform: uppercase;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.button:hover{
    background-color: #ff333350;
}
.game-card{
    transform: scale(1.01);
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff3333,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    border-radius: 33px;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

.container__content {
    background: rgba(0, 0, 0, 0.01);
}
.home__content h2{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1.4em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6 !important;
}
.home__title-icon{
 width: 13px;
 height: 24px;
 margin-top: 3px;
}

/* PROFILE */
.profile-hero__background-overlay--transparent{
     background: url(https://wallpaperswide.com/download/the_last_of_us_12-wallpaper-3360x1050.jpg);
     background-size: 100%;
     background-position: 0px -192px;
}
 .user-library-game__overlay,
 .user-library-game__cover,
 .user-library-game__game-image,
 .user-library-game__wrapper{
    margin-left: 1px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff3333,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    transition: all ease 0.3s;
    border-radius: 33px;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
 .profile-hero__hero-panel{
     background: url(https://wallpaperswide.com/download/the_last_of_us_12-wallpaper-3360x1050.jpg) !important;
     background-size: 100% !important;
     background-position-y: -415px !important;
     border-top: none;
     box-shadow: none;
}
 .profile-content__section-header{
  justify-content: left;
  gap: 10px;
  font-size: 15px;
}
.profile-content__section-header h2{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6 !important;
}
.profile-content__section-header span{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
 .profile-hero__display-name{
    color: #ffffff;
    font: 
       1.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6 !important;
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
 .sidebar-profile__button-title{
    color: #ffffff;
    font: 
       1.4em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6 !important;
}
.profile-hero__user-information{
    margin-top: 15px;
}
.profile-hero__content-box {
    border-radius: 44px;
}
.profile-hero__background-image {
    border-radius: 15px;
}
.profile-hero__avatar-button:hover {
    transform: scale(1.05);
}
.octicon-pencil {
    color: #ffaa00;
}
.user-library-game__playtime {
    text-align: center;
    object-position: center;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 100px;
    border: 3px solid #ff3333;
    position: relative;
    bottom: -290px;
    left: 44px;
}
.user-library-game__achievements-progress::-webkit-progress-value {
    background-color: #ff3333; 
}
.friends-box__box,
.user-stats__box,
.recent-games__box {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.514); 
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 3px solid #ff3333;
    color: #ffffff;
    font: 
        1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6 !important;
}
.user-stats__list-title {
    color: #cf1d1d;
}
.user-stats__list-item {
    transition: all ease 0.3s;
}
.user-stats__list-item:hover {
    background: none;
    border-radius: 15px;
    transform: scale(1.03);
}
.user-stats__link {
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.user-stats__link:hover{
    color: #ffff00a4;
}
.user-stats__link--warning:hover{
    color: #ffff00a4;
}
.user-stats__link--warning {
    color: #ffffff;
}

.octicon-trophy {
    color: #FFFF00;
}
.recent-games__list {
    gap: 2px;

}
.recent-games__list-item {
    border-radius: 15px;
    transition: all ease 0.3s;
}
.recent-games__list-item:hover {
    background: none;
    transform: scale(1.03);
}
.recent-games__game-details {
    color: #cf1d1d;
}
.recent-games__game-description {
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.friends-box__friend-name {
    color: #cf1d1d;
}
.friends-box__list-item {
    transition: all ease 0.3s;
}
.friends-box__list-item:hover {
    border-radius: 15px;
    transform: scale(1.03);
    background: none;
}
.octicon-clock {
    color: #340275;
}
.octicon-check-circle-fill {
    color: #8EDF5F;
}
.octicon-x-circle-fill {
    color: #F90006;
}
.octicon-blocked {
    display: inline-block;
    background-image: url(https://img.icons8.com/?size=100&id=hVQFAf6VVJnt&format=png&color=F25081); 
    background-size: cover;
    background-repeat: no-repeat;
    fill: transparent !important; 
    color: transparent !important; 
    transition: all ease 0.3s;
}
.octicon-sign-out{
    color: #E71129;
}
.sidebar-profile__friends-button {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.4);
}
.user-stats__section-header H2{
    text-transform: uppercase;
    color: #ff3333;
    font: 
       2em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

/* MODAL */
.modal{
    background: #ff333309;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.modal__header-title,
.user-friend-modal-add-friend__pending-container{
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.03em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.user-friend-modal-add-friend__pending-container p,
.user-friend-modal__header{
    color: #f0f0f0;
    font: 
       0.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.user-friend-modal__friend-code-button{
background-color: #ff33330c;
    color: #f0f0f0;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.modal__header{
    border: none;
}

/* CATALOGO */
.header__section{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.header__back-button{
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.03em Rubik Dirt,
        serif;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.catalogue__filters-container,
.catalogue__filters-sections{
    background-color: #ff33330c;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.filter-section__title{
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.filter-section__item{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.filter-section__count{
text-transform: uppercase;
    color: #ffffff;
    font: 
       0.76em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.text-field-container__text-field-input{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.header__search-input{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.game-item__genres{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       0.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.game-item {
    margin-left: 2px;
    background-color: rgba(8, 27, 197, 0.1);
    transition: all ease 0.3s;
    width: 100%;
    gap: 1px;
    justify-content: flex-start;
    border: 33px;
    box-shadow: 
        1px 1px 15px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    border-radius: 33px;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.game-item__details{
    width: 100%;
    gap: 2px;
    padding: 5px 10px;
}
.game-item:hover {
    transform: scale(1.01);
    background: linear-gradient(40deg, #ff333341 25%, transparent 100%);
    border: 3px #0e1074da;
    animation: pulso 1s infinite;
    }
    @keyframes pulso {
      0% {
        filter: brightness(100%);
      }
      50% {
        filter: brightness(150%);
      }
      100% {
        filter: brightness(100%);
      }
}
.badge {
    border: 2px solid #ff3333;
    border-radius: 34px;
    text-transform: uppercase;
    color: #ffffff;
    font: 
       0.65em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.catalogue__result-count{
    margin-left: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font: 
       0.93em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.pagination__ellipsis-text{
    color: #ffffff;
    font: 
       0.93em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

/* PAGINA DE JOGO */
.game-details__cloud-sync-button{
    border-radius: 20px;
    border: 2px solid #ff3333;
    text-transform: uppercase;
    color: #ffffff;
    font: 
       0.75em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.game-details__cloud-sync-button:hover{
    border-color: #F90006;
    transform: scale(1.03);
}
.description-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
}
.game-details__description-container{
    background: transparent;
    backdrop-filter: blur(2px);
    background-color: #ff33330c;
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.game-details__container{
  backdrop-filter: blur(2px);
}
.gallery-slider__preview-image,
.gallery-slider__preview-button--active,
.gallery-slider__preview-button,
.gallery-slider__media,
.gallery-slider__animation-container{
    border-radius: 20px;
}
.content-sidebar {
  background: transparent;
  backdrop-filter: blur(2px);
  background-color: #ff33330c;
}
.sidebar-section__button{
    background-color: #ff333341;
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.sidebar-section__button:hover{
    background-color: #ff333341;
}
.sidebar-section__content{
    background-color: #ff33330c;
}
.subscription-required-button{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.hero-panel__content p{
    text-transform: uppercase;
    color: #ffffff;
    font: 
       0.85em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

/* DOWNLOADS */
.download-group__item{
    .download-group__item{
    margin-left: 2px;
    background-color: rgba(8, 27, 197, 0.1);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff3333,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    transition: all ease 0.3s;
    width: 100%;
    gap: 1px;
    justify-content: flex-start;
    border: 3px solid,
        1px 1px 15px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    border-radius: 55px;
    color: #ffffff;
    text-transform: uppercase;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.download-group__title{
    color: #ff3333;
    text-transform: uppercase;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.download-group__menu-button{
    position: relative;
    top: 34px;
    left: -1px;
}

.dropdown-menu__group{
    background-color: rgba(8, 27, 197, 0.062);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff3333,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
    transition: all ease 0.3s;
    color: #ff3333;
    text-transform: uppercase;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.dropdown-menu__content{
    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(3px);
    position: relative;
    top: -38px;
    left: -45px;
}
.octicon-download{
    color: #8EDF5F;
}
.octicon-file-directory{
    color: #ff3333;
}
.octicon-trash{
    color: #292cd6;
}
.octicon-gear{
    color: #297ad6;
}
.octicon-apps{
    color: #ff8533;
}
.octicon-home{
    color: #c533ff;
}
.octicon-people{
    color: #3740bb;
}
.octicon-search{
    color: #ff3333;
}
.octicon-copy{
    color: #ff3333;
}
.octicon-arrow-left{
    position: relative;
    top: -0.5px;
    left: 3px;
}

.download-group__header h2{
    color: #ffffff;
    text-transform: uppercase;
    font: 
       1.2em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.container__content h3{
    color: #ff3333;
    text-transform: uppercase;
    font: 
       1.7em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

/* SETTINGS */
.settings__content {
    background: rgba(8, 27, 197, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.text-field-container__text-field--primary{
    background-color: #ff33330c;
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.select-field--primary{
    border: 1px solid #ff3333;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

.select-field--primary:hover{
    border: 1px solid #ff3333;
}
.select-field__label,
.settings__content h2{
    color: #ff3333;
    text-transform: uppercase;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
label{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.button.button--primary.settings-general__common-redist-button:hover {
    background-color: rgba(0, 0, 0, 0.350);
    transform: scale(1.05);
    border-color: #F90006;
}
.select-field__option{
    text-transform: uppercase;
    background-color: #e906062a;
    border-radius: 20px;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
  select option {
    padding: 44px;
    color: #ff3333;
    font-size: 13px;
    background: transparent;
    -webkit-appearance: none;
}
.checkbox-field__checkbox.checked{
    background-color: #910d0d57;
}

.checkbox-field__checkbox{
    background-color: #e00b0b2a;
    border-color: #e00b0b0e;
}
.checkbox-field__checkbox:hover{
    background-color: #910d0db9;
}
.octicon-check{
    color: #ff3333;
}
.settings-download-sources__item{
    background: #ff333309;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings-download-sources__navigate-button{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.theme-card__header{
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.theme-card__author__name{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings__content p{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings-torbox__create-account,
.settings-real-debrid__create-account{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.9em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings-account__form small{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings-account__form h3{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.theme-card{
    background: #ff333309;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

.achievement-panel,
.achievements__list{
    border: none;
    background: #ff333315;
    backdrop-filter: blur(2px);
    box-shadow: 
        1px 1px 3px #ffffff,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;

    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.achievement-panel__content{
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.achievement-panel__link--warning{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       0.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.settings-general__common-redist-description{
    text-transform: uppercase;
    border-radius: 20px;
    color: #f0f0f0;
    font: 
       0.8em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.octicon-desktop-download {
    color: #ff3333;
}

/* TRANSPARENCY */
.title-bar, .header--is-windows {
    background-color: rgba(0, 0, 0, 0.0);
}
.header__search{
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #ff3333;
    border-radius: 34px;
}
.header__search:hover{
    background: rgba(0, 0, 0, 0.01);
    border-color: #a10000;
    border-radius: 34px;
}
.profile-content__section {
    background: rgba(0, 0, 0, 0.01);
}
.bottom-panel {
    background: rgba(0, 0, 0, 0.01);
    border: none;
}
.text-field-container__text-field--dark {
    background: rgba(0, 0, 0, 0.01);
    border-color: #ff3333;
    border-radius: 34px;
}
.text-field-container__text-field--dark:hover{
    background: rgba(0, 0, 0, 0.01);
    border-color: #a10000;
    border-radius: 34px;
}
.sidebar-profile__friends-button {
    background: transparent;
    background-color: #ff33334f;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    background: #c229d641      
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ff3333bb;  
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
    background-color: #ff3333;
}
.rc-virtual-list-scrollbar-vertical {
    background-color: #ff333331 !important;
}
.rc-virtual-list-scrollbar-thumb {
    background-color: #ff33339c !important; 
}
.rc-virtual-list-scrollbar-thumb:hover {
    background-color: #ff3333 !important;
}

/* SIDEBAR */
.sidebar, 
.sidebar__menu-item, 
.sidebar__menu-item-button, 
.sidebar__menu-item-button-label,
.sidebar__menu-item-label {
    background-color: rgba(0, 0, 0, 0.0);
    text-transform: uppercase;
    color: #ffffff;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #ff3333,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.sidebar__section-title {
    text-transform: uppercase;
    color: #ff3333;
    font: 
       1.1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}
.bottom-panel__downloads-button,
.bottom-panel__version-button{
    text-transform: uppercase;
    color: #f0f0f0;
    font: 
       1em Rubik Dirt,
        serif;
        text-shadow: 
        1px 1px 3px #0c0a92,
        1px 1px 2px #ff0000,
        1px 1px 2px #c229d6,
        1px 1px 5px #292cd6;
}

/* BORDAS */
 .title-bar, 
 .sidebar, 
 .header, 
 .content-sidebar, 
 .profile-hero__hero-panel, 
 .profile-hero__hero-panel--transparent {
    border: none;
}
.hero-panel{
    border: none;
    background: none;
}
