
body {
    margin: 0;
    color: #f0efef;
    font-family: Arial, sans-serif;

  }


  #root {
    background: #1a0783e7
      url("https://i.ibb.co/TqLrwxnT/wooper-pokemon-UPSCALED.jpg")
      no-repeat center center;
    background-size: cover;
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(39, 12, 112, 0.05) !important;
    backdrop-filter: blur(2px);
}

.sidebar a, 
.sidebar span, 
.sidebar div {
    color: #8d8d8d !important;
}
  .container__content .button--outline {
    backdrop-filter: blur(6px);
    background-color: rgba(39, 12, 112, 0.25);
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(39, 12, 112, 0.25) !important;
  }


  .title-bar {
    background-color: #c5881618;
    backdrop-filter: blur(2px);
  }
.title-bar::after {
    content: "Discord: mngabs";
    color: #ffffffc0;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
}
  .home__content {
    background-color: rgba(230, 162, 17, 0.05);
    backdrop-filter: blur(2px);
  }

  .bottom-panel {
    background-color: rgba(39, 12, 112, 0.25);
  }
.sidebar-profile__friends-button {
    color: #000000;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #b3450c30;
    position: relative;
    transition: all ease 0.3s;
}
::-webkit-scrollbar {
    width: 9px;
    background-color: #b5b5b55e;
}