@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
  color: #D1D1D1; /* Cinza claro para melhor contraste */
  background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW1panNrOHJ4bnI3emp2bmpzZms3MzZmdWpxZjJ1YzAweWMyNGx0cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YLudl3LAEcOAxpKKsi/giphy.gif') no-repeat center center fixed;
  background-size: cover;
}

#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.6); /* Fundo cinza escuro translúcido */
  z-index: -1;
}

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.container__content .button--outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.sidebar button, 
.sidebar .nav-item, 
.sidebar .menu-item {
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  color: #D1D1D1;
  border-radius: 10px; /* Deixando os botões da sidebar arredondados */
  padding: 5px;
  display: flex;
  align-items: center;
}

.sidebar button:hover, 
.sidebar .nav-item:hover, 
.sidebar .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.settings-download-sources__item,
.download-group__item {
  background-color: rgba(0, 0, 0, 0.6);
}
