@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    font-family: 'Silkscreen', sans-serif;
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/65/Moss_Block_%28texture%29_JE1.png/revision/latest?cb=20210203185841');
    background-size: 4%;
}

/*************** para mudar a imagem de fundo das coisas */
  .sidebar {
    background-color: #03030300;
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/62/Spruce_Planks_%28texture%29_JE4_BE2.png/revision/latest?cb=20201001141758');
    background-size: 20%;
  }

  .header{
    background-color: #03030300;
     background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/9/95/Dark_Oak_Log_%28texture%29_JE3_BE2.png/revision/latest?cb=20201001134016');
    background-size: 4%;
    border: none;
  }

  .container__content{
  background: #03030300;
  color: white;
  margin: 0px 50px;
  }

/************************* Sidebar - Botão de perfil */

/************************ titlebar */
.title-bar {
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 2%;
    border: 3px solid #8B8B8B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4F4F4F, inset 3px 3px 0px #C6C6C6;
}

.title-bar::before {
    display: flex;
    width: 100%;
    justify-content: center;
    content: 'MINECRAFT HYDRA';
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
}

.title-bar h4 {
    display: none;
}

.sidebar-profile {
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/7/7b/Mossy_Stone_Bricks_%28texture%29_JE3_BE2.png/revision/latest?cb=20201001140122');
    background-size: 20%; 
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4F4F4F, inset 3px 3px 0px #C6C6C6;
    transition: all 0.1s ease-in-out;
}

.sidebar-profile__button{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 30%; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4F4F4F, inset 3px 3px 0px #C6C6C6;
    transition: all 0.1s ease-in-out;
}

.sidebar-profile__button:active {
    box-shadow: inset -2px -2px 0px #4F4F4F, inset 2px 2px 0px #A0A0A0;
    filter: brightness(0.9);
}

.profile-avatar{
  background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/7/79/Composter_%28bottom_texture%29_JE1_BE1.png/revision/latest?cb=20201001121009');
  background-size: 100%;
}

.profile-avatar__image{
  transform: scale(0.9);
}

.sidebar-profile__button-title{
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
}

.sidebar-profile__friends-button{
  background-color: rgba(245, 245, 220, 0);
  background-image: url('https://static.wikia.nocookie.net/minecraft-knowhow/images/2/24/Ender_pearl.png/revision/latest?cb=20131212185227');
  background-size: 100%;
  color: #4f4f4f00;
}

.sidebar-profile__friends-button:hover{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4272d04-3beb-4785-b430-80c9883efffd/d6c0wvk-0bccd4fe-e3a0-40ac-a864-d0d64ffc60e1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q0MjcyZDA0LTNiZWItNDc4NS1iNDMwLTgwYzk4ODNlZmZmZFwvZDZjMHd2ay0wYmNjZDRmZS1lM2EwLTQwYWMtYTg2NC1kMGQ2NGZmYzYwZTEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.SWqDybHvYK3qHbphe3juPDRqxmpLns6ywMURwl9OlH0');
    background-color: #4f4f4f00;
}

/************************Botões de navegação*/

#root > main > aside > div > div.sidebar__content > section:nth-child(1){
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/65/Moss_Block_%28texture%29_JE1.png/revision/latest?cb=20210203185841');
    background-size: 20%; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f69, inset 3px 3px 0px #c6c6c64f;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul{
  width: 100%;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li {
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 20%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4F4F4F, inset 3px 3px 0px #C6C6C6;
    transition: all 0.1s ease-in-out;
    color: white;
}

#root > main > aside > div > div.sidebar__content > section:nth-child(1) > ul > li:active {
    box-shadow: inset -2px -2px 0px #4F4F4F, inset 2px 2px 0px #A0A0A0;
    filter: brightness(0.9);
}

/************************jogos*/

.sidebar__menu-item{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 20%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
}

.sidebar__menu-item:active{
      box-shadow: inset -2px -2px 0px #4F4F4F, inset 2px 2px 0px #A0A0A0;
    filter: brightness(0.9);
}

.sidebar__section-title{
  color: white;
}

input{
  background-color: black;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 2px 2px 0px #4f4f4f, inset -2px -2px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

/********************************header**/

.header__search{
  width: 100%;
}

/*******************************cansei fodase*/

.hero{
  padding: 40px;
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/7/7b/Mossy_Stone_Bricks_%28texture%29_JE3_BE2.png/revision/latest?cb=20201001140122');
    background-size: 5%;
    height: 100%;
    min-height: 50%;
    border-radius: 0px;
    box-shadow: 0px 0px 40px 0px #000000;
}

.hero__backdrop{
      box-shadow: inset 4px 4px 0px #4f4f4f, inset -4px -4px 0px #c6c6c6;
      border-radius: 0px;
}

.button--primary{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/1/1a/Polished_Blackstone_%28texture%29_JE1_BE1.png/revision/latest?cb=20200930213508');
    background-size: 40px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.button--outline{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.game-card{
  border-radius: 0px;
}

.game-card__backdrop{
      box-shadow: inset 6px 6px 0px #4f4f4f, inset -6px -6px 0px #c6c6c6;
      border-radius: 0px;
      padding: 5px;
}

.home__cards{
  gap: 10px;
}

.bottom-panel{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 2%;
    border: 3px solid #8B8B8B;
    box-shadow: inset -3px -3px 0px #4F4F4F, inset 3px 3px 0px #C6C6C6;
    color: white;
}

.bottom-panel__downloads-button{
  color: white;
}

.bottom-panel__version-button{
  color: white;
}

::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

.badge{
  border-radius: 0px;
  color: white;
}

.game-item{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    padding: 3px 3px;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.game-item__cover{
  width: 250px;
}

.game-item__genres{
  color: white;
}

.catalogue__filters-container{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
}

.text-field-container__text-field-input{
  border-radius: 0px;
}

.checkbox-field__checkbox {
  background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3d/Dirt_%28texture%29_JE2_BE2.png/revision/latest?cb=20200919012354');
    background-size: 40px;
    box-shadow: inset -1px -1px 0px #c6c6c6, inset 1px 1px 1px #4f4f4f;
}

.checked{
  background-image:url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/b/ba/Farmland_%28wet_texture%29_JE2_BE2.png/revision/latest?cb=20201006055336');
    background-size: 40px;
    box-shadow: inset -1px -1px 0px #c6c6c6, inset 1px 1px 1px #4f4f4f;
}

.filter-item{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    color: white;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
}

.filter-item__remove-button{
  color: white;
}

.settings__content{
        background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.select-field__label{
  color: white;
}

.settings-download-sources__item {
          background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/c1/Gray_Wool_%28texture%29_JE3_BE3.png/revision/latest?cb=20200920141206');
    background-size: 40px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.theme-card--active{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/b/b9/Green_Wool_%28texture%29_JE3_BE3.png/revision/latest?cb=20200920141234');
    background-size: 40px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.theme-card{
  background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/c1/Gray_Wool_%28texture%29_JE3_BE3.png/revision/latest?cb=20200920141206');
    background-size: 40px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.button--dark, .button--danger{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/9/98/Netherrack_%28texture%29_JE4_BE3.png/revision/latest?cb=20201001140136');
    background-size: 40px;
    box-shadow: inset -1px -1px 0px #c6c6c6, inset 1px 1px 1px #4f4f4f;
    border-radius: 0px;
    color: white;
}

.select-field__option{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.select-field__option:hover{
  transform: none;
}

.profile-hero__content-box{
      box-shadow: inset 6px 6px 0px #4f4f4f, inset -6px -6px 0px #c6c6c6;
      border-radius: 0px;
      padding: 5px;
}

.user-stats__box, .recent-games__box, .friends-box__box{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/e/ea/Cracked_Deepslate_Tiles_%28texture%29_JE1.png/revision/latest?cb=20210312145829');
    background-size: 40px;
  background-color: #00000000;
  border: #00000000;
}

.user-stats__list-item, .recent-games__list-item, .friends-box__list-item{
    background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    cursor: pointer;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    transition: all 0.1s ease-in-out;
    color: white;
    border-radius: 0px;
}

.modal{
  border-radius: 0px;
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 40px;
    color: white;
}

.modal__header{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3b/Grass_Block_%28side_texture%29_JE2_BE2.png/revision/latest?cb=20200921204925');
    background-size: 20%;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
}

.modal__close-button{
        background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/5/5d/TNT_%28side_texture%29_JE3_BE2.png/revision/latest?cb=20201004103532');
    background-size: 100%;
    color: #000000;
}

.modal__close-button-icon{
  color: #00000000;
}

.user-friend-modal__friend-code-button{
  color: white;
}

.user-friend-item__container{
      background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 10%;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
}

.user-friend-item__button__content{
  color: white;
}

.user-friend-item__button__actions{
          background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/5/5d/TNT_%28side_texture%29_JE3_BE2.png/revision/latest?cb=20201004103532');
    background-size: 100%;
    color: #000000;
}

.octicon-x-circle{
  color: rgba(245, 179, 179, 0);
}

.achievements__list, .achievement-panel__grid--with-subscription{
        background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 3%;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
}

.achievements-content__achievements-list__section__table-header {
          background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/7/7b/Mossy_Stone_Bricks_%28texture%29_JE3_BE2.png/revision/latest?cb=20201001140122');
    background-size: 3%;
}

.achievements__item achievements__item-compared, .false{
          background-image: url('https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/dc/Stone_%28texture%29_JE5_BE3.png/revision/latest?cb=20201001141805');
    background-size: 3%;
    box-shadow: inset -3px -3px 0px #4f4f4f, inset 3px 3px 0px #c6c6c6;
    color: white;
}