body {
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/1850831-monocromatico-pattern-with-a-kitsune-mask-on-the-japanese-theme-vetor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
.header {
  background: rgba(20, 20, 20, 0.589);
  border-bottom: 2px solid rgba(128, 127, 127, 0.8);
  backdrop-filter: blur(5px);
}

/* Sidebar */
.sidebar {
  background: rgba(30, 30, 30, 0.63);
  color: #e0e0e0;
  backdrop-filter: blur(5px);
}

.sidebar a {
  color: #bfbfbf;
  backdrop-filter: blur(5px);
}

.sidebar a:hover {
  background: rgba(191, 191, 191, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

/* Main content */
.container__content {
  background: rgba(15, 15, 15, 0.4);
  color: #cecdcd;
  border-radius: 10px;
}

body {
  color: #c5c5c5;
}

.text-field-container__textfield--dark,
.text-field-container__textfield--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.button:hover,
.recent-games__box {
  background-color: rgba(22, 22, 22, 0.425) !important;
  backdrop-filter: blur(3px);
}

.container__content .button--outline {
  background-color: rgba(160, 159, 159, 0.596);
  backdrop-filter: blur (5px);
}

/* Bottom panel */
.bottom-panel {
  background: rgba(20, 20, 20, 0.699);
  border-top: 2px solid rgba(191, 191, 191, 0.8);
  color: white;
  backdrop-filter: blur(5px);
}

/* Toast */
.toast {
  background: rgba(40, 40, 40, 0.4);
  color: #e0e0e0;
}

/* Button */
.button {
  background: rgba(191, 191, 191, 0.7);
  color: black;
  border-radius: 5px;
}

