.sidebar,
.header,
.container__content,
.bottom-panel {
  background-color: rgba(0, 1, 56, 0.30);
}

body {
  color: rgb(221, 221, 221);
}

#root {
  background: url(https://imgs.search.brave.com/k0DzF6teu0gmva9dkriQ4qP12mk5wCcm-CnEBiuXBu0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9maWxl/cy50ZWNub2Jsb2cu/bmV0L3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIwLzExL2NvbW9f/am9nYXJfaG9sbG93/X2tuaWdodF81LTcw/MHg0MTUucG5n)
    #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 1, 56, 0.308) !important;
  backdrop-filter: blur(8px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 1, 56, 0.308);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 1, 56, 0.308) !important;
}
