/* base de cores */
:root {
    --bg: #282a36;
    --bg-light: #242630;
    --bg-lighter: #2e324d;
    --bg-dark: #21222C;
    --bg-darker: #191A21;
    --fg: #F8F8F2;
    --selection: #44475A;
    --comment: #6272A4;
    --purple: #451952;
    --green: #50FA7B;
    --orange: #eba55b;
    --pink: #FF79C6;
    --redish: #a83c3c;
    --red: #FF5555;
    --yellow: #f8e53b;
}

/* geral */
body {
    font-family: Noto Sans, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--fg);
    background-color: var(--bg);
}

/* containers */
.container__content,
.settings__content,
.bottom-panel,
.catalogue__filters-container,
.content-sidebar {
    background-color: var(--bg-darker);
    border-radius: 7px;
    color: var(--fg);
}

.home__content {
    background-color: var(--bg-darker);
    border-radius: 7px;
    color: var(--fg);
}


/* sidebar */
.sidebar,
.sidebar__menu,
.sidebar__content,
.sidebar-profile,
.sidebar-profile__button {
    background-color: var(--bg-light);
    border-radius: 7px;
    color: var(--orange);
}

.sidebar-profile__friends-button {
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--orange);
}

.sidebar__section-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange);
    text-align: center;
}

.sidebar__menu-item {
    color: var(--redish);
}

/* header / título */
.title-bar,
.header {
    background-color: var(--bg-dark);
    color: var(--purple);
    border-bottom: 1px solid var(--selection);
    border-radius: 7px;
}

/* jogo relacionados */
.game-item,
.download-group__item {
    background-color: var(--bg-dark);
    border-radius: 7px;
    border: 2px solid var(--bg);
    color: var(--red);
    box-shadow: 4px 4px 0px 0px rgba(63, 2, 2, 0.4);
}

/* campos de texto */
.text-field-container__text-field-input--read-only,
.text-field-container__text-field--dark,
.header__search,
.text-field-container__text-field--primary {
    background-color: var(--bg-darker);
    border-radius: 7px;
    border: transparent;
}

.text-field-container__text-field-wrapper {
    border: solid 6px var(--bg-light);
    border-radius: 7px;
}

/* botões */
.sidebar-section__button,
.button--danger,
.button--outline {
    background-color: var(--bg-dark);
    color: var(--yellow);
    border: transparent;
}

.button--danger {
    background-color: var(--red);
}

/* perfil e jogos recentes */
.user-stats__section-header,
.recent-games__section-header,
.profile-content__section-header {
    background-color: var(--bg-dark);
    border-radius: 8px;
    border: solid 8px var(--bg-dark);
    text-align: center;
    font-weight: bold;
}

.user-stats__box,
.recent-games__box,
.user-stats__list-item,
.recent-games__list {
    background-color: var(--bg);
    border-radius: 7px;
    color: var(--fg);
}

/* modais */
.modal {
    background-color: var(--bg-dark);
    border: solid 10px var(--bg-light);
    border-radius: 7px;
}

.modal__header {
    background-color: var(--bg-light);
    border-radius: 40px;
    border: solid 7px var(--bg);
    color: var(--fg);
}

/* elementos especiais */
.profile-hero__background-overlay--transparent {
    background: var(--bg-darker) no-repeat center center;
    background-size: cover;
}

.profile-hero__hero-panel--transparent {
    background: var(--bg-dark) !important;
}

.theme-card--active {
    background-color: var(--bg-light);
    color: var(--fg);
}

.download-group__title,
.theme-card__header__title,
.description-header {
    color: var(--yellow);
}

.settings-download-sources__item {
    background-color: var(--bg-dark);
    border: 1px solid transparent;
}