/*

  _____   _                            _           
 |_   _| | |_    ___   _ __    ___    | |__   _  _ 
   | |   | ' \  / -_) | '  \  / -_)   | '_ \ | || |
   |_|   |_||_| \___| |_|_|_| \___|   |_.__/  \_, |
                                              |__/ 
  ___                _   _            _         _ 
 | _ \  __ _   ___  | | (_) __ __ __ (_)  _ _  (_)
 |  _/ / _` | / _ \ | | | | \ V  V / | | | '_| | |
 |_|   \__,_| \___/ |_| |_|  \_/\_/  |_| |_|   |_|

 > 2025 - 02 -21
 > Laufey no1 fan
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


/* ---- GLASSMORPHISM ---- */

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px);
}


/* ---- GENERAL STYLE---- */

body {
  color: #ffeffe;
  font-family: 'Playfair Display', serif;
  animation: fadeIn 0.8s ease-in-out;
}


/* ---- FADE IN---- */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ---- BACKGROUND IMG ---- */

#root {
  background: url(https://i.imgur.com/EMP38Ej.jpeg) #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ---- TRANSLUCED ---- */

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}


/* ---- ROUNDED ---- */

.game-card__backdrop, 
.game-card, 
.hero, 
.user-library-game__cover{
  position: relative;
  padding: 1px;
  border-radius: 12px;
  overflow: hidden;
}

.settings__content,
.theme-card,
.user-stats__box,
.modal,
.button,
.repacks-modal__repack-button,
.list__item-image,
.list__item-image--locked,
.badge,
.filter-item {
  border-radius: 12px;
}


/* ---- FRIEND BUTTON ---- */
.sidebar-profile__friends-button {
  width: 40px;          
  height: 40px;         
  border-radius: 12px;  
  background-color: transparent; 
  border: 1px solid #ffffff49; 
  display: flex;       
  justify-content: center; 
  align-items: center;     
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease; 
}

.sidebar-profile__friends-button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  border-color: #d19acb; 
  transform: scale(1.05);    
}


/* ---- HOVER ---- */

.game-item:hover,
.friends-box__box:hover,
.user-stats__box:hover,
.recent-games__box:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  transform: scale(1.02);
}

.container__content .button--outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(228, 192, 220, 0.8); 
  }

.button--danger:hover {
    background-color: #b77ebd; 
    color: white; 
    box-shadow: 0 0 5px rgba(183, 126, 189, 0.7), 0 0 10px rgba(183, 126, 189, 0.6), 0 0 13px #b77ebd, 0 0 15px #b77ebd; 
    transform: scale(1); 
  }

/* ---- NEON ---- */

.container__content .button--outline{
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid #e4c0dc;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(228, 192, 220, 0.5); 
}


/* ---- ELEMENTS ---- */

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 12px;
}


/* ---- SIDE BAR ---- */

.sidebar__menu {
  padding: 20px 1px; 
  margin-right: 2px; 
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px; 
}

.sidebar__menu-item {
  margin-top: 2px;     
  margin-right: 15px;    
  margin-bottom: 2px;  
  margin-left: 15px;    
  
  border-radius: 12px;
  padding: 1px 5px;
  border: 1px solid #e4c0dc;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar__menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  border: 1px solid #e4c0dc; 
  box-shadow: 0 0 10px rgba(228, 192, 220, 0.8);
}

.catalogue__filters-container{
    border-radius: 12px; 

}

.sidebar{
    width: 275px;  
    border-radius: 12px;     
    margin-right: 5px; 
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;     
    padding: 10px;            
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
.container{
    border-radius: 12px;      
    margin-right: 5px; 
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;     
    padding: 2px;           
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }
  
.sidebar__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 1px;
      gap: 16px;
      width: 100%;
      overflow: auto;
}


/* ---- SCROLL BAR ---- */

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #d19acb; 
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4c0dc;
}


/* ---- TITLE BAR ---- */

.title-bar h4 {
  visibility: hidden; 
  position: relative;
}

.title-bar::after {
  content: "Hydra"; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white; 
  font-size: 16px; 
  font-weight: bold;
  text-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px #e4c0dc, 0 0 25px #e4c0dc; 
}

.text-field-container__text-field-input, .sidebar__section-title{
margin-top: 2px;     
  margin-right: 51px;   
  margin-bottom: 2px;  
  margin-left: 5px;     
}

.text-field-container{
    margin-top: 2px;     
    margin-right: 15px;    
    margin-bottom: 2px;  
    margin-left: 15px;     
    
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* ---- SEARCH BAR ---- */

.header__search {
  border-radius: 12px; 
  width: 270px;        
  height: 40px;        
  padding: 8px 12px;   
  transition: all 0.3s ease; 
}


/* ---- GAME DETAILS ---- */

.game-details__description-container {
    display: flex;
    width: 100%;
    flex: 1;
    background: linear-gradient(0deg, rgba(28, 28, 28, 0) 50%, rgba(21, 21, 21, 0) 100%);
  }


/* ---- PAGINATION ---- */

.catalogue__pagination-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 10px; 
  margin-bottom: 20px; 
}

button.button--outline.pagination__button {
  font-size: 18px; 
  padding: 8px 16px; 
  border-radius: 12px; 
  background-color: transparent; 
  border: 2px solid #e4c0dc; 
  color: #e4c0dc; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button.button--outline.pagination__button:hover {
  background-color: #e4c0dc; 
  color: white; 
  transform: scale(1.05); 
}

.catalogue__result-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 105, 180, 0.8), 0 0 20px rgba(255, 105, 180, 0.8), 0 0 30px rgba(255, 105, 180, 0.8); 
  transition: text-shadow 0.3s ease-in-out; 
}

button.button--primary.pagination__button {
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 8px 16px; 
  font-size: 16px; 
  border-radius: 10px; 
  background-color: #e4c0dc; 
  color: white; 
  border: 2px solid #e4c0dc; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button.button--primary.pagination__button:hover {
  background-color: #d19acb; 
  color: white; 
  transform: scale(1.05); 
}

.pagination__button {
  width: auto; 
  height: auto; 
  max-width: none; 
  max-height: none; 
}


/* ---- BOTTOM PANEL ---- */

.bottom-panel {
  position: relative;
}

.bottom-panel::after {
  content: "♥️ 파올리위리의 테마 ♥️"; 
  position: absolute;
  left: 50%; 
  bottom: 5px; 
  transform: translateX(-50%); 
  color: white; 
  font-size: 11px; 
  font-weight: bold;
  text-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px #e4c0dc, 0 0 25px #e4c0dc; 
}

.bottom-panel__version-button {
    background-color: transparent; 
    border: none; 
    color: #ffffff; 
    font-size: 16px; 
    font-family: "Poppins", sans-serif; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer;
    transition: transform 0.3s ease; 
    position: relative; 
    text-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px #e4c0dc, 0 0 25px #e4c0dc; 
  }
  
.bottom-panel__version-button:hover {
    color: #d19acb; 
    transform: scale(1.05); 
  }

/* ---- PRIMARY BUTTON ---- */

.button--primary {
  background-color: transparent; 
  border: 1px solid #e4c0dc; 
  color: #e4c0dc; 
  font-size: 12px; 
  font-family: 'Playfair Display', serif; 
  font-weight: bold; 
  padding: 5px 15px; 
  text-transform: uppercase; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: all 0.3s ease; 
  text-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px #e4c0dc, 0 0 25px #e4c0dc; 
}

.button--primary:hover {
  background-color: #e4c0dc; 
  color: black; 
  box-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 11px #e4c0dc, 0 0 15px #e4c0dc;
  transform: scale(1.05); 
}

.bottom-panel__downloads-button{
    color: white; 
  font-size: 11px; 
  font-weight: bold;
  text-shadow: 0 0 5px rgba(228, 192, 220, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px #e4c0dc, 0 0 25px #e4c0dc; 
}


/* ---- DANGER BUTTON ---- */

.button--danger {
  background-color: transparent; 
  border: 2px solid #b77ebd; 
  color: #b77ebd; 
  font-size: 12px; 
  font-family: "Poppins", sans-serif; 
  font-weight: bold; 
  padding: 5px 15px; 
  text-transform: uppercase;
  cursor: pointer; 
  border-radius: 12px; 
  transition: all 0.3s ease;
  text-shadow: 0 0 3px rgba(183, 126, 189, 0.7), 0 0 6px rgba(183, 126, 189, 0.7), 0 0 9px rgba(183, 126, 189, 0.6), 0 0 12px rgba(183, 126, 189, 0.4); 
}


/* ---- PROGRESS BAR ---- */

.hero-panel__progress-bar {
  background: linear-gradient(to right, #e0bbd8 0%, #e4c0dc 100%); 
  background: linear-gradient(to right, #e999d2 0%, #7c319e 100%); 
  box-shadow: 0 0 5px rgba(228, 192, 192, 0.7), 0 0 10px rgba(228, 192, 220, 0.7), 0 0 15px rgba(228, 192, 220, 0.7), 0 0 20px rgba(228, 192, 220, 0.7), 0 0 25px rgba(228, 192, 220, 0.7);
}
