  /*
    Serial Experiments Lain.
  */

  /* Header */
  .header {backdrop-filter: blur(3px);}

  /* Sidebar */
  .sidebar {backdrop-filter: blur(3px);}

  /* Main content */
  .container__content {backdrop-filter: blur(3px);}
  .container__content {background-color: black;}

  /* Bottom panel */
  .bottom-panel {backdrop-filter: blur(3px);}

  /* Toast */
  .toast {backdrop-filter: blur(3px);}

  /* Button */
  .button {}



body {
    margin: 0;
    color: #f0efef;
    font-family: helvetica;

  }


  #root {
    background: rgba(0, 0, 0, 0.443)
      url("https://substack-post-media.s3.amazonaws.com/public/images/209594c8-b226-4a75-84cd-29268e3fe9bb_500x352.gif")
      no-repeat center center;
    background-size: cover;
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(0, 0, 0, 0.443) !important;
    backdrop-filter: blur(3px);

    }

  .container__content .button--outline {
    backdrop-filter: blur(3px);
    background-color: rgba(4, 57, 66, 0.443);
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(36, 41, 87, 0.40) !important;
  }


  .title-bar {
    background-color: rgba(0, 0, 0, 0.443);
    backdrop-filter: blur(3px);
  }


  .home__content {
    background-color: rgba(0, 0, 0, 0.443);
    backdrop-filter: blur(3px);
  }

  .bottom-panel {
    background-color: rgba(0, 0, 0, 0.443);
  }
