/* Aplica a fonte japonesa globalmente */
*,
*::before,
*::after {
  font-family: 'Sawarabi Mincho', sans-serif !important;
  box-sizing: border-box;
}

/* Fundo local */
#root {
  position: relative;
  background: url("assets/background/background-reflex.png");
  background-size: cover;
  overflow: hidden;
}

/* Seções translúcidas */
.button--dark,
.theme-card__actions__left,
.settings-download-sources__list .settings-download-sources__item,
.title-bar,
.sidebar,
.container__content,
.header,
.bottom-panel,
.text-field-container__text-field--dark,
.header__search,
.settings__container .settings__content,
.sidebar-profile__friends-button,
.game-item,
.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box {
  background: #BF244180; /* Novo fundo translúcido */
  scrollbar-color: #D92B4B #BF244180;
  scrollbar-width: thin;
}

/* Texto e bordas */
.settings__content,
.button--dark,
.button--outline,
.theme-card__author__name,
.theme-card__author,
.theme-card__header,
.theme-card__header__title,
.bottom-panel__downloads-button,
.bottom-panel__version-button,
.sidebar-profile__button-title,
.sidebar__section-title,
.header__title,
.sidebar__menu-item {
  color: #F2F2F2; /* Novo texto principal */
}

.button--dark {
  border: solid 1px rgba(255, 255, 255, 0.15);
}
.button--dark:hover {
  background-color: #BF2441; /* Novo hover para botões principais */
}

/* Outros botões */
.button--secondary {
  background-color: #BF807A; /* Botões secundários */
}
.button--secondary:hover {
  background-color: #D92B4B; /* Hover para botões secundários */
}
