.title-bar {
  border: none;
  background-color: #151515;
}

.title-bar h4 {
  background: url("https://files.svgcdn.io/akar-icons/game-controller.svg") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
  display: block;
  width: 16px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.sidebar {
  padding: 0;
  margin: 0;
  gap: 0;
  display: flex;
  flex-direction: row;
  border: none;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 3%;
  height: 95%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0.1;
}

.sidebar__container {
  padding: 0;
  margin: 0;
  gap: 0;
}

.sidebar-profile {
  padding: 8px 10px;
}

.sidebar-profile__button {
  padding: 4px 4px;
}

.sidebar-profile__button-content {
  gap: 8px;
}

.sidebar-profile__friends-button {
  border-radius: 4px;
  background-color: transparent;
}

.sidebar__content {
  padding: 10px;
  padding-top: 0px;
  gap: 8px;
}

.sidebar__section {
  gap: 8px;
  padding-bottom: 0px;
}

.sidebar__section-title {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

/*:hover::-webkit-scrollbar {
  display: block;
}*/

.container {
  background-color: #151515;
}

.container__content {
  background-color: #151515;
}

.header {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.header__section--left {
  display: none;
}

.header__title {
  display: none;
}

.header__section {
  width: 100%;
}

.header__search {
  width: 100%;
}

.home__content {
  gap: 10px;
  padding: 10px;
  padding-top: 0px;
}

.home__content h2 {
  display: none;
}

.home__title {
  display: none;
}

.hero {
  box-shadow: none;
}

.game-card {
  box-shadow: none;
}

.game-card__download-options {
  display: none;
}

.bottom-panel {
  display: none;
  border: none;
  background-color: #151515;
}
