.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #ff0000;
}

#root {
  background: url(https://i.redd.it/i-paid-an-artist-to-make-me-a-kasane-teto-wallpaper-and-v0-80can0a0ceee1.jpg?width=3840&format=pjpg&auto=webp&s=5fc968939b8cdb5897703420b8296de1c2ba83b6)
    #bd2929;
  background-position: top;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(255, 0, 0, 0.089) !important;
  backdrop-filter: blur(8px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 0, 0, 0.5);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(112, 7, 7, 0.6) !important;
}