.title-bar {
  position: relative;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  background-color: #222222;
}

h4 {
  display: none;
}

.title-bar::after {
  content: "HYDRA - FRUTIGER AERO";
  letter-spacing: 12px;
  color: #222222;
  font-size: 14px;
  font-weight:100;
}

#root {
  background: url(https://i.imgur.com/6qBLf9F.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #222222;
}
.sidebar,
.container__content,
.header,
.title-bar,
.bottom-panel,

.game-item {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bottom-panel {
  border-radius: 0px;
}

.container {
  border-radius: 20px;
  margin-top: 5px;
}

.title-bar{
  background: rgba( 255, 255, 255, .75);
  border-radius: 0px;
}

.sidebar-profile {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 10px;
 
}

.user-stats__box {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.recent-games__box {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-stats__list-item{
  color: #222222;
}

.recent-games__game-title{
  color: #222222;
}

.recent-games__game-description {
  color: #222222;
}



.sidebar-profile__button-title  {
   color: #222222;
}

.sidebar-profile__button-game-running-title {
  color: #222222;
}

.friends-box__box {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.friends-box__friend-name {
  color: #222222;
}

.sidebar__menu-item-button {
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 10px;
}

.sidebar {
  margin: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
  border-radius: 15px;
}

.sidebar__menu-item:hover {
  background-color: rgba(255, 255, 255, 0);
}

.button {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.button--primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(62, 98, 192, 0.3);
}

.theme-card {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}



.settings-download-sources__item {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.toast {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.checkbox-field__checkbox{
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.text-field-container__text-field--primary{
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.text-field-container__text-field-input--read-only{
  color: #222222;
}

.select-field__label{
  color: #222222;
}

.bottom-panel__downloads-button{
  color: #222222;
}

.select-field select-field--primary{
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.sidebar__menu-item-button-label{
  color: #222222;
}

.sidebar__menu-item-button {
  color: #222222;
}

.sidebar-profile__friends-button {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.settings__content {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.button {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #222222;
}

.button--primary:active {
  background: rgba(255, 255, 255, 0.8);
}

.button--primary:hover {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
  border: none;
  color: white;
}

.header{
  border-radius: 0;
  background: rgba( 255, 255, 255, .75);
}

.header__search {
  background: rgba( 255, 255, 255, 1);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 350px;
  padding: 10px ;
  border-radius:18px 18px 18px 18px;
  color: #222222;
}

.catalogue__filters-container {
  background: rgba( 255, 255, 255, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 350px;
  padding: 10px ;
  border-radius:18px 18px 18px 18px;
  color: #222222;
}

.header__search-input{
  color: #222222;
}

.game-item__details {
  color: #222222;
}

.badge {
  color: #222222;
}

.game-item__genres {
  color: #222222;
}

.container__content{
  border-radius: 0;
}

.game-card__content .badge{
  color: white;
}


.download-group__item {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.download-group__title{
  color: #222222;
}

.download-group__item .badge{
  color: white;
}

.text-field-container__text-field--dark {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.game-details__container {
  color: white;
}

.header__title {
  color: #222222;
}

.bottom-panel__version-button::after {
    content: "- Theme by: raphagreb_delay";
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.bottom-panel__version-button{
    color: white;
}

::-webkit-scrollbar {
  display: none;
}