/*CSS file*/

.sidebar,
.header,
.container__content,
.game-details__description-container,
.content-sidebar{
  background: transparent;
}

.title-bar{
  font-size: 15px;
}

#root{
  background-image: url(https://giffiles.alphacoders.com/219/219230.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar__container{
  padding: 15px;
}

.sidebar__content,
.sidebar-profile{
  margin-top: 10px;
}

.text-field-container__text-field-input,
.text-field-container__text-field--dark,
.sidebar-profile__friends-button,
.header__search,
.sidebar__content,
.sidebar-profile,
.title-bar,
.user-stats__box,
.recent-games__box,
.modal,
.text-field-container__text-field--primary,
.game-details__cloud-sync-button,
.game-details__description-container,
.game-item,
.catalogue__filters-container,
.checkbox-field__checkbox,
.download-group__item,
.dropdown-menu__content,
.settings__content,
.settings-download-sources__item,
.theme-card--active,
.button--dark,
.game-details__description,
.list li,
.sidebar-section__button,
.description-header,
::-webkit-scrollbar,
.achievement-panel,
.achievements__list{
  background-color: rgba(255, 255, 255, 0.100);
}

.text-field-container__text-field-input::placeholder,
.sidebar__menu li,
.header--is-windows,
.header__search-input::placeholder,
.sidebar-profile__button-title,
.home__content,
.title-bar,
.sidebar__container,
.profile-content__section,
.user-stats__list li,
.user-stats__link,
.modal,
.catalogue__filters-container,
.downloads__container,
.dropdown-menu__content,
.download-group__title,
.settings__content,
.settings__categories button,
.select-field__container label,
.settings-download-sources__item,
.button--outline,
.theme-card,
.game-details__description-content,
.sidebar-section__button,
.theme-card__header__title,
.theme-card__author,
.bb_ul,
.requirement__details,
.stats__category,
.list__item,
.achievement-panel,
.achievements__item,
.game-item__genres{
  color: white;
  text-shadow: 0px 0px 10px black;
}

.hero,
.game-card,
.user-library-game__wrapper,
.user-stats__box,
.recent-games__box,
.game-item,
.download-group__item,
.game-details__description,
.bb_img,
.list li,
.modal--large,
.sidebar__menu li,
.sidebar-profile__button,
.sidebar__content,
.sidebar-profile,
.text-field-container__text-field--primary,
.text-field-container__text-field-input,
.sidebar-section__button,
.description-header,
::-webkit-scrollbar {
  border-radius: 15px;
}
