.header {
    background-image: url('https://img.freepik.com/fotos-gratis/padrao-de-banana-deliciosa_23-2148144329.jpg?t=st=1739897603~exp=1739901203~hmac=6e43c00067670e3bac84dcd30dfa86a1c14d4e342bc0cba0bcc8f518fca313c5&w=1380');
    background-size: 100%;
    background-position: 0mm 19.5mm;

    color: rgb(126, 92, 0);
}

.container__content {
    background-image: url('https://img.freepik.com/fotos-gratis/padrao-de-banana-deliciosa_23-2148144329.jpg?t=st=1739897603~exp=1739901203~hmac=6e43c00067670e3bac84dcd30dfa86a1c14d4e342bc0cba0bcc8f518fca313c5&w=1380');
    background-size: 100%;

    color: rgb(126, 92, 0);
}

.sidebar {
  background-color: rgb(255, 200, 120);

  color: rgb(126, 92, 0);
  font-size: 15px;
}

.sidebar__menu-item-button {
  color: rgb(60, 40, 0);
  font-size: 13px;
}

.sidebar__help-button {
  color: rgb(60, 40, 0);
  font-size: 13px;
}

.sidebar-profile__button {
  color: rgb(60, 40, 0);
  font-size: 13px;
}

.button {
  background-color: rgba(231, 169, 0, 0.699);
  border-radius: 5px;
  border: none;
}

.button--primary {
  color: black;
}

.button--primary:hover {
  background-color: rgba(126, 92, 0, 0.658);
}

.button--outline {
  color: black;
}

.button--outline:hover {
  background-color: rgba(126, 92, 0, 0.658);
}

.button--danger {
  color: black;
}

.button--danger:hover {
  color: white;
}

.user-stats__box {
  background-color: rgb(126, 92, 0);
}

.user-stats__list-item {
  color: rgb(255, 241, 194);
}

.recent-games__box {
  background-color: rgb(126, 92, 0);
}

.recent-games__game-title {
  color: rgb(255, 241, 194);
}

.recent-games__game-description {
  color: rgba(255, 241, 194, 0.753);
}

.friends-box__box {
  background-color: rgb(126, 92, 0);
}

.friends-box__friend-name {
  color: rgb(255, 241, 194);
}

.catalogue__filters-container {
  background-color: rgb(126, 92, 0);
  color: rgb(255, 241, 194);
}

.hero-panel__content {
  color: rgb(182, 182, 182);
}

.description-header__info {
  color: rgb(182, 182, 182);
}