:root {
  --main-bg-color: rgba(60, 45, 90, 0.1);
  --blur-effect: blur(8px);
  --scrollbar-thumb: rgba(122, 72, 162, 0.7);
  --text-color: #f0efef;
  --placeholder-color: #c8c9ce;
  --dark-text: #343436;
  --hero-bg: rgba(191, 178, 221, 0.1);
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

#root {
  background: #c7c0ee url("https://s4.anilist.co/file/anilistcdn/user/banner/b6713707-smSFy6MHcJLv.jpg") no-repeat center center/cover;
}

.sidebar,
.container__content,
.bottom-panel,
.title-bar,
.settings-download-sources__list .settings-download-sources__item {
    background: transparent;
}

.sidebar,
.container__content,
.container section,
.bottom-panel,
.title-bar,
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.profile-hero__user-information,
.game-details__description-container,
.game-details__description-content,
.description-header,
.sidebar-section,
.content-sidebar,
.sidebar-section__button,
.header {
  background-color: var(--main-bg-color);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
}


.profile-hero__hero-panel--transparent { 
  background-color: var(--hero-bg); 
}

.sidebar__menu-item button,
.sidebar-profile__friends-button,
.sidebar-profile__friends-button:hover {
  color: var(--placeholder-color);
}

.sidebar-profile__button-title,
.title-bar h4{
  color: var(--dark-text);
}

::-webkit-scrollbar {
  width: 0.4em;
  background-color: transparent;
}

::-webkit-scrollbar-thumb { 
  background-color: var(--scrollbar-thumb); 
}

.bottom-panel small { color: var(--placeholder-color); }
.profile-avatar { border-radius: 30%; }
::placeholder { color: var(--placeholder-color); }