/*
    neverbuy by nxty.cc - NEVERLOSE UI
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --color-background-base: rgba(30, 35, 40, 0.85); /* Ajustado para um azul escuro com transparência */
  --color-background-base2: rgba(19, 22, 27, 0.8); /* Ajustado para um azul escuro com transparência */
  --color-background-dark: rgb(20, 25, 30); /* Um tom mais escuro para contraste */
  --color-background-button: rgba(40, 60, 80, 0.7); /* Fundo dos botões desativados */
  --color-background-checkbox: rgba(0, 180, 255, 0.5); /* Ciano para checkboxes ativados */
  --color-background-checkbox-off: rgba(50, 60, 70, 0.5); /* Fundo para checkboxes desativados */
  --color-background-scrollbar-thumb: rgba(0, 180, 255, 0.6); /* Ciano para a scrollbar */
  --color-border: rgba(0, 180, 255, 0.3); /* Borda ciano sutil */
  --color-text: #d5d8dc; /* Texto cinza claro para contraste */
  --color-shadow: rgba(0, 0, 0, 0.4); /* Sombra suave */
  --mica-blur: blur(10px); /* Ajustado o desfoque para um efeito mais suave */
}

body {
  background: url('https://raw.githubusercontent.com/2nxty/nx/refs/heads/main/docs/img/hlbg.jpg') no-repeat fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-background-base);
  color: var(--color-text);
  box-shadow: 0px 1px 6px var(--color-shadow);
  padding: 12px;
  backdrop-filter: var(--mica-blur);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header__search,
.text-field-container__text-field,
.text-field-container__text-field--dark,
.text-field-container__text-field--primary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: var(--mica-blur);
}

.catalogue__content {
  background-color: transparent;
  justify-content: space-between;
  display: flex;
}

.catalogue {
  gap: 5px;
  padding: 10px;
}

.profile-hero__content-box {
  margin: 10px;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.profile-hero__hero-panel {
  color: var(--color-text);
  border-radius: 0 0 10px 10px;
  border: 0;
  width: auto;
  backdrop-filter: blur(1px);
  box-shadow: none;
}

.filter-item,
.catalogue__filters-container,
.modal,
.download-group__item,
.settings-download-sources__item,
.achievements__list,
.toast,
.repacks-modal__repack-button,
.user-stats__box,
.recent-games__box,
.friends-box__box,
.user-library-game__playtime {
  background-color: var(--color-background-base2);
  color: var(--color-text);
  box-shadow: 0px 1px 4px var(--color-shadow);
  padding: 10px;
  backdrop-filter: var(--mica-blur);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.catalogue__filters-list {
  margin-left: 5px;
}

.modal__content {
  padding: 20px;
}

.friends-box__section-header {
  margin-right: 3px;
}

.title-bar {
  background-color: var(--color-background-base);
  color: var(--color-text);
  padding: 10px;
  backdrop-filter: var(--mica-blur);
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}

.title-bar h4 {
  visibility: hidden;
}

.title-bar h4::after {
  color: white;
  content: 'HL'; /* Alterado para o título da interface */
  visibility: visible;
  position: relative;
  top: 50%;
  left: -50px;
  transform: translate(-50%, -50%);
  padding: 6px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0px 1px 4px #144a69;
}

.sidebar {
  background-color: var(--color-background-base);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: var(--mica-blur);
  padding: 0px;
  width: 220px; /* Ajustado para a largura da sidebar na imagem */
  float: left;
  height: 100vh;
  box-sizing: border-box;
}


.sidebar__container {
  flex-direction: column-reverse;
}

.sidebar__content {
  padding: 10px;
  padding-bottom: 65px;
}

.sidebar__content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.sidebar__menu-item,
.sidebar__menu-item-button {
  background-color: transparent;
  border-radius: 10px;
}

.sidebar__menu-item svg{
  color: var(--color-background-scrollbar-thumb);
}
.sidebar__menu-item svg * {
  width:  40%;
  height: 40%;
}

.sidebar__menu-item-button:hover,
.sidebar__menu-item--active {
  background-color: var(--color-border);
}

.container__content {
  background: var(--color-background-base2);
  color: var(--color-text);
}

.bottom-panel {
  background-color: var(--color-background-base);
  border-top: 1px solid var(--color-border);
  backdrop-filter: var(--mica-blur);
  padding: 8px;
  text-align: center;
}

.button, .select-field__option {
  background-color: var(--color-background-button);
  color: var(--color-text);
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0px 1px 4px var(--color-shadow);
  border: 1px solid var(--color-border);
  cursor: pointer;
  padding: 6px 12px;
}

.button:hover, .select-field__option:hover {
  background-color: var(--color-background-checkbox);
  opacity: 1;
}

.select-field__option:hover {
  box-shadow: 0px 0px 8px var(--color-border);
}

.select-field--primary {
  background-color: transparent;
  border: none;
}

.settings__content {
  background-color: var(--color-background-base);
  color: var(--color-text);
  box-shadow: 0px 1px 4px var(--color-shadow);
  backdrop-filter: var(--mica-blur);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.edit-profile-modal__avatar-container,
.edit-profile-modal__avatar-overlay,
.profile-avatar,
.profile-avatar__image,
.profile-hero__avatar-button {
  border-radius: 50%;
}

.profile-hero__avatar-button {
  border: 0px;
}

.profile-hero__background-overlay{
  border-radius: 10px 10px 0 0;
}

.profile-hero__background-image {
  background-color: transparent;
  border-radius: 10px;
}

.profile-hero__user-information {
  padding: 12px;
}

.profile-hero__hero-panel--transparent {
  background-color: transparent;
}

.sidebar-profile {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--color-background-base);
  backdrop-filter: var(--mica-blur);
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 9px;
  top: -65px;
}

.sidebar-profile__button,
.sidebar-profile__friends-button {
  background-color: rgb(19, 22, 27);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.sidebar-profile__button:hover,
.sidebar-profile__friends-button:hover {
  background-color: rgb(0, 70, 100);
}

.sidebar-profile__button {
  border-right: none;
}

.sidebar-profile__friends-button {
  margin-left: -8px;
  border-radius: 0px 20px 20px 0px;
}

.game-item {
  background-color: var(--color-background-base2);
  backdrop-filter: var(--mica-blur);
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.game-item:hover, .achievements__list li:hover {
  background-color: rgba(40, 45, 50, 0.6);
  backdrop-filter: var(--mica-blur);
  border: 1px solid var(--color-border);
}

.catalogue__games-container {
  display: inline-block;
  width: 100%;
}

.catalogue__pagination-container {
  clear: both;
  width: 450px;
  margin: 10px auto;
}

.game-item__details {
  width: 100%;
  padding: 5px;
}

.game-item__details span {
  font-size: 14px;
}

.game-item img {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.game-item__details .game-item__genres {
  font-size: 11px;
  padding-bottom: 5px;
}

.checkbox-field__checkbox {
  background-color: var(--color-background-checkbox-off);
  color: var(--color-text);
  box-shadow: 0px 1px 4px var(--color-shadow);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.checkbox-field__checkbox:checked {
  background-color: var(--color-background-checkbox);
}

.repacks-modal__repack-button:hover {
  background-color: var(--color-border);
}

.sidebar-profile__friends-button-badge {
  border-color: var(--color-background-scrollbar-thumb);
  background-color: var(--color-background-scrollbar-thumb);
}

.badge {
  border: 1px solid rgba(0, 180, 255, 0.3);
  background-color: transparent;
  backdrop-filter: var(--mica-blur);
  border-radius: 8px;
}

.game-item__repackers {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: -3px;
  font-size: 8px;
}

.requirement__button-container button {
  margin: 5px;
}

.bottom-panel__version-button,
.bottom-panel__downloads-button {
  font-weight: 500;
}

.bottom-panel__version-button small::after {
  font-weight: 600;
  background: linear-gradient(to right, rgb(0, 180, 255) 0%, rgb(0, 120, 200) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: " NEVERBUY v1"; /* Ajustado para o nome da interface */
}

.settings__container {
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.settings__container:after {
  text-align: center;
  font-weight: 600;
  color: rgb(0, 180, 255);
  content: "NEVERBUY © nxty.cc"; /* Ajustado para o nome da interface */
  padding-top: 5px;
  padding-left: 2px;
  text-shadow: 0px 1px 2px var(--color-shadow);
}

.button--primary {
  background-color: var(--color-background-scrollbar-thumb);
  border: 1px solid var(--color-border);
}

.button--danger {
  background-color: #691416;
  border: 1px solid #b3203f;
}

.button--danger:hover {
  background-color: #911919;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-background-base);
  backdrop-filter: var(--mica-blur);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-background-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-border);
}

.downloads__container {
  padding: 12px;
}

.downloads__arrow-icon,
.profile-content__telescope-icon {
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
}

.download-group__downloads {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
}

.download-group__downloads li {
  background-color: var(--color-background-base);
  color: var(--color-text);
  box-shadow: 0px 1px 4px var(--color-shadow);
  padding: 12px;
  backdrop-filter: var(--mica-blur);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.download-group__details {
  text-align: left;
}

.download-group__right-content,
.download-group__cover,
.download-group__cover-content,
.download-group__cover-backdrop,
.download-group__cover-image {
  background: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.home__content {
  padding: 12px;
  margin-top: 5px;
}

.home__title-icon {
  top: 5px;
  left: 5px;
}

.hero, .game-card {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 1px 4px var(--color-shadow);
  backdrop-filter: var(--mica-blur);
}

.hero-panel__progress-bar,
.achievements-content__user-summary__container__stats__progress-bar {
  -webkit-appearance: none;
  appearance: none;
}

.hero-panel__progress-bar::-webkit-progress-bar,
.achievements-content__user-summary__container__stats__progress-bar::-webkit-progress-bar {
  background-color: var(--color-background-dark);
}

.hero-panel__progress-bar::-webkit-progress-value,
.achievements-content__user-summary__container__stats__progress-bar::-webkit-progress-value {
  background-color: transparent;
}

.settings-appearance__themes {
  display: block;
  width: 100%;
}

.theme-card {
  background-color: transparent;
  color: var(--color-text);
  box-shadow: 0px 1px 6px var(--color-shadow);
  backdrop-filter: var(--mica-blur);
  margin-bottom: 5px;
  float: left;
}

.theme-card--active {
  border: 1px solid var(--color-border);
}

.achievements__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.achievements__list li {
  background-color: var(--color-background-dark);
}

.game-details__description-content,
.content-sidebar {
  background-color: var(--color-background-base);
}

.game-details__description-container {
  background: none;
}

.description-header,
.achievement-panel {
  background-color: var(--color-background-dark);
  border-bottom: 8px solid var(--color-border);
}

.user-library-game__wrapper {
  background-color: transparent;
  border-radius: 10px;
}

.profile-content__games-grid {
  gap: 8px;
}

.user-stats__list-item,
.recent-games__list-item,
.friends-box__list-item {
  border-radius: 8px;
}

@media (min-width: 1500px) {
  .game-item {
    width: 99%;
  }
  .game-item__repackers {
    margin-top: 12px;
  }
  .game-item__repackers .badge {
    padding: 5px;
    font-size: 10px;
  }
  .settings__container {
    padding: 20px;
  }
  .achievements__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1250px) {
  .download-group__downloads {
    display: block;
  }
  .download-group__downloads li {
    margin-bottom: 5px;
  }
  .achievements__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}