.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
  -webkit-text-fill-color: #ffabab;
}

body {
  color: #ffabab;
}

#root {
  background: url(https://img.goodfon.com/wallpaper/nbig/1/b7/akame-ubiitsa-akame-devushka-anime-art.webp)
    #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.downloads__container .downloads__groups .download-group__title {
  color: #ffabab;
}

.sidebar__content .sidebar__section {
  color: #ffabab;
}

.sidebar__content .sidebar__section .sidebar__menu-item-button {
  color: #ffabab;
}

.user-stats__box {
  -webkit-text-fill-color: #ffabab;
}

.user-stats__stats-row {
  color: #ffabab;
}

.sidebar-profile__button-content {
  -webkit-text-fill-color: #ffabab;
}

.profile-hero__user-information {
  -webkit-text-fill-color: #ffabab;
}
.container .header__title {
  color: #ffabab;
}

.container__content .settings-appearance__themes .theme-card {
  background: #2b000044;
}

.friends-box__friend-details {
  -webkit-text-fill-color: #ffabab;
}

.recent-games__game-details {
  -webkit-text-fill-color: #ffabab;
}

.recent-games__game-description {
  color: #ffabab;
}

.hero-panel {
  background: #00000088 !important;
}

.game-details__description-container {
  background: #00000066;
}

.game-details__description-container .description-header {
  background: #00000066;
}

.game-details__description-container .content-sidebar {
  background: #00000066;
}

.game-details__description-container .content-sidebar .sidebar-section__button {
  background: #00000088;
}

.header__search {
  background-color: #350200;
  color: #7c0400;
}

.game-item {
  color: #e98a8a;
  background-color: rgba(66, 18, 18, 0.8) !important;
}

.settings__content {
  background-color: rgba(0, 0, 0, 0.4);
  color: #e98a8a;
}

.container .settings__content .button--primary {
  -webkit-text-fill-color: #ffffffa8;
  background: #330101;
}

.user-stats__box {
  background: rgba(0, 0, 0, 0.4);
}

.recent-games__box {
  background: rgba(0, 0, 0, 0.4);
}

.friends-box__box {
  background: rgba(0, 0, 0, 0.4);
}

.text-field-container__text-field--dark {
  background: rgba(0, 0, 0, 0.4);
}

.text-field-container__text-field--primary {
  background: rgba(0, 0, 0, 0.4);
}

.catalogue__filters-container {
  background: rgba(0, 0, 0, 0);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(66, 18, 18, 0.8);
}

.settings-download-sources__item {
  background: rgba(0, 0, 0, 0);
}

.download-group__item {
  background: rgba(0, 0, 0, 0);
}

.game-item {
  background-color: rgba(66, 18, 18, 0.8) !important;
}

::-webkit-file-upload-button {
  background-color: rgba(66, 18, 18, 0.8) !important;
}

.home__buttons-list .button--primary {
  -webkit-text-fill-color: #ffffffa8;
  background: #330101;
}

.achievement-notification__outer-container {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages8.alphacoders.com%2F549%2F549452.jpg&f=1&nofb=1&ipt=b31e5684fe7fd16083cffe0dec0255f256c3c5ec95ca0b741aad27000f303425);
  -webkit-text-fill-color: #ff0000;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.achievement-notification__container {
  background-color: transparent;
}
