/*
     Custom Hydra Theme CSS
     Documentation: https://docs.hydralauncher.gg/
 */
 
 /* Set transparent background for key elements */
 .sidebar,
 .header,
 .container__content,
 .bottom-panel {
     background: transparent;
 }
 
 /* Set background image for the root element */
 #root {
     background-image: url('https://papers.co/wallpaper/papers.co-ab55-wallpaper-batman-logo-dark-shattered-36-3840x2400-4k-wallpaper.jpg');
     background-size: cover;
     background-position: center;
 }
 
 /* Apply a dark theme with blur effect */
 .text-field-container__text-field--dark,
 .text-field-container__text-field--primary,
 .header__search,
 .settings-download-sources__item,
 .download-group__item,
 .settings__content,
 .catalogue__filters-container,
 .friends-box__box,
 .user-stats__box,
 .recent-games__box,
 .sidebar,
 .game-item {
     background-color: #06040f !important;
     backdrop-filter: blur(10px);
     border: 1px solid rgba(0, 0, 0, 0.5);
 }
 
 /* Apply styling for outline buttons */
 .container__content .button--outline {
     backdrop-filter: blur(10px);
     background-color: #06040f;
     border: 1px solid rgba(0, 0, 0, 0.5);
 }