.sidebar,
.header,
.container__content,
.sidebar-profile,
.bottom-panel__downloads-button {
  background: transparent;
  color: #fff;
}

.button {
  background-color: rgba(0, 119, 255, 1);
  color: #fff;
}

.sidebar {
  background-color: rgba(0, 119, 255, 0.74);
}

body {
  color: rgba(0, 119, 255, 1);
}

::placeholder {
  color: #fff;
}

.title-bar {
  background: linear-gradient(180deg, #ffffff, #5bb0ff);
  background-clip: text;
}

.container,
.sidebar__menu-item,
input,
.filter-item__remove-button,
.sidebar-profile__button-title,
.header__back-button,
.recent-games__list-item,
.recent-games__game-title,
.recent-games__game-description,
.filter-section__clear-button {
  color: #fff;
}

.bottom-panel,
.sidebar-profile__friends-button {
  background-color: rgba(0, 119, 255, 1);
  color: #fff;
}

.profile__wrapper {
  background-color: rgba(0, 119, 255, 0.3);
}

#root {
  background: url(https://images5.alphacoders.com/896/896569.png) #000;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: rgba(250, 250, 250, 0.651);
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.how-long-to-beat__categories-list {
  background-color: rgba(0, 119, 255, 0.2);
  color: #fff;
}

.user-stats__list,
.user-stats__list-item,
.user-stats__link,
.how-long-to-beat__category,
.how-long-to-beat__category-label,
.bottom-panel__version-button {
  color: #fff;
}

.game-details__description-container,
.description-header
{
  background: transparent;
  background-color: rgba(0, 102, 255, 0.6);
}

.hero-panel,
.content-sidebar,
.filter-item,
.sidebar-section__button,
.game-details__cloud-sync-button,
.user-stats__box,
.recent-games__box {
  background-color: rgba(0, 119, 255, 0.6) ;
  color: #fff;
}

.badge,
.game-item__genres,
.theme-card__header__title,
.theme-card__author,
.theme-card__author__name,
.select-field__label,
.download-group__title,
.link {
  color: #fff;
}

.checkbox-field__checkbox {
  background-color: rgba(0, 110, 255, 1);
}

.container__content,
.button--outline,
.select-field__option,
.checkbox-field__input,
.dropdown-menu__content {
  background-color: rgba(0, 110, 255, 0.2);
  color: #fff;
}

.theme-card--active {
  background-color: rgba(0, 183, 255, 0.2);
}

.checkbox-field__input {
  color: #fff;
  background-color: rgba(0, 102, 255, 0.2) ;
}

.settings-download-sources__item,
.download-group__item,
.game-item,
.modal,
.game-details__description-content{
  background-color: rgb(0, 102, 255, 0.3) ;
  color: #fff;
}
