@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
  font-family: 'Noto Serif JP', serif;
  color: #f8f8f2;
  background: #121212;
}


/*mudar nome do hydra*/
.title-bar::before {
  content: "VAGABOND | 平和";
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #9444ad, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate;
  display: block;
  text-align: left;
}

.title-bar h4 {
  visibility: hidden;
}

#root {
  background: url(https://images.alphacoders.com/130/1308512.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  backdrop-filter: blur(8px);
}

.sidebar, .header, .container__content, .bottom-panel {
  background: rgba(30, 30, 30, 0.85);
  border: 1px solid rgba(200, 200, 200, 0.2);
  border-radius: 8px;
  padding: 10px;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(50, 50, 50, 0.9) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

.container__content .button--outline {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.3s;
}

.container__content .button--outline:hover {
  background-color: white !important;
  color: black;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(50, 50, 50, 0.9) !important;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

/*
一枚の葉に気を取られると、木が見えなくなる。
一本の木に気を取られると、森全体が見えなくなる。
一つの点にこだわりすぎないでください。
*/
