.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #f0efef;
}

#root {
  background: url(https://64.media.tumblr.com/360de8127970e6cddadb3cbb1847255f/16f07b618f02a5de-81/s2048x3072/19c676dbd1f8f0527fb6e861b5b331ecbc02de99.gifv) #2c2323;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  -background-color: rgba(0, 0, 0, 0.555) !important;
  -webkit-backdrop-filter: blur(5px);
  -backdrop-filter: blur(5px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(214, 27, 27, 0.603);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.308) !important;
}

.title-bar {
  background-color: rgba(65, 10, 10, 0.849);
}

.home__content {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.bottom-panel {
  background-color: rgba(65, 10, 10, 0.849);
}