.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #ff4d4d;
}

#root {
  background: url('https://wallpapercave.com/wp/wp9848966.jpg') #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.settings-download-sources__item,
.download-group__item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(50, 0, 0, 0.8) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 77, 77, 0.5);
}

.container__content .button--outline {
  backdrop-filter: blur(10px);
  background-color: rgba(50, 0, 0, 0.5);
  border: 1px solid rgba(255, 77, 77, 0.5);
  color: #ff4d4d;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(50, 0, 0, 0.6) !important;
  border: 1px solid rgba(255, 77, 77, 0.5);
}