.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #ff0000;
}

#root {
  background: url('https://images2.alphacoders.com/554/thumb-1920-554300.jpg') #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.settings-download-sources__item,
.download-group__item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(40, 0, 0, 0.8) !important;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.container__content .button--outline {
  backdrop-filter: blur(15px);
  background-color: rgba(40, 0, 0, 0.6);
  border: 1px solid rgba(255, 0, 0, 0.5);
  color: #ff0000;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(40, 0, 0, 0.7) !important;
  border: 1px solid rgba(255, 0, 0, 0.5);
}
