#root {
    background: #150e3a url("https://i.imgur.com/qcYIHYl.png") no-repeat center center;
    background-size: cover;
}


.sidebar,
.header,
.container__content,
.bottom-panel {
    background: transparent !important;
}


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
    background-color: rgba(39, 12, 112, 0.25) !important;
    backdrop-filter: blur(8px);
}

.container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(39, 12, 112, 0.25);
}


.settings-download-sources__item,
.download-group__item,
.game-item {
    background-color: rgba(37, 11, 107, 0.336) !important;
}


.title-bar {
    background-color: #000000;
}


.home__content {
    background-color: rgba(15, 5, 46, 0.322);
    backdrop-filter: blur(2px);
}

.bottom-panel {
    background-color: rgba(39, 12, 112, 0.25);
}

body {
    font-family: 'Times, Times New Roman',serif;
}
