/* General styles */

body {
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 18px;  
  }
  
  /* Root element style */
  #root {
    background: url(https://pbs.twimg.com/media/Gj1mt7GW8AArW7u.jpg:large) #000000;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Transparent backgrounds */
  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background-color: rgba(0, 0, 0, 0);
  }
  
  /* Styled elements with blur effect and borders */
  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {
    background-color: rgba(0, 0, 0, 0.521);
    backdrop-filter: blur(2px);
    border: 0.5px solid #05b1f5;
    border-radius: 30px;
    padding: 10px 50px;
    color: #ffffff;
    
  }
  
  /* Container content buttons */
  .container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.603);
    
  }
  
  /* Items with semi-transparent background */
  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(0, 0, 0, 0.308);
    
  }
  
  /* Title bar with blur effect */
  .title-bar {
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
  }
  
  /* Home content */
  .home__content {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center; 
  
  }
  
  /* Bottom panel */
  .bottom-panel {
    background-color: rgba(0, 0, 0, 0.849);
  }
  
  /* Button styles */
  .button {
    border: 2px solid #05b1f5;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #0b2763;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Button hover effect */
  .button:hover {
    background-color: #057aff;
    color: #ffffff;
  }
  
  /* Button active effect */
  .button:active {
    transform: scale(0.95);
  }