#root {
  background: #000; /* Fallback */
  background-image: url(https://images.hdqwalls.com/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar,
.header,
.bottom-panel {
  -webkit-backdrop-filter: blur(8px); /* Compatibilidade com navegadores baseados em WebKit */
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.home__content,
.container__content {
  background: rgba(0, 0, 0, 0.178);
}
