/* i like code and coffee. and yes i'm a masochist for doing this in css, yes, thank you. */
body {
    overflow: unset;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
}
.title-bar h4 {
    display: none;
}
.sidebar {
    position: absolute;
    height: 100%;
    width: 100% !important;
    max-width: none !important;
    max-height: 100% !important;
    padding-top: 0;
}
.sidebar-profile {
    padding: 40px;
    padding-top: 20px;
}
.sidebar-profile__button {
    border-radius: 100%;
    padding: 4px;
}
.profile-avatar {
    border-radius: 100%;
}
.sidebar-profile__button {
    width: auto;
}
.profile-avatar__image {
    border-radius: 100%;
    border: 1px solid #FFFFFF;
}
.sidebar-profile__button-information {
    display: none;
}
.sidebar__container {
    display: flex;
    flex-direction: column;
}
.sidebar__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0px;
    gap: 42px;
}
.sidebar__section-title {
    display: none;
}
.sidebar__section .text-field-container {
    display: none;
}
.sidebar__menu::-webkit-scrollbar {
    height: 0px;
}
.sidebar__menu-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.sidebar__menu {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap: 12px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    padding-left: 60px;
}
.sidebar__section:nth-child(1) {
    align-items: center;
}
.sidebar__section:nth-child(2) .sidebar__menu-item .sidebar__menu-item-button {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 auto;
    width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 0px;
    padding: 0px;
}
.sidebar__content:nth-child(2) .sidebar__section:nth-child(2) .sidebar__menu-item .sidebar__menu-item-button .sidebar__game-icon:hover {
    border: 6px solid #43D6DF;
    background-color: transparent;
    transition: none;
}
.sidebar__section:nth-child(2) .sidebar__menu-item:hover {
    background: transparent;
}
.sidebar__menu-item--active {
    background: transparent;
}
.sidebar__menu-item--active .sidebar__menu-item-button .sidebar__game-icon {
    border: 6px solid #43D6DF;
    background-color: transparent;
    transition: none;
}
.sidebar__menu-item-button-label {
    color: #43D6DF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}
.sidebar__menu-item-button:hover .sidebar__menu-item-button-label {
    opacity: 1;
    visibility: visible;
}
.sidebar__menu-item--active .sidebar__menu-item-button .sidebar__menu-item-button-label {
    opacity: 1;
    visibility: visible;
}
.sidebar__menu-item-button:hover .sidebar__menu-item-button-label {
    display: block;
}
.sidebar__game-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}
.sidebar__section:nth-child(1) .sidebar__menu .sidebar__menu-item {
    background-color: #505050;
    transition: none;
    border-radius: 100%;
    border: 6px solid transparent;
    padding: 6px;
}
.sidebar__section:nth-child(1) .sidebar__menu .sidebar__menu-item .sidebar__menu-item-button span {
    display: none;
}
.sidebar__section:nth-child(1) .sidebar__menu .sidebar__menu-item--active {
    border: 6px solid #43D6DF;
}
.container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-top: 1px solid gray;
}
.bottom-panel {
    display: none;
}