:root {
    --color-white: #fff;
    --color-primary: #f12711;
    --color-secondary: #f5af19;
    --color-background: #0a0a0a;
}

body {
    background-color: var(--color-background);
}

.header {
    border: none;
    background-color: var(--color-background);
}

.sidebar__content, .home__content, .sidebar, .bottom-panel, .catalogue, .downloads__no-downloads, .settings__container, .profile-content__section, .game-details__description, .gallery-slider__container, .list, .stats__section, .how-long-to-beat__categories-list, .requirement__details, .content-sidebar  {
    background-color: var(--color-background);
}

.title-bar h4 {
    background: var(--color-white);
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.sidebar-profile__button-title {
    background: var(--color-white);
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar__menu-item-button svg {
    fill: var(--color-secondary);
}

