body {
  color: #ffffff;
  background: #000 url(https://images.unsplash.com/photo-1739477021967-e14dc3938e56?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center top;
  background-size: cover;
}

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(75, 71, 71, 0.3) !important;
}

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar,
.container__content .button--outline {
  backdrop-filter: blur(3px);
  background-color: rgba(14, 12, 12, 0.3);
}
