
  /*
    Here you can edit CSS for your theme and apply it on Hydra.
    There are a few classes already in place, you can use them to style the launcher.

    If you want to learn more about how to run Hydra in dev mode (which will allow you to inspect the DOM and view the classes)
    or how to publish your theme in the theme store, you can check the docs:
    https://docs.hydralauncher.gg/

    Happy hacking!
  */

  /* Body */

  main{
    background-image: url(https://wallpapercat.com/w/full/0/e/f/885-3840x2160-desktop-4k-the-last-of-us-game-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Header */
  .header {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
  backdrop-filter: blur(5px); /* Aplica o blur no que estiver atrás do elemento */
  -webkit-backdrop-filter: blur(5px); /* Suporte para Safari */
  padding: 20px;
  color: white;
  }

  /* Sidebar */
  .sidebar {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
  backdrop-filter: blur(5px); /* Aplica o blur no que estiver atrás do elemento */
  -webkit-backdrop-filter: blur(5px); /* Suporte para Safari */
  padding: 20px;
  color: white;
}


  /* Main content */
  .container__content{
    background: rgba(0, 0, 0, 0.7);
  }

  /* Bottom panel */
  .bottom-panel {
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Toast */
  .toast {
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Button */
  .button {}