@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  color: #00ffcc !important;
  background-color: #000000;
  font-family: 'Orbitron', sans-serif !important;
  text-shadow: 0 0 5px #00ffcc !important;
}

#root {
  background: url('https://i.imgur.com/vZI0YPJ.png') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  backdrop-filter: blur(5px);
  background: #000000ac;
  border: 1px solid #00ffcc;
  border-radius: 1px;
}

.header {
  backdrop-filter: blur(5px);
  background: #000000ac;
  border: 1px solid #00ffcc;
  border-radius: 1px;
}

.container__content {
  background: #000000ac;
  border: 1px solid #00ffcc;
  border-radius: 1px;
}

.bottom-panel {
  background: #000000ac;
  border: 1px solid #00ffcc;
  border-radius: 1px;
  backdrop-filter: blur(5px);
}


.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box {
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(5px);
  border: 1px solid #00ffcc;
  border-radius: 1px;
}

.container__content .button--outline {
  color: #00ffcc;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border: 2px solid #00ffcc;
}
.settings-download-sources__item,
.download-group__item {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border: 2px solid #00ffcc;
  color: #00ffcc;
  transition: all 0.3s ease-in-out;
}

.container__content .button--outline:hover {
  box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  background-color: rgba(0, 255, 204, 0.1);
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb {
  background: #00ffcc;
  border-radius: 10px;
}

a {
  color: #00ffcc;
  text-decoration: none;
}
a:hover {
  color: #00ffe0;
  text-shadow: 0 0 8px #00ffcc;
}