.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  /*color: #9e9e9e;*/
  color: #9bc1c2;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 50%;
    margin-inline-end: 50%;
    font-weight: bold;
    font-size: 30px;
    unicode-bidi: isolate;
}
.title-bar {
    display: flex;
    width: 100%;
    height: 55px;
    min-height: 35px;
    background-color: #151515;
    align-items: center;
    padding: 0 16px;
    -webkit-app-region: drag;
    z-index: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#root {
  background: url(https://i.imgur.com/a3jbqYO.png)
    #171246;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-color: blur(6px);
}
.background-image{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:url('https://i.imgur.com/a3jbqYO.png');
    background-size:cover;
    z-index:1;
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);   
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(19, 19, 22, 0.8) !important;
  backdrop-filter: blur(8px);
}


.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(19, 19, 22, 0.5);
  
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(19, 19, 22, 0.6) !important;
  backdrop-filter: blur(8px);
}