@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
  
  
}

.title-bar {
  font-size: 22px;
}

.sidebar-profile__button {
  border: 0.2px solid rgba(92, 89, 89, 0.637);
}

.sidebar__content {
  overflow: scroll;
}

* {
  color: rgba(0, 179, 211, 0.829);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  
}

#root {
  background: url(https://4kwallpapers.com/images/wallpapers/kakashi-hatake-naruto-amoled-black-background-artwork-5120x2880-6484.jpg)
    #ffffff00;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(8px);
  border: 0.2px solid rgba(92, 89, 89, 0.637);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.2px solid rgba(92, 89, 89, 0.637);
}

.button--primary {
  color: rgba(0, 179, 211, 0.829);
  background-color: rgba(63, 63, 63, 0.788);
  border: 0.2px solid rgba(92, 89, 89, 0.637);
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease, fill 0.9s ease;
}

.button:hover {
  background-color: rgba(0, 179, 211, 0.829);
  color: black;
  border: 0.2px solid rgba(92, 89, 89, 0.637);
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease, fill 0.9s ease;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(77, 77, 77, 0) !important;
  border: 0.5px solid rgba(3, 255, 255, 0.281);
  transition: background-color 0.9s ease, border-color 0.9s ease, fill 0.9s ease;
}

.button:hover svg {
  fill: rgba(63, 63, 63, 0.788);
  transition: fill 0.9s ease;
}

::-webkit-scrollbar {
  width: 0px; 
  height: 0px;
}
