/* Fundo geral com imagem personalizada */
body {
  background-image: url("https://i.imgur.com/LMML8uc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Deixa o conteúdo mais visível com fundo escuro semi-transparente */
.container__content,
.sidebar,
.header,
.bottom-panel,
.toast {
  background-color: rgba(87, 19, 19, 0.253);
  backdrop-filter: blur(2px);
  color: rgb(255, 255, 255);
}

/* Estilo para botões */
.button {
  background-color: rgba(219, 61, 61, 0.418);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgba(218, 18, 18, 0.2);
}