.sidebar,
.container__content {
  background: transparent;
}

body {
  color: #a9c7b0;
}

#root {
  background: url(https://wallpapercave.com/uwp/uwp4675925.jpeg)
    #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-panel,
.header {
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(9px);
}

.home__content,
.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(9px);
}

.container__content .button--outline {
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(24, 34, 26, 0.6) !important;
}