@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
  font-family: 'Noto Serif JP', serif;
  color: #f8f8f2; 
  background: #000000; 
}


.title-bar::before {
  content: "Berserk | 闇の力";
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #8b0000, #ff0000); 
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 1.5s infinite alternate;
  display: block;
  text-align: left;
}

.title-bar h4 {
  visibility: hidden;
}

#root {
  background: url(https://images8.alphacoders.com/125/1250406.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  backdrop-filter: blur(8px);
}


.sidebar, .header, .container__content, .bottom-panel {
  background: rgba(30, 30, 30, 0);
  border: 2px solid #8b000000; 
  border-radius: 8px;
  padding: 10px;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(40, 40, 40, 0.95) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 0, 0, 0.3); 
  border-radius: 8px;
}

.container__content .button--outline {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid #ff0000; 
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  transition: all 0.3s;
}

.container__content .button--outline:hover {
  background-color: #ff0000 !important; 
  color: black;
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(40, 40, 40, 0.95) !important;
  border: 1px solid #ff0000; 
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8); 
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
  100% {
    text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}
