.sidebar,
.header,
.container__content,
.catalogue__games-container,
.container__content .button--outline,
.bottom-panel {
  background: transparent;
  backdrop-filter: blur(8px);
}

body {
  color: #9e9e9e;
}

#root {
  background: #23365a url(https://i.ibb.co/s9WXyc14/image.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.title-bar {
  display: flex;
  width: 100%;
  height: 35px;
  min-height: 35px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  -webkit-app-region: drag;
  z-index: 4;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.title-bar::after {
  content: "ㅤ🐉";
}

.title-bar::before {
  content: "@light.xxz";
  opacity: 0.4;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);  
  position: absolute;
  right: 150px; 
  top: 50%;
  transform: translateY(-50%);
}

.bottom-panel {
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  background-color: rgba(35, 54, 90, 0.8) !important;
  backdrop-filter: blur(8px);
  padding: 4px 16px;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.sidebar-profile__friends-button {
  color: #c0c1c7;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  background-color: transparent !important;
  position: relative;
  transition: all ease 0.3s;
}

.modal {
  animation: scale-fade-in 0.2s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running;
  background-color: transparent !important;
  transition: 0.3s;
  border-radius: 4px;
  min-width: 400px;
  max-width: 600px;
  color: #8e919b;
  max-height: 100%;
  border: solid 1px rgba(255, 255, 255, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.catalogue__games-container {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  backdrop-filter: blur(8px);
  width: 100%;
  gap: 8px;
}

::-webkit-scrollbar {
  backdrop-filter: blur(8px);
  background-color: rgba(35, 54, 90, 0.8);
  border-radius: 24px;
}

.game-details__description-container {
    display: flex;
    width: 100%;
    flex: 1;
    background: linear-gradient(0deg, rgba(35, 54, 90, 0.8) 50%, rgba(35, 54, 90, 0.8) 100%);
}

.description-header,
.description-header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(35, 54, 90, 0.8);
  height: 72px;
}

.content-sidebar,
.content-sidebar {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  background-color: rgba(35, 54, 90, 0.1);
  width: 100%;
  height: 100%;
}

.sidebar-section__button,
.sidebar-section__button {
  height: 72px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  background-color: rgba(35, 54, 90, 0.1);
  color: #c0c1c7;
  width: 100%;
  cursor: pointer;
  transition: all ease 0.2s;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(35, 54, 90, 0.8) !important;
  backdrop-filter: blur(8px);
}

.container__content .button--outline {
  backdrop-filter: blur(8px);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
