
  .header,
  .sidebar,
  .container__content,
  .bottom-panel,
  .toast,
  .button,

body {
    margin: 0;
    color: #f0efef;
    font-family: Arial, sans-serif;

  }


  #root {
    background: #0b8307
      url("https://i.imgur.com/tpzJiZR.jpeg")
      no-repeat center center;
    background-size: cover;
    /* ghpzwZW 
      BdDv0nH*/
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(8px);

    }

  .container__content .button--outline {
    backdrop-filter: blur(6px);
    background-color: rgba(196, 152, 149, 0.25)
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(44, 43, 42, 0.65) !important;
  }


  .title-bar {
    background-color: #275c54;
  }


  .home__content {
    background-color: rgba(39, 92, 84, 0.25);
    backdrop-filter: blur(2px);
  }

  .bottom-panel {
    background-color: rgba(112, 12, 12, 0.25);
  }
