#root {
  background: url(https://i.postimg.cc/GtQm10tD/1354394.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button--dark,
.theme-card__actions__left,
.settings-download-sources__list .settings-download-sources__item,
.title-bar,
.sidebar,
.container__content,
.header,
.bottom-panel,
.text-field-container__text-field--dark,
.header__search,
.settings__container .settings__content,
.sidebar-profile__friends-button,
.game-item,
.catalogue__filters-container,
.user-stats__box,
.recent-games__box,
.friends-box__box {
  background: #0000001e;
  scrollbar-color: #691f1f #00000023;
  scrollbar-width: thin;
}

.settings__content,
.button--dark,
.button--outline,
.theme-card__author__name,
.theme-card__author,
.theme-card__header,
.theme-card__header__title,
.bottom-panel__downloads-button,
.bottom-panel__version-button,
.sidebar-profile__button-title,
.sidebar__section-title,
.header__title,
.sidebar__menu-item {
  color: #000000;
}

.button--dark {
  border: solid 1px rgb(0, 0, 0);
}

.button--dark:hover {
  background-color: #00000018;
}

.sidebar__content {
  scrollbar-width: thin;
}