
  /*
  theme: Biliee 
  description: Billie
  uptade: 02/28/25
  by: Prefeitura
  */



  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent;
  }


  
  .bottom-panel__version-button,
  .bottom-panel__downloads-button,
  .game-item__genres,
  .download-group__title,
  .header__section--left,
  .sidebar__menu-item,
  .sidebar,
  .badge,
  body {
    color: #f0f0f0;
  }
  
  

  #root {
    background: url(https://images.alphacoders.com/103/thumb-1920-1034320.jpg)
      #00000000;
    background-position: center;
    background-repeat: no-repeat;
  }



  .bottom-panel,
  .sidebar-profile__friends-button,
  .title-bar,
  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {
    background-color: rgba(0, 0, 0, 0.062) !important;
    backdrop-filter: blur(8px);
  }
  

  
  .container__content .button--outline {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.274);
  }
  
  

  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(0, 0, 0, 0.178) !important;
    backdrop-filter: blur(0px);
  }
  

  
  .profile-hero__hero-panel--transparent,
  .profile-hero__background-overlay--transparent{
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(0px);
  }
  

  
  .sidebar-profile__button-title {
      font-size: 0.9rem;
      font-weight: 800;
      color: white;
      white-space: normal; 
      word-wrap: break-word; 
  }
  


 .sidebar-profile__button:hover {
  transform: scale(1.08);
  backdrop-filter: blur 5px;
  transition: transform 0.3s ease, fill 0.3s ease;
}



.sidebar-profile__button-content {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  width: 100%;
}



.sidebar-profile__friends-button {
  background: transparent;
  width: 30px; 
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
  box-sizing: border-box; 
}



.sidebar-profile__friends-button:hover {
  transform: scale(1.2);
}
