.sidebar,
.header,
.container__content,
.bottom-panel {
  background: transparent;
}

body {
  color: #460000;
}

#root {
  background: url(https://cdn.discordapp.com/attachments/1259228845572362272/1340874047734677664/dexter.png?ex=67b3f1c5&is=67b2a045&hm=70f8f1e1da289da76a1ffd161c4b6d79f8dae3f96d17b9178f1edca6d7ca45cc&)
    #000;
  background-position: top;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,
.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: transparent(8px);
}

.container__content .button--outline {
  backdrop-filter: transparent(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-download-sources__item,
.download-group__item,
.game-item {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

